//
// Code (inline and block)
// --------------------------------------------------


// Inline and block code styles
code,
kbd,
pre,
samp {
  font-family: @monoFontFamily;
}

// Inline code
code {
  padding: 2px 4px;
  font-size: 90%;
  color: @code-color;
  background-color: @code-bg;
  border-radius: @border-radius-base;
}

.hljs {
  padding: .5em 2em;
}

pre {
  display: block;
  padding: 0;
  margin: 0 0 (@line-height-computed / 2);
}

pre > code {
  overflow: auto;
}
