.pl-color-swatch {
  font-weight: @font-weight-bold;
  float: left;
  width: 100%;
  padding: 20px;
  color: #FFF;
  text-shadow:  1px 1px fade(#000, 10);
}

//== Chart Colors
//
.fill-greengrey   { background-color: @fill-greengrey; }
.fill-moss        { background-color: @fill-moss; }
.fill-forestgreen { background-color: @fill-forestgreen; }
.fill-green       { background-color: @fill-green; }
.fill-lightgreen  { background-color: @fill-lightgreen; }
.fill-seafoam     { background-color: @fill-seafoam; }
.fill-blue        { background-color: @fill-blue; }
.fill-yellow      { background-color: @fill-yellow; }
.fill-orange      { background-color: @fill-orange; }
.fill-red         { background-color: @fill-red; }
