body {
  margin: 0;
}

html.cyclops {
  .img-thumbnail {
    max-width: 100%;
    border: 1px solid @borderColor;
    padding: 7px;
  }

  .cyclops-hero {
    padding: 60px 40px 40px;
    margin-bottom: 40px;
    text-align: center;
    border-bottom: 1px solid lighten(@grayLight, 25%);
    
    .logo {
      width: 100px;
      margin: 0 auto;
    }

    h1 {
      letter-spacing: 15px;
      font-weight: 600;
    }

    .lead {
      margin-bottom: 40px;
    }
  }

  .pl-section {
    margin-bottom: 70px;
    
    h1 a {
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .primary-container {
    background-color: @body-bg;
    border-radius: 5px;
    padding: 20px;
  }

  .pl-options {
    border: 1px solid @borderColor;
    padding: 40px 20px 20px;
    
    &:after {
      position: absolute;
      top: 15px;
      left: 20px;
      color: @textColorLighter;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      content: "Options";
    }
  }

  .pl-example {
    border: 1px solid @borderColor;
    background: @white;
    padding: 40px 20px 20px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 25px;
    position: relative;
    
    .container {
      width: auto;
    }

    &:after {
      position: absolute;
      top: 15px;
      left: 20px;
      color: @textColorLighter;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      content: "Example";
    }

    .nav.nav-stacked {
      max-width: 300px;
    }

    >.btn {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .pl-actions {
    margin: 10px 0;
  }

  .pl-show-grid-container {
    padding: 0 20px;
  }

  .pl-show-grid {
    margin-bottom: 15px;
    
    [class^=col-] {
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #eee;
      border: 1px solid #ddd;
    }
  }

  .icon-display {
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid @borderColor;
    
    &:hover {
      background-color: @white;
    }
  }
}