.tokens {
	tr {
		td {
			&:first-child {
				width: 40%;
			}
		}
	}
}

.token-value {
	width: 60%;
}

.token-example-font {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.token-color-box {
  width: 3em;
  height: 3em;
  margin-bottom: @line-height-computed;
}

.token-color-box--border {
  border-width: 2px;
  border-style: solid;
}
