<h1 class="content-header">H1 36pt Open Sans Light
	<small>h1 small text</small>
</h1>
<h2 class="content-header">H2 30pt Open Sans Light
	<small>h2 small text</small>
</h2>
<h3 class="content-header">H3 24pt Open Sans Light
	<small>h3 small text</small>
</h3>
<h4 class="content-header">H4 18pt Open Sans Light
	<small>h4 small text</small>
</h4>
<h5 class="content-header">H5 13pt Open Sans Light
	<small>h5 small text</small>
</h5>
<h6 class="content-header">H6 12pt Open Sans Light
	<small>h6 small text</small>
</h6>
