<div class="row">
	<div class="col-sm-6">
		<div class="card card-block" style="max-width: none;">
			<h3 class="card-title">Card Title</h3>
			<p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
			<a href="#" class="btn btn-primary">button</a>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card card-block" style="max-width: none;">
			<h3 class="card-title">Card Title</h3>
			<p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
			<a href="#" class="btn btn-primary">button</a>
		</div>
	</div>
</div>
