<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="alert alert-success">
        <h4>Success!</h4>
        <p>This is a card inline alert message.</p>
      </div>
      <div class="card-block">
        <p class="card-text">The rest of the card...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <div class="alert alert-info">
          <div class="alert-icon">
            <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-info-circle' /></svg>
          </div>
          <p>This is an alert message inside a card-block.</p>
        </div>
        <p class="card-text">The rest of the card...</p>
      </div>
    </div>
  </div>
</div>
