<div class="row">
	<div class="col-sm-6">
	<div class="card card-success" style="max-width: none;">
		<div class="card-block">
			<h4 class="card-title">Card Success</h4>
			<h5 class="card-subtitle">Card subtitle</h5>
			<p class="card-text">Example paragraph text to show how it's displayed within a card. <a href="#" class="card-link">Link Text</a></p>
		</div>
	</div>
	</div>
	<div class="col-sm-6">
	<div class="card card-info" style="max-width: none;">
		<div class="card-block">
			<h4 class="card-title">Card Info</h4>
			<h5 class="card-subtitle">Support card subtitle</h5>
			<p class="card-text">Example paragraph text to show how it's displayed within a card. <a href="#" class="card-link">Link Text</a></p>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
	<div class="card card-warning" style="max-width: none;">
		<div class="card-block">
			<h4 class="card-title">Card Warning</h4>
			<h5 class="card-subtitle">Support card subtitle</h5>
			<p class="card-text">Example paragraph text to show how it's displayed within a card. <a href="#" class="card-link">Link Text</a></p>
		</div>
	</div>
	</div>
	<div class="col-sm-6">
		<div class="card card-danger" style="max-width: none;">
			<div class="card-block">
				<h4 class="card-title">Card Danger</h4>
				<h5 class="card-subtitle">Support card subtitle</h5>
				<p class="card-text">Example paragraph text to show how it's displayed within a card. <a href="#" class="card-link">Link Text</a></p>
			</div>
		</div>
	</div>
</div>
