<script type="text/html" id="cyclops.leftNav">
  <div class="menu">
    <button class="scroll-up btn btn-link hide" data-bind="click: scrollUpHandler"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-up'></svg></button>
    <ol class="items">
      <li>
        <button class="btn" data-bind="click: open">
          <svg class="cyclops-icon md"><use xlink:href='#icon-circle-o'></svg>
          Create
        </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-appfog'></svg>
        AppFog  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-infrastructure'></svg>
        Infrastructure  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-firewall'></svg>
        One  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-folder'></svg>
        Two  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-netx'></svg>
        Three  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-git'></svg>
        Four  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-hyperscale'></svg>
        Five  </button>
      </li>
      <li>  <button class="btn" data-bind="click: open">
        <svg class="cyclops-icon md"><use xlink:href='#icon-heart'></svg>
        Six  </button>
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-global-network'></svg>
        Seven
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-bell'></svg>
        Eight
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-book'></svg>
        Nine
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-calendar'></svg>
        Ten
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-archive'></svg>
        Eleven
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-automation'></svg>
        Tweleve
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-api'></svg>
        Thirteen
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-ban'></svg>
        Fourteen
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-backup'></svg>
        Fifteen
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-firewall'></svg>
        One
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-folder'></svg>
        Two
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-netx'></svg>
        Three
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-git'></svg>
        Four
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-hyperscale'></svg>
        Five
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-heart'></svg>
        Six
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-global-network'></svg>
        Seven
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-bell'></svg>
        Eight
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-book'></svg>
        Nine
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-calendar'></svg>
        Ten
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-archive'></svg>
        Eleven
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-automation'></svg>
        Tweleve
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-api'></svg>
        Thirteen
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-ban'></svg>
        Fourteen
      </li>
      <li>
        <svg class="cyclops-icon md"><use xlink:href='#icon-backup'></svg>
        Fifteen
      </li>
    </ol>
    <button class="scroll-down btn btn-link" data-bind="click: scrollDownHandler"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-down'></svg></button>
  </div>
  <div class="flyout-menu open">
    <div class="header clear-fix">
      <button class="pull-right btn btn-link" data-bind="click: close">
        <svg class="cyclops-icon"><use xlink:href='#icon-angle-left'></svg>
      </button>
    </div>
    <ol class="items">
      <li>
        <a href="#">Servers</a>
      </li>
      <li>
        <a href="#">Policies</a>
      </li>
    </ol>
  </div>
</script>
