<script type="text/html" id="cyclops.leftNav">
  <div class="left-nav-menu">
    <button class="scroll-up btn btn-link hide" data-bind="click: scrollUpHandler"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-up'></svg></button>
    <!-- ko empty: menus -->
    <!-- ko if: hasErrored -->
    <div class="error" title="unable to fetch">
      <svg class="cyclops-icon"><use xlink:href="#icon-exclamation-circle"></svg>
      unabel to fetch
    </div>
    <!-- /ko -->
    <!-- ko if: isLoading -->
    <div class="loading" title="fetching menus">
      <svg class="cyclops-icon"><use xlink:href="#icon-ellipsis"></svg>
      Fetching Menus
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <ol class="leftnav-menu-items" data-bind="foreach: menus">
      <li data-bind="css: {'open': isFlyoutOpen, 'selected': isSelected}, template: templateName, title: name"></li>
    </ol>
    <button class="scroll-down btn btn-link" data-bind="click: scrollDownHandler"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-down'></svg></button>
  </div>
  <!-- ko template:{name: 'cyclops.leftNav.menuItem.flyout', foreach: menus} -->
  <!-- /ko -->
</script>


<script type="text/html" id="cyclops.leftNav.menuItem.button">
  <button class="btn" data-bind="click: $component.selectFlyout">
    <svg class="cyclops-icon"><use xlink:href='#icon-question' data-bind="attr: {'xlink:href': icon}"></svg>
    <span class="left-nav-label" data-bind="text: name"></span>
  </button>
</script>

<script type="text/html" id="cyclops.leftNav.menuItem.href">
  <a data-bind="href: href">
    <svg class="cyclops-icon"><use xlink:href='#icon-question' data-bind="attr: {'xlink:href': icon}"></svg>
    <span class="left-nav-label" data-bind="text: name"></span>
  </a>
</script>

<script type="text/html" id="cyclops.leftNav.menuItem.flyout">
  <!-- ko if: adminFlyoutItems().length > 0 ||  normalFlyoutItems().length > 0-->
  <div class="left-nav-flyout-menu" data-bind="css: {'open': isFlyoutOpen }">
    <div class="header clear-fix">
      <button class="pull-right btn btn-link close" data-bind="click: $component.selectFlyout">
        <svg class="cyclops-icon"><use xlink:href='#icon-times'></svg>
      </button>
    </div>
    <ol class="items" data-bind="foreach: normalFlyoutItems">
      <li data-bind="css: {'selected': isSelected}">
        <a data-bind="href: href">
          <h3 data-bind="text: name">&hellip;</h3>
          <p data-bind="text: description">&hellip;</p>
          <!-- ko if: hasRibbon -->
          <div class="ribbon">
            <span data-bind="text: ribbonText"></span>
          </div>
          <!-- /ko -->
        </a>
      </li>
    </ol>
    <!-- ko any: adminFlyoutItems -->
    <h2 class="divider">System Admin Only</h2>
    <ol class="items" data-bind="foreach: adminFlyoutItems">
      <li data-bind="css: {'selected': isSelected}">
        <a data-bind="href: href">
          <h3 data-bind="text: name">&hellip;</h3>
          <p data-bind="text: description">&hellip;</p>
          <!-- ko if: hasRibbon -->
          <div class="ribbon">
            <span data-bind="text: ribbonText"></span>
          </div>
          <!-- /ko -->
        </a>
      </li>
    </ol>
    <!-- /ko -->
  </div>
  <!-- /ko -->
</script>
