<script id="cyclops.showPassword" type="text/html">
  <span data-bind="event: { mouseover: mouseOver, mouseout: mouseExit }">
    <!-- ko if: !showPassword() && !loading() -->
    <button class="btn btn-no-style" title="show password" data-bind="click: clickHandler">
      <svg class="cyclops-icon" >
        <use xlink:href='#icon-search'>
      </svg>
      &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
    </button>
    <!-- /ko -->

    <!-- ko if: loading -->
    <svg class="cyclops-icon cyclops-spin">
      <use xlink:href='#icon-refresh'>
    </svg>
    fetching&hellip;
    <!-- /ko -->

    <!-- ko if: !loading() && showPassword() && !errored() -->
    <button class="btn btn-no-style" data-bind="click: clickHandler" title="hide password">
      <svg class="cyclops-icon">
        <use xlink:href='#icon-times'>
      </svg>
    </button>
    <span data-bind="text: password"></span>
    <!-- /ko -->

    <!-- ko if: !loading() && showPassword() && errored() -->
    <button class="btn btn-no-style" data-bind="click: retryHandler" title="retry">
      <svg class="cyclops-icon">
        <use xlink:href='#icon-times'>
      </svg>
      unable to fetch.
    </button>
    <!-- /ko -->

  </span>
</script>
