<script type="text/html" id="cyclops.slider">
  <!-- ko if: hasjQueryUi -->
   <div class="slider-container" data-bind="css: mainClasses">
        <div class="slider-tick-container" data-bind="if: canShowTicks">
            <!-- ko foreach: new Array(numberofTotalSteps()-1) -->
            <span class="slider-tick-mark" data-bind="style: { left: $parent.getTickMarginPercentage($index) }"></span>
            <!-- /ko -->
        </div>

        <div class="slider-track">
            <!-- ko if: value.committedValue -->
            <div class="slider-out-of-range">
                <div data-bind="style: getCommitedValueStyles()" class="slider-out-of-range-value">
                    <div class="slider-out-of-range-marker"></div>
                    <span class="slider-out-of-range-number" data-bind="text: value.committedValue "></span>
                </div>
            </div>
            <!-- /ko -->
            <span class="slider-min-bound-label" data-bind="text: minBound"></span>
            <span class="slider-max-bound-label" data-bind="text: maxBound"></span>
            <div class="slider-valid-track" data-bind="style: { marginLeft: validTrackLeftMargin, marginRight: validTrackRightMargin }">
                <div class="slider-value-fill" data-bind="style: { right: fillRightValue() }"></div>
                <div class="slider-handle2" data-bind="click: $.noop, style: { left: currentValuePercentage() + '%' }, attr: {title: possibleValue}, widget: {name: 'draggable', options: {'axis': 'x', 'containment': 'parent', 'disabled': disabled(), 'drag': dragHandler, 'stop' : dragStopHandler, 'start': dragStartHandler}}">
                    <div class="slider-tooltip tooltip top in fade">
                        <div class="tooltip-inner" data-bind="text: possibleValue"></div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 21 31" enable-background="new 0 0 21 31" xml:space="preserve">
                        <g>
                            <polygon class="handle-fill" fill="#FFFFFF" points="20,25.4 10.5,30 1,25.4 1,1 20,1" />
                        </g>
                        <g opacity="0.2">
                            <path d="M20,1v24.4l-9.5,4.5L1,25.4V1H20 M21,0H0v26l10.5,5L21,26V0L21,0z" />
                        </g>
                        <g>
                            <rect x="8" y="11" fill="#A7A9AC" width="1" height="1" />
                            <rect x="10" y="11" fill="#A7A9AC" width="1" height="1" />
                            <rect x="12" y="11" fill="#A7A9AC" width="1" height="1" />
                            <rect x="8" y="13" fill="#A7A9AC" width="1" height="1" />
                            <rect x="10" y="13" fill="#A7A9AC" width="1" height="1" />
                            <rect x="12" y="13" fill="#A7A9AC" width="1" height="1" />
                            <rect x="8" y="15" fill="#A7A9AC" width="1" height="1" />
                            <rect x="10" y="15" fill="#A7A9AC" width="1" height="1" />
                            <rect x="12" y="15" fill="#A7A9AC" width="1" height="1" />
                        </g>
                    </svg>
                </div>
            </div>
            <div class="slider-track-click" data-bind="style: { marginLeft: validTrackLeftMargin, marginRight: validTrackRightMargin }, click: trackClick"></div>
        </div>

    </div>
    <input class="form-control slider-text-input" type="number" data-bind="value: value, disable: disabled, attr: {min : min, max: max, step: step }" />
    <!-- ko if: outOfRangeMessage -->
    <div class="slider-out-of-range-message" data-bind="html: outOfRangeMessage"></div>
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko ifnot: hasjQueryUi -->
  <input class="form-control" type="number" data-bind="value: value, disable: disabled, attr: {min : min, max: max, step: step }" />
  <!-- /ko -->
</script>
