<script id="cyclops.toggle" type="text/html">
  <div class="toggle" data-bind="css: {'disabled': disabled}">
    <label>
      <input type="checkbox" data-bind="checked:value, disable: disabled" />
      <!-- https://css-tricks.com/webkit-sibling-bug/ -->
      <div class="bug-fix">
        <span class="text">
          <span class="affirmative" data-bind="text:affirmativeText">yes</span>
          <span class="negative" data-bind="text:negativeText">no</span>
        </span>
        <svg class="handle" height="32" viewBox="0 0 28 32">
          <g>
            <rect x="10" y="12" fill="#777777" width="1" height="1"/>
            <rect x="17" y="12" fill="#777777" width="1" height="1"/>
            <rect x="13.5" y="12" fill="#777777" width="1" height="1"/>
            <rect x="10" y="15.5" fill="#777777" width="1" height="1"/>
            <rect x="17" y="15.5" fill="#777777" width="1" height="1"/>
            <rect x="13.5" y="15.5" fill="#777777" width="1" height="1"/>
            <rect x="10" y="19" fill="#777777" width="1" height="1"/>
            <rect x="17" y="19" fill="#777777" width="1" height="1"/>
            <rect x="13.5" y="19" fill="#777777" width="1" height="1"/>
          </g>
        </svg>
      </div>
    </label>
  </div>
</script>
