<script id="cyclops.toggle" type="text/html">
  <div class="toggle" data-bind="css: {'disabled': disabled}">
    <label>
      <input type="checkbox" data-bind="checked:value, disable: disabled" />
      <!-- https://css-tricks.com/webkit-sibling-bug/ -->
      <div class="bug-fix">
        <span class="text">
          <span class="affirmative" data-bind="text:affirmativeText">yes</span>
          <span class="negative" data-bind="text:negativeText">no</span>
        </span>
        <svg class="handle" height="32" viewbox="0 0 21 31">
            <g>
                <rect x="8" y="11" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="10" y="11" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="12" y="11" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="8" y="13" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="10" y="13" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="12" y="13" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="8" y="15" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="10" y="15" fill="#A7A9AC" width="1" height="1"></rect>
                <rect x="12" y="15" fill="#A7A9AC" width="1" height="1"></rect>
            </g>
        </svg>
      </div>
    </label>
  </div>
</script>
