<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-100"><code>b-color-100</code> (default)</div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-200"><code>b-color-200</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-300"><code>b-color-300</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-400"><code>b-color-400</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-500"><code>b-color-500</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-600"><code>b-color-600</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-700"><code>b-color-700</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-800"><code>b-color-800</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-900"><code>b-color-900</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-success"><code>b-color-success</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-info"><code>b-color-info</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-warning"><code>b-color-warning</code></div>
<div class="p-t-xxs m-b-xs b-top b-width-3 b-color-danger"><code>b-color-danger</code></div>
