<button type="button" class="btn btn-default btn-lg"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-plus-circle' /></svg> add item</button>

<button type="button" class="btn btn-default"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-plus-circle' /></svg> add item</button>

<button type="button" class="btn btn-default btn-sm"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-plus-circle' /></svg> add item</button>

<button type="button" class="btn btn-default btn-mini"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-plus-circle' /></svg> add item</button>
