<div class="btn-group">
	<button class="btn btn-outline">first</button>
	<button class="btn btn-outline active">active</button>
	<button class="btn btn-outline">third</button>
	<div class="dropdown">
		<button type="button" class="btn btn-outline">
			dropdown
			<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
		</button>
		<ul class="dropdown-menu">
			<li><a href="https://www.ctl.io">CenturyLink Cloud</a></li>
			<li><a href="https://www.ctl.io/developers/">CenturyLink Developer Center</a></li>
			<li><a href="https://www.ctl.io/careers/">CenturyLink Cloud Careers</a></li>
			<li><button>HTML Button</button></li>
		</ul>
	</div>
	<button class="btn btn-outline">fifth</button>
</div>
