<button type="button" disabled class="btn btn-default">btn-default</button>
<button type="button" disabled class="btn btn-primary">btn-primary</button>
<button type="button" disabled class="btn btn-warning">btn-warning</button>
<button type="button" disabled class="btn btn-danger">btn-danger</button>
<button type="button" disabled class="btn btn-inverse">btn-inverse</button>
<button type="button" disabled class="btn btn-outline">btn-outline</button>
<button type="button" disabled class="btn btn-outline btn-primary">btn-outline</button>
<button type="button" disabled class="btn btn-outline btn-warning">btn-outline</button>
<button type="button" disabled class="btn btn-outline btn-danger">btn-outline</button>
<button type="button" disabled class="btn btn-link">btn-link</button>
