<div class="dropdown">
	<button type="button" class="btn btn-default">
		Dropdown
		<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
	</button>
	<ul class="dropdown-menu">
		<li><a href="https://www.ctl.io">CenturyLink Cloud</a></li>
		<li><a href="https://www.ctl.io/developers/">CenturyLink Developer Center</a></li>
		<li><a href="https://www.ctl.io/careers/">CenturyLink Cloud Careers</a></li>
	</ul>
</div>

<div class="dropdown">
	<button type="button" class="btn btn-default">
		Right Aligned
		<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
		<li><a href="#">Action 1</a></li>
		<li><a href="#">Action 2</a></li>
		<li><a href="#">Action 3</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Action 4</a></li>
	</ul>
</div>
