<div class="m-b-sm">
	<button class="btn btn-default btn-sm btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-primary btn-sm btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-danger btn-sm btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-inverse btn-sm btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
</div>
<div class="m-b-sm">
	<button class="btn btn-default btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-primary btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-danger btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-inverse btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
</div>
<div class="m-b-sm">
	<button class="btn btn-default btn-lg btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-primary btn-lg btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-danger btn-lg btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
	<button class="btn btn-inverse btn-lg btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg><span class="sr-only">remove</span></button>
</div>
