<div class="card">
	<div class="card-block">
		<h4 class="card-title">Card Title</h4>
		<h5 class="card-subtitle">Card subtitle</h5>
	</div>
	<div class="card-block">
		<p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
		<a href="#" class="btn btn-primary">button</a>
	</div>
	<div class="card-overlay">
		<h4 class="card-title">Overlay Title</h4>
		<p class="card-text">Example paragraph text to show what overlayed text looks like within a card.</p>
		<button class="btn btn-primary">button</button>
	</div>
</div>
