<ul class="new-list-view">
	<li>
		<div class="list-view-editable-item list-view-item-success">
			<div class="col col-100">.list-view-item-success</div>
		</div>
	</li>
	<li>
		<div class="list-view-editable-item list-view-item-info">
			<div class="col col-100">.list-view-item-info</div>
		</div>
	</li>
	<li>
		<div class="list-view-editable-item list-view-item-warning">
			<div class="col col-100">.list-view-item-warning</div>
		</div>
	</li>
	<li>
		<div class="list-view-editable-item list-view-item-danger">
			<div class="col col-100">.list-view-item-danger</div>
		</div>
	</li>
</ul>
