<div class="new-list-view-header">
	<h3 class="col col-40">Database</h3>
	<h3 class="col col-60">Location</h3>
</div>
<ul class="new-list-view">
	<li class="empty-list-view-item feature">
		<svg class="cyclops-icon lg green"><use xlink:href='#icon-database'></svg>
		<h3>Get Started with Relational DB</h3>
		<p class="lead">Relational DB makes it easy to set up and manage high performance, cost efficient, MySQL-compatible relational databases. </p>
		<p><a href="#" class="btn btn-primary btn-lg">create a database</a></p>
	</li>
</ul>
