<ul class="new-list-view">
	<li>
			<div class="list-view-item">
					<div class="col col-100">Item</div>
			</div>
	</li>
	<li>
			<div class="list-view-item">
					<div class="col col-100">Item</div>
			</div>
	</li>
	<li>
		<div class="list-view-item-form">
			<form class="form-horizontal">
				<fieldset>
					<legend>Inline Edit Form <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button></legend>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="listViewInlineFormName">name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="listViewInlineFormName">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label" for="listViewInlineFormEmail">email</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="listViewInlineFormEmail">
						</div>
					</div>
					<div class="form-group form-submit">
						<div class="col-sm-offset-3 col-sm-9">
							<button class="btn btn-primary">save</button>
							<button class="btn btn-link">cancel</button>
							<button class="btn btn-danger pull-right">delete</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</li>
	<li>
			<div class="list-view-item">
					<div class="col col-100">Item</div>
			</div>
	</li>
</ul>
