
<!-- header of the list -->
<div class="new-list-view-header">
	<h3 class="col col-10"></h3>
	<h3 class="col col-90">Level</h3>
</div>
<!-- body of the list -->
<ul class="new-list-view">
	<li>
		<div class="list-view-editable-item">
			<div class="col col-10"><input type="checkbox"></div>
			<div class="col col-90">Level 1a</div>
		</div>
	</li>
	<li>
		<div class="list-view-editable-item">
			<div class="col col-10"><input type="checkbox"></div>
			<div class="col col-90">Level 1b</div>
		</div>
		<ul class="new-list-view">
			<li>
				<div class="list-view-editable-item">
					<div class="col col-10"><input type="checkbox"></div>
					<div class="col col-90 col-indent">Level 2a</div>
				</div>
				<ul class="new-list-view">
					<li>
						<div class="list-view-editable-item">
							<div class="col col-10"><input type="checkbox"></div>
							<div class="col col-90 col-indent">Level 3</div>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<div class="list-view-editable-item">
					<div class="col col-10"><input type="checkbox"></div>
					<div class="col col-90 col-indent">Level 2b</div>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="list-view-editable-item">
			<div class="col col-10"><input type="checkbox"></div>
			<div class="col col-90 col-indent">Level 1c</div>
		</div>
	</li>
</ul>
