<div class="new-list-view-responsive new-list-view-responsive-sm">
	<div class="new-list-view-toolbar">
		<button class="btn btn-default">create item</button>
		<div class="new-list-view-toolbar-right">
			<button type="button" class="btn btn-outline">button</button>
			<div class="dropdown">
			 <button type="button" class="btn btn-outline">
				 type
				 <svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
			 </button>
			 <ul class="dropdown-menu">
				 <li><a href="#">type 1</a></li>
				 <li><a href="#">type 2</a></li>
				 <li><a href="#">type 3</a></li>
			 </ul>
			</div>
			<span class="search-input"><input type="text" placeholder="filter list" /><svg class="cyclops-icon"><use xlink:href='#icon-search'></use></svg></span>
		</div>
	</div>
	<div class="new-list-view-header">
			<h3 class="col col-25">First Name</h3>
			<h3 class="col col-25">Last Name</h3>
			<h3 class="col col-50">Username</h3>
	</div>
	<ul class="new-list-view">
		<li>
				<div class="list-view-item">
						<div class="col col-25"><span class="col-header">First Name</span>Alyssa</div>
						<div class="col col-25"><span class="col-header">Last Name</span>Carizzalas</div>
						<div class="col col-50"><span class="col-header">Username</span>alyssa.carizzalas</div>
				</div>
		</li>
		<li>
				<div class="list-view-item">
						<div class="col col-25"><span class="col-header">First Name</span>Matthew</div>
						<div class="col col-25"><span class="col-header">Last Name</span>Osborn</div>
						<div class="col col-50"><span class="col-header">Username</span>mosborn</div>
				</div>
		</li>
	</ul>
</div>
