<div class="new-list-view-responsive new-list-view-responsive-sm">
	<div class="new-list-view-header new-list-view-status">
		<h3 class="col col-35">Server</h3>
		<h3 class="col col-35">Policy</h3>
		<h3 class="col col-30">Status</h3>
	</div>
	<ul class="new-list-view new-list-view-no-header new-list-view-status">
		<li class="status-danger">
			<div class="list-view-link-item">
				<div class="col col-35"><a href="#">Server Name</a></div>
				<div class="col col-35"><a href="#">CPU Usage > 90%</a></div>
				<div class="col col-30">Notification Open</div>
			</div>
		</li>
		<li class="status-warning">
			<div class="list-view-link-item">
				<div class="col col-35"><a href="#">Server Name</a></div>
				<div class="col col-35"><a href="#">Memory Usage > 90%</a></div>
				<div class="col col-30">Ackowledged</div>
			</div>
		</li>
		<li class="status-success">
			<div class="list-view-link-item">
				<div class="col col-35"><a href="#">Server Name</a></div>
				<div class="col col-35"><a href="#">Memory Usage > 90%</a></div>
				<div class="col col-30">Ackowledged</div>
			</div>
		</li>
		<li>
			<div class="list-view-link-item">
				<div class="col col-35"><a href="#">Server Name</a></div>
				<div class="col col-35"><a href="#">Disk Usage > 90%</a></div>
				<div class="col col-30">Ackowledged</div>
			</div>
		</li>
	</ul>
</div>
