<ul class="new-list-view new-list-view-no-header new-list-view-status">
	<li class="status-danger">
		<div class="list-view-link-item">
			<div class="col col-35"><a href="#">Server Name</a></div>
			<div class="col col-35"><a href="#">CPU Usage > 90%</a></div>
			<div class="col col-30">Notification Open</div>
		</div>
	</li>
	<li class="status-warning">
		<div class="list-view-link-item">
			<div class="col col-35"><a href="#">Server Name</a></div>
			<div class="col col-35"><a href="#">Memory Usage > 90%</a></div>
			<div class="col col-30">Ackowledged</div>
		</div>
	</li>
	<li>
		<div class="list-view-link-item">
			<div class="col col-35"><a href="#">Server Name</a></div>
			<div class="col col-35"><a href="#">Disk Usage > 90%</a></div>
			<div class="col col-30">Ackowledged</div>
		</div>
	</li>
</ul>
