<div class="new-list-view-toolbar">
	<button class="btn btn-default">create item</button>
	<span>1 - 10 of 23 items</span>
	<div class="new-list-view-toolbar-right">
		<button type="button" class="btn btn-outline">button</button>
		<div class="dropdown">
		 <button type="button" class="btn btn-outline">
			 type
			 <svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
		 </button>
		 <ul class="dropdown-menu">
			 <li><a href="#">type 1</a></li>
			 <li><a href="#">type 2</a></li>
			 <li><a href="#">type 3</a></li>
		 </ul>
		</div>
		<span class="search-input"><input type="text" placeholder="filter list" /><svg class="cyclops-icon"><use xlink:href='#icon-search'></use></svg></span>
	</div>
</div>
