<div class="action-area">
	<ol class="action-toolbar" data-bind="widget: 'overflowMenu'">
		<li><button type="button" class="active"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg> starting&hellip;</button></li>
		<li><button type="button" disabled ><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-stop' /></svg> stop</button></li>
		<li><button type="button" disabled><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-stop' /></svg> disabled</button></li>
		<li><button type="button" disabled><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-refresh' /></svg> restart</button></li>
		<li><button type="button" disabled><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-archive' /></svg> archive</button></li>
		<li><button type="button" disabled><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-snapshot' /></svg> snapshot</button></li>
		<li><button type="button" disabled><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-disaster-recovery' /></svg> recovery</button></li>
	</ol>
</div>
