<div class="activity-history">
	<h5 class="content-header">
		RECENT ACTIVITY
	</h5>
	<section class="day">
		<h5 class="content-header">Tuesday Sep 29</h5>
		<ol>
			<li>
				<div class="timestamp">2:50:05 PM</div>
				<div class="details">
					<div class="subject">Password change for user trent.anderson</div>
					<div class="body">Password change for user trent.anderson by system</div>
					<div class="attribution">
						<span class="createdBy">system</span>
					</div>
				</div>
			</li>
			<li>
				<div class="timestamp">2:38:43 PM</div>
				<div class="details">
					<div class="subject">Password change for user alyssa.carizales</div>
					<div class="body">Password change for user alyssa.carizales by system</div>
					<div class="attribution">
						<span class="createdBy">system</span>
					</div>
				</div>
			</li>
			<li>
				<div class="timestamp">2:37:32 PM</div>
				<div class="details">
					<div class="subject">User alyssa.carizales Password Reset</div>
					<div class="body">User alyssa.carizales password reset by system</div>
					<div class="attribution">
						<span class="createdBy">system</span>
					</div>
				</div>
			</li>
			<li>
				<div class="timestamp">11:20:35 AM</div>
				<div class="details">
					<div class="subject">Server WA1ACMEVMA01 Deleted</div>
					<div class="body">Server WA1ACMEVMA01 Deleted by trent.anderson</div>
					<div class="attribution">
						<span class="createdBy">system</span>
					</div>
				</div>
			</li>
		</ol>
	</section>

	<section class="day">
		<h5 class="content-header">Thursday Jul 30</h5>
		<ol>
			<li>
				<div class="timestamp">5:00:58 PM</div>
				<div class="details">
					<div class="subject">Roles updated for user trent.anderson</div>
					<div class="body">Roles updated to:<br>AccountAdmin</div>
					<div class="attribution">
						<span class="createdBy">trent.anderson</span>
					</div>
				</div>
			</li>
			<li>
				<div class="timestamp">5:00:53 PM</div>
				<div class="details">
					<div class="subject">User nathan.young.corp created</div>
					<div class="body">User trent.anderson created by trevor.transom</div>
					<div class="attribution">
						<span class="createdBy">trevor.transom</span>
					</div>
				</div>
			</li>
		</ol>
	</section>

</div>
