<div class="alert alert-banner alert-info alert-dismissible alert--texture" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  This is a dismissible system alert.
</div>

<div class="alert alert-success alert-info " role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="alert-icon">
    <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-plus-circle' /></svg>
  </div>
  <h4>This is a dismissible alert!</h4>
  <p>This is a warning message.</p>
</div>
