<div class="row billing-summary">
	<div class="col-sm-3 col-xs-6">
		<div class="heading">MONTH ESTIMATE</div>
		<div class="currency">$1,136.34</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="heading">CURRENT HOUR</div>
		<div class="currency">$1.51</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="heading">ONE TIME CHARGES</div>
		<div class="currency">$0.00</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="heading">MONTH TO DATE</div>
		<div class="currency">$480.40</div>
	</div>
</div>
