
	<li class="running">
		<a href="./job.html">
			<div class="status-bar"><svg class="cyclops-icon" title="queued"><use xlink:href='#icon-ellipsis' /></svg></div>
			<div class="queue-title">
				<div class="title">Inline Playbook Test</div>
				<div>CenturyLink - UC1 - US West (Santa Clara)</div>
				<div>by Chris Kent</div>
			</div>
			<div class="queue-timing">
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-clock' /></svg> &mdash;</div>
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-calendar' /></svg> &mdash;</div>
			</div>
		</a>
	</li>
	<li class="running">
		<a href="./job.html">
			<div class="status-bar"><svg class="cyclops-icon" title="queued"><use xlink:href='#icon-ellipsis' /></svg></div>
			<div class="queue-title">
				<div class="title">Redhat Linux Hyperscale Server</div>
				<div>CenturyLink - UC1 - US West (Santa Clara)</div>
				<div>by Shan Sundaram </div>
			</div>
			<div class="queue-timing">
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-clock' /></svg> &mdash;</div>
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-calendar' /></svg> &mdash;</div>
			</div>
		</a>
	</li>
	<li class="error">
		<a href="./job.html">
			<div class="status-bar"><svg class="cyclops-icon success" title="running"><use xlink:href='#icon-play' /></svg></div>
				<div class="queue-title">
				<div class="title">Nodejs Server</div>
				<div>CenturyLink - UC1 - US West (Santa Clara)</div>
				<div>by Chris Kent</div>
			</div>
			<div class="queue-timing">
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-clock' /></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-calendar' /></svg> 2 hours ago </div>
			</div>
		</a>
	</li>
	<li class="success">
		<a href="./job.html">
		<div class="status-bar"><svg class="cyclops-icon success" title="success"><use xlink:href='#icon-check-circle' /></svg></div>
			<div class="queue-title">
				<div class="title">Nodejs Server</div>
				<div>Azure - US East (New York)</div>
				<div>by Chris Kent</div>
			</div>
			<div class="queue-timing">
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-clock' /></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-calendar' /></svg> 3 hours ago </div>
			</div>
		</a>
	</li>
	<li class="success">
		<a href="./job.html">
			<div class="status-bar"></div>
			<div class="status-bar"><svg class="cyclops-icon success" title="stopped"><use xlink:href='#icon-stop' /></svg></div>
			<div class="queue-title">
				<div class="title">Redhat Linux Hyperscale Server</div>
				<div>AWS - US West (Oregon)</div>
				<div>by Shan Sundaram</div>
			</div>
			<div class="queue-timing">
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-clock' /></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-calendar' /></svg> 5 hours ago</div>
			</div>
		</a>
	</li>
	<li class="success">
		<a href="./job.html">
			<div class="status-bar"></div>
			<div class="status-bar"><svg class="cyclops-icon success" title="stopped"><use xlink:href='#icon-stop' /></svg></div>
			<div class="queue-title">
				<div class="title">LAMP Stack</div>
				<div>On Prem Location</div>
				<div>by Shan Sundaram</div>
			</div>
			<div class="queue-timing">
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-clock' /></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-calendar' /></svg> 5 hours ago</div>
			</div>
		</a>
	</li>
