<ol class="tree tree-with-dividers tree-in-pane">
	<li>
		<div class="tree-item">
			<div class="tree-item-status"></div>
			<a class="tree-item-content" href="#">
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg>
				<span>Database Servers</span>
			</a>
		</div>
		<ol class="tree">
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>IL1CORPDB01</span>
					</a>
				</div>
			</li>
			<li>
				<div id="WA1CORPDB01" class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>WA1CORPDB01</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-bare-metal' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>CA1CORPDB01</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>SG1CORPDB01</span>
					</a>
				</div>
			</li>
			<li>
				<div id="azure" class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="./pane-as.html">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-logo-microsoft' /></svg>
						<span>Azure Database</span>
					</a>
				</div>
			</li>
		</ol>
	</li>
	<li>
		<div class="tree-item">
			<div class="tree-item-status"></div>
			<a class="tree-item-content" href="#">
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder-smart' /></svg>
				<span>No Backup</span>
			</a>
		</div>
		<ol class="tree">
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>IL1CORPDB01</span>
					</a>
				</div>
			</li>
		</ol>
	</li>
	<li>
		<div class="tree-item">
			<div class="tree-item-status"></div>
			<a class="tree-item-content" href="#">
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg>
				<span>Public Platform</span>
			</a>
		</div>
		<ol class="tree">
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg>
						<span>Sub Group</span>
					</a>
				</div>
				<ol class="tree">
					<li>
						<div class="tree-item">
							<div class="tree-item-status"></div>
							<a class="tree-item-content" href="#">
								<span class="tree-item-icon-spacer"></span>
								<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
								<span>Sub Sub Server</span>
							</a>
						</div>
					</li>
				</ol>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>WA1CORPESTEST01</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status warning"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-hyperscale' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>IL1CORPPROD02</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status danger"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-bare-metal' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg>
						<span>Bare Metal Server</span>
					</a>
				</div>
			</li>
		</ol>
	</li>
	<li>
		<div class="tree-item">
			<div class="tree-item-status"></div>
			<a class="tree-item-content" href="#">
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-right' /></svg>
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg>
				<span>By Region</span>
			</a>
		</div>
	</li>
	<li>
		<div class="tree-item">
			<div class="tree-item-status"></div>
			<a class="tree-item-content" href="#">
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
				<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg>
				<span>By Data Center</span>
			</a>
		</div>
		<ol class="tree">
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>CA1 - Canada (Vancouver)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>CA2 - Canada (Toronto)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>CA3 - Canada (Toronto)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>DE1 - Germany (Frankfurt)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>GB1 - Great Britain (Portsmith)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>GB3 - Great Britain (Slough)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>IL1 - US Central (Chicago)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>NY1 - US East (New York)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>SG1 - APAC (Singapore)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>UC1 - US West (Santa Clara)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>UT1 - US Central (Salt Lake City)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>VA1 - US East (Sterling)</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
						<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-circle-o' /></svg>
						<span>WA1 - US West (Seattle)</span>
					</a>
				</div>
			</li>
		</ol>
	</li>
</ol>
