<div class="upcoming-events">
	<h5 class="content-header">UPCOMING EVENTS</h5>
	<div class="event">
		<a class="task-datetime" href="#">
			<span class=" date">10/17</span>
			<span class="time">11:24 am</span>
		</a>
		<div class="details">
			<div class="category">Delete Snapshot</div>
			<div class="subject">CA3-DNS-01</div>
		</div>
	</div>
	<div class="event">
		<a class="task-datetime" href="#">
			<span class=" date">10/21</span>
			<span class="time">07:33 am</span>
		</a>
		<div class="details">
			<div class="category">Delete Snapshot</div>
			<div class="subject">WA1-DEMO-01</div>
		</div>
	</div>
</div>
