<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label">nodes</label>
			<div class="col-sm-6">
				<label class="sr-only" for="inputTextNode1">node 1</label>
				<input type="text" id="inputTextNode1" class="form-control" placeholder="ip address">
				<label class="sr-only" for="inputTextNode2">node 2</label>
				<input type="text" id="inputTextNode2" class="form-control" placeholder="ip address">
				<label class="sr-only" for="inputTextNode3">node 3</label>
				<input type="text" id="inputTextNode3" class="form-control" placeholder="ip address">
				<label class="sr-only" for="inputTextNode4">node 4</label>
				<input type="text" id="inputTextNode4" class="form-control" placeholder="ip address">
			</div>
		</div>
	</fieldset>
</form>
