<section id="barChart" class="pl-section">
	<h3><a href="#barChart">Bar Chart</a></h3>
  <p></p>
  <div class="pl-example">
		<div class="chart-container">
{{> charts/examples/barChart }}
</div>
  </div>
	<pre class="show-type">
		<code class="javascript">
var barData = {
	labels: ["January", "February", "March", "April", "May", "June", "July"],
	datasets: [{
		label: "My First dataset",
		fillColor: "#8cc63f",
		highlightFill: "#8cc63f",
		data: [65, 59, 80, 81, 56, 55, 40]
	},
	{
		label: "My Second dataset",
		fillColor: "#404c43",
		highlightFill: "#404c43",
		data: [28, 48, 40, 19, 86, 27, 90]
	}]
};

var btx = $("#barChartContainer").get(0).getContext("2d");
var myBarChart = new Chart(btx).Bar(barData);
		</code>
		<code class="html">
&lt;canvas id=&quot;barChartContainer&quot; class=&quot;chart&quot;&gt;&lt;/canvas&gt;
		</code>

	</pre>
</section>
