<section id="chartColors" class="pl-section">
	<h3><a href="#chartColors">Chart Color Palette</a></h3>
  <p>Defined color palette for use in charts.</p>
  <div class="pl-color-swatch fill-greengrey">#404c43 <div class="pull-right">rgb(64, 76, 67)</div></div>
  <div class="pl-color-swatch fill-moss">#58776a <div class="pull-right">rgb(88,119,106)</div></div>
  <div class="pl-color-swatch fill-forestgreen">#5e9354 <div class="pull-right">rgb(94,147,84)</div></div>
  <div class="pl-color-swatch fill-green">#8cc63f <div class="pull-right">rgb(140,198,63)</div></div>
  <div class="pl-color-swatch fill-lightgreen">#b8e288 <div class="pull-right">rgb(184,226,136)</div></div>
  <div class="pl-color-swatch fill-seafoam">#59b082 <div class="pull-right">rgb(89,176,130)</div></div>
  <div class="pl-color-swatch fill-blue">#597c97 <div class="pull-right">rgb(89,124,151)</div></div>
  <div class="pl-color-swatch fill-yellow">#f1ee6b <div class="pull-right">rgb(241,238,107)</div></div>
  <div class="pl-color-swatch fill-orange">#f5a934 <div class="pull-right">rgb(245,169,52)</div></div>
  <div class="pl-color-swatch fill-red">#d44747 <div class="pull-right">rgb(212,71,71)</div></div>
</section>
