<section id="columnChart" class="pl-section">
	<h3><a href="#columnChart">Column Chart</a></h3>
  <p>A column chart displays data using vertical bars.</p>
  <div class="pl-example">
		<div id="columnChartExample" class="chart">
		</div>
  </div>
	<pre class="show-type">
		<code class="javascript">
$('#newColumnChart').highcharts({
  chart: {
    type: 'column'
  },
  title: {
    text: 'Monthly Billing History'
  },
});
		</code>
		<code class="html">
&lt;div id=&quot;newColumnChart&quot; class=&quot;chart&quot;&gt;&lt;/div&gt;
		</code>

	</pre>
</section>
