<div class="row">
  {{>icon "icon-angle-down"}}
  {{>icon "icon-angle-left"}}
  {{>icon "icon-angle-right"}}
  {{>icon "icon-angle-up"}}
  {{>icon "icon-arrow-down"}}
  {{>icon "icon-arrow-left"}}
  {{>icon "icon-arrow-right"}}
  {{>icon "icon-arrow-up"}}
  {{>icon "icon-arrows"}}
  {{>icon "icon-arrows-alt"}}
  {{>icon "icon-arrows-h"}}
  {{>icon "icon-arrows-v"}}
  {{>icon "icon-api"}}
  {{>icon "icon-appfog"}}
  {{>icon "icon-archive"}}
  {{>icon "icon-automation"}}
  {{>icon "icon-autoscale"}}
  {{>icon "icon-backup"}}
  {{>icon "icon-ban"}}
  {{>icon "icon-bare-metal"}}
  {{>icon "icon-bell"}}
  {{>icon "icon-book"}}
  {{>icon "icon-calendar"}}
  {{>icon "icon-caret-down"}}
  {{>icon "icon-caret-left"}}
  {{>icon "icon-caret-right"}}
  {{>icon "icon-caret-up"}}
  {{>icon "icon-centurylink"}}
  {{>icon "icon-check"}}
  {{>icon "icon-check-circle"}}
  {{>icon "icon-chevron-down"}}
  {{>icon "icon-chevron-left"}}
  {{>icon "icon-chevron-right"}}
  {{>icon "icon-chevron-up"}}
  {{>icon "icon-circle-o"}}
  {{>icon "icon-clock"}}
  {{>icon "icon-clone"}}
  {{>icon "icon-close"}}
  {{>icon "icon-cloud-upload"}}
  {{>icon "icon-code-fork"}}
  {{>icon "icon-compliance"}}
  {{>icon "icon-control-portal"}}
  {{>icon "icon-database"}}
  {{>icon "icon-disaster-recovery"}}
  {{>icon "icon-dot-circle-o"}}
  {{>icon "icon-download"}}
  {{>icon "icon-ellipsis"}}
  {{>icon "icon-exclamation-circle"}}
  {{>icon "icon-exclamation-triangle"}}
  {{>icon "icon-failover"}}
  {{>icon "icon-file"}}
  {{>icon "icon-firewall"}}
  {{>icon "icon-flexibility"}}
  {{>icon "icon-folder-open"}}
  {{>icon "icon-folder"}}
  {{>icon "icon-git"}}
  {{>icon "icon-globe"}}
  {{>icon "icon-global-network"}}
  {{>icon "icon-heart"}}
  {{>icon "icon-hyperscale"}}
  {{>icon "icon-info"}}
  {{>icon "icon-info-circle"}}
  {{>icon "icon-infrastructure"}}
  {{>icon "icon-list"}}
  {{>icon "icon-load-balancer-dedicated"}}
  {{>icon "icon-load-balancer-shared"}}
  {{>icon "icon-lock"}}
  {{>icon "icon-maintenance"}}
  {{>icon "icon-messaging"}}
  {{>icon "icon-monitor"}}
  {{>icon "icon-network"}}
  {{>icon "icon-netx"}}
  {{>icon "icon-object-storage"}}
  {{>icon "icon-package"}}
  {{>icon "icon-pause"}}
  {{>icon "icon-permissions"}}
  {{>icon "icon-phone"}}
  {{>icon "icon-phone-square"}}
  {{>icon "icon-pie-chart"}}
  {{>icon "icon-play"}}
  {{>icon "icon-plus-circle"}}
  {{>icon "icon-policies"}}
  {{>icon "icon-power"}}
  {{>icon "icon-question"}}
  {{>icon "icon-queue"}}
  {{>icon "icon-queue-add"}}
  {{>icon "icon-queue-archive"}}
  {{>icon "icon-queue-delete"}}
  {{>icon "icon-queue-restore"}}
  {{>icon "icon-refresh"}}
  {{>icon "icon-restore"}}
  {{>icon "icon-restore-point-in-time"}}
  {{>icon "icon-runner"}}
  {{>icon "icon-scheduled-tasks"}}
  {{>icon "icon-script"}}
  {{>icon "icon-search"}}
  {{>icon "icon-settings"}}
  {{>icon "icon-shield"}}
  {{>icon "icon-snapshot"}}
  {{>icon "icon-spinner"}}
  {{>icon "icon-square-o"}}
  {{>icon "icon-star"}}
  {{>icon "icon-stop"}}
  {{>icon "icon-storage"}}
  {{>icon "icon-support"}}
  {{>icon "icon-switch"}}
  {{>icon "icon-template"}}
  {{>icon "icon-times"}}
  {{>icon "icon-toolbox"}}
  {{>icon "icon-trash"}}
  {{>icon "icon-user"}}
  {{>icon "icon-users"}}
  {{>icon "icon-vpn"}}
</div>
