<h1><svg class="cyclops-icon"><use xlink:href='#icon-info-circle' /></svg> Heading One</h1>
<h2><svg class="cyclops-icon"><use xlink:href='#icon-info-circle' /></svg> Heading Two</h2>
<h3><svg class="cyclops-icon"><use xlink:href='#icon-info-circle' /></svg> Heading Three</h3>
<h4><svg class="cyclops-icon"><use xlink:href='#icon-info-circle' /></svg> Heading Four</h4>
<h5><svg class="cyclops-icon"><use xlink:href='#icon-info-circle' /></svg> Heading Five</h5>
<h6><svg class="cyclops-icon"><use xlink:href='#icon-info-circle' /></svg> Heading Six</h6>
