<div id="barChart" data-bind="chart: { type:'Bar', data: data }"></div>

{{#contentFor "scripts"}}
<script>
$(function () {

  var barData = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    series: [
      {
        name: "My First dataset",
        value: [65, 59, 80, 81, 56, 55, 40]
      },
      {
        name: "My Second dataset",
        value: [28, 48, 40, 19, 86, 27, 90]
      }
    ]
  };

  ko.applyBindings({ data: barData }, $("#barChart")[0]);
});
</script>
{{/contentFor}}
