<div><canvas id="donutChartContainer" class="chart"></canvas></div>

{{#contentFor "scripts"}}
<script>
$(function () {
	var donutData = [
    {
        value: 95,
        color:"#59b082",
        highlight: "#59b082",
        label: "cpu usage"
    },
    {
        value: 5,
        color: "#ccc",
        highlight: "#ccc",
        label: "cpu usage capacity"
    }
	]
	var dtx = $("#donutChartContainer").get(0).getContext("2d");
	var myDoughnutChart = new Chart(dtx).Doughnut(donutData);
});
</script>
{{/contentFor}}
