<div id="pieChartExample" data-bind="chart: {type: 'Pie', data: data}" class="ct-major-twelfth"></div>

{{#contentFor "scripts"}}
<script>
$(function () {

	var pieData = {
		series: [
	    {
	        value: 300,
	        name: "Widget"
	    },
	    {
	        value: 50,
	        name: "Gizmo"
	    },
	    {
	        value: 100,
	        name: "Snarfblat"
	    },
	    {
	        value: 100,
	        name: "Dinglehopper"
	    },
	    {
	        value: 100,
	        name: "Watchamacallit"
	    },
	    {
	        value: 100,
	        name: "Doohicky"
	    }
		]
	};

  ko.applyBindings({ data: pieData }, $("#pieChartExample")[0]);

});
</script>
{{/contentFor}}
