@baseIconSize: 14px;

.cyclops-icon {
  width: @baseIconSize;
  height: @baseIconSize;
  fill: @textColor;
  vertical-align: middle;
  
  &.md {
    width: (@baseIconSize * 2);
    height: (@baseIconSize * 2);
  }

  &.lg {
    width: (@baseIconSize * 3);
    height: (@baseIconSize * 3);
  }

  &.xl {
    width: (@baseIconSize * 4);
    height: (@baseIconSize * 4);
  }

  &.green {
    fill: @primaryBrandGreen;
  }

  &.danger {
    fill: @btn-danger-bg;
  }

  &.info {
    fill: #3a87ad;
  }
}

// vertically align an svg icon in a p or a tag.
p svg.cyclops-icon,
a svg.cyclops-icon {
  display: inline-block;
  vertical-align: middle;
}