@leftNavWidth: 280px;
@textColor: #aaa;
@iconColor: #757575;
@textColorActive: #fff;
@textColorHover: #ddd;
@selectedBackground: #202220;
@flyoutBackground: #272827;
@collapsedWidth: 46px;
@expandedWidth: 200px;
@flyoutWidth: 280px;

left-nav ~ .primary,
left-nav ~ .container,
left-nav ~ .pane-left,
left-nav ~ .container-fluid {
  margin-left: @collapsedWidth;
  transition: margin-left 0.5s;
}

.pane-left ~ .primary,
.pane-left ~ .container,
.pane-left ~ .container-fluid {
  margin-left: @collapsedWidth + 280px;
}

left-nav {
  position: fixed;
  top: 91px;
  bottom: 0;
  overflow: auto;
  width: @collapsedWidth;
  overflow: visible;
  z-index: 1;
  background: #2d302d;
  transition: width 0.5s;
  color: @textColor;
  // Prevent a BUFOC
  &:before {
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    width: @collapsedWidth;
    background: #2d302d;
    transition: width 0.5s;
    z-index: -1;
  }

  .cyclops-icon {
    width: 20px;
    height: 20px;
    fill: @iconColor;
    margin-right: 7px;
    transition: fill 0.1s;
  }

  a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: @textColor;
  }

  a,
  button.btn {
    &:focus,
    &:hover {
      color: @textColorHover;
      outline: none;
      
      .cyclops-icon {
        fill: @textColorHover;
      }

      &:active {
        box-shadow: none;
        outline: none;
        color: @textColorActive;
        
        .cyclops-icon {
          fill: @textColorActive;
        }
      }
    }
  }

  .menu {
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 7px black;
    position: relative;
    z-index: 2;
    
    .scroll-up,
    .scroll-down {
      display: none;
      position: absolute;
      z-index: 3;
      width: 100%;
    }

    .scroll-up {
      top: 0;
    }

    .scroll-down {
      bottom: 0;
    }

    .items {
      list-style: none;
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      margin-right: -15px;
      position: relative;
      z-index: 2;
      background: #2d302d;
      
      li {
        line-height: 16px;
        font-size: 16px;
        width: @expandedWidth;
        padding: 10px 0 10px 14px;
        text-transform: capitalize;
        
        &.selected {
          background-color: @selectedBackground;
          
          .btn {
            color: @textColorActive;
            
            .cyclops-icon {
              fill: @textColorActive;
            }
          }
        }

        .btn {
          width: 100%;
          margin: 0;
          padding: 0;
          text-align: left;
          background-color: transparent;
          color: @textColor;
          font-size: 16px;
          text-transform: capitalize;
          
          &:focus,
          &:hover {
            color: @textColorHover;
            outline: none;
            
            .cyclops-icon {
              fill: @textColorHover;
            }
          }

          &:active {
            box-shadow: none;
            outline: none;
            color: @textColorActive;
            
            .cyclops-icon {
              fill: @textColorActive;
            }
          }
        }
      }
    }
  }

  .flyout-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @flyoutWidth;
    background: @flyoutBackground;
    border-right: 1px solid #202220;
    margin-left: -1 * @flyoutWidth;
    transition: margin-left 0.5s;
    box-shadow: 0 0 7px black;
    overflow-y: auto;
    
    &.open {
      margin-left: @collapsedWidth;
      z-index: 1;
    }

    .header {
      background-color: #0c0c0c;
      text-align: right;
      color: #757575;
      
      .cyclops-icon {
        margin-right: 0;
        height: 18px;
        width: 18px;
      }
    }

    .items {
      list-style: none;
      padding: 0;
      
      li {
        border-bottom: solid 1px #343534;
        border-top: none;
        color: #aaa;
        height: auto;
        overflow: hidden;
        transition: background 0.15s;
        
        &:hover {
          background-color: #1b1d1b;
        }

        a {
          padding: 10px 15px 14px;
          display: block;
          position: relative;
          
          h3 {
            color: #ccc;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 5px;
            margin-top: 5px;
            text-transform: capitalize;
          }

          p {
            margin-bottom: 5px;
          }

          .badge {
            width: 50px;
            height: 50px;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            
            span {
              display: block;
              text-align: center;
              transform: rotate(45deg);
              position: relative;
              right: 2px;
              top: -18px;
              width: 92px;
              background-color: #00853f;
              color: #FFFFFF;
              padding-top: 30px;
              padding-bottom: 2px;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
// TODO: consider changing this to something like XL
@media (min-width: @screen-xl-min) {
  left-nav ~ .primary,
  left-nav ~ .container,
  left-nav ~ .pane-left,
  left-nav ~ .container-fluid {
    margin-left: @expandedWidth;
  }

  .pane-left ~ .primary,
  .pane-left ~ .container,
  .pane-left ~ .container-fluid {
    margin-left: @expandedWidth + 280px;
  }

  left-nav {
    width: @expandedWidth;
    
    &:before {
      width: @expandedWidth;
    }

    .flyout-menu {
      margin-left: -1 * @expandedWidth;
      
      &.open {
        margin-left: @expandedWidth;
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  left-nav ~ .primary .container,
  left-nav ~ .container {
    width: 710px;
  }
}

@media (min-width: @screen-md-min) {
  left-nav ~ .primary .container,
  left-nav ~ .container {
    width: 930px;
  }
}

@media (min-width: @screen-lg-min) {
  left-nav ~ .primary .container,
  left-nav ~ .container {
    width: 1130px;
  }
}