.pulsate {
  -webkit-animation: pulsate 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.3;
}

@keyframes pulsate {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.3;
  }
}

@-moz-keyframes pulsate {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.3;
  }
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.3;
  }
}

left-nav ~ .primary,
left-nav ~ .container,
left-nav ~ .pane-left,
left-nav ~ .container-fluid {
  margin-left: @left-nav-width-collapsed;
  transition: margin-left 0.5s;
}

.pane-left ~ .primary,
.pane-left ~ .container,
.pane-left ~ .container-fluid {
  margin-left: @left-nav-width-collapsed + 280px;
}

left-nav {
  position: fixed;
  top: 91px;
  bottom: 0;
  overflow: auto;
  width: @left-nav-width-collapsed;
  overflow: visible;
  z-index: 1;
  background: @left-nav-bg;
  transition: width 0.5s;
  color: @gray-light;
  // Prevent a BUFOC
  &:before {
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    width: @left-nav-width-collapsed;
    background: @left-nav-bg;
    transition: width 0.5s;
    z-index: -1;
  }

  .cyclops-icon {
    width: 20px;
    height: 20px;
    fill: @left-nav-icon-color;
    margin-right: 7px;
    transition: fill 0.1s;
  }

  a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: @gray-light;
  }

  a,
  button.btn {
    &:focus,
    &:hover {
      color: @gray-lighter;
      outline: none;
      
      .cyclops-icon {
        fill: @gray-lighter;
      }

      &:active {
        box-shadow: none;
        outline: none;
        color: #fff;
        
        .cyclops-icon {
          fill: #fff;
        }
      }
    }
  }

  .menu {
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 7px black;
    position: relative;
    z-index: 2;
    
    .scroll-up,
    .scroll-down {
      display: none;
      position: absolute;
      z-index: 3;
      width: 100%;
      transition: none;
      
      svg {
        margin: 0 0 0 1px;
      }
    }

    .scroll-up {
      top: 0;
      background: linear-gradient(to top, rgba(45,47,45,0) 0%, rgba(45,48,45,.5) 40%, rgba(45,47,45,.8) 100%);
    }

    .scroll-down {
      bottom: 0;
      background: linear-gradient(to bottom, rgba(45,47,45,0) 0%, rgba(45,48,45,.5) 40%, rgba(45,47,45,.8) 100%);
    }

    .error,
    .loading {
      line-height: 16px;
      font-size: 16px;
      width: @left-nav-width-expanded;
      padding: 10px 0 10px 14px;
      text-transform: capitalize;
    }

    .loading svg {
      animation: pulsate 2s infinite linear;
    }

    .items {
      list-style: none;
      padding: 0;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      margin-right: -15px;
      position: relative;
      z-index: 2;
      background: @left-nav-bg;
      
      li {
        line-height: 16px;
        font-size: 16px;
        width: @left-nav-width-expanded;
        padding: 10px 0 10px 14px;
        text-transform: capitalize;
        
        &.selected {
          background-color: @left-nav-bg-selected;
          
          .btn {
            color: #fff;
            
            .cyclops-icon {
              fill: #fff;
            }
          }
        }

        .btn {
          width: 100%;
          margin: 0;
          padding: 0;
          text-align: left;
          background-color: transparent;
          color: @gray-light;
          font-size: 16px;
          text-transform: capitalize;
          
          &:focus,
          &:hover {
            color: @gray-lighter;
            outline: none;
            
            .cyclops-icon {
              fill: @gray-lighter;
            }
          }

          &:active {
            box-shadow: none;
            outline: none;
            color: #fff;
            
            .cyclops-icon {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .flyout-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: @left-nav-flyout-width;
    background: @left-nav-flyout-bg;
    border-right: 1px solid #202220;
    margin-left: -1 * @left-nav-flyout-width;
    transition: margin-left 0.5s;
    box-shadow: 0 0 7px black;
    overflow-y: auto;
    
    &.open {
      margin-left: @left-nav-width-collapsed;
      z-index: 1;
    }

    .header {
      background-color: #0c0c0c;
      text-align: right;
      color: #757575;
      height: 40px;
      
      .btn-link {
        line-height: 30px;
      }

      .cyclops-icon {
        margin-right: 0;
        height: 18px;
        width: 18px;
      }
    }

    .items {
      list-style: none;
      padding: 0;
      
      li {
        border-bottom: solid 1px #343534;
        border-top: none;
        height: auto;
        overflow: hidden;
        transition: background 0.15s;
        
        &:hover {
          background-color: #1b1d1b;
          
          h3 {
            color: #fff;
          }
        }

        a {
          padding: 10px 15px 14px;
          display: block;
          position: relative;
        }

        h3 {
          color: #ddd;
          font-size: 15px;
          line-height: 20px;
          margin-bottom: 5px;
          margin-top: 5px;
          text-transform: capitalize;
        }

        p {
          font-size: @font-size-small;
          line-height: @line-height-computed - 2;
          margin-bottom: 5px;
        }

        .badge {
          width: 50px;
          height: 50px;
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 0;
          
          span {
            display: block;
            text-align: center;
            transform: rotate(45deg);
            position: relative;
            right: 2px;
            top: -18px;
            width: 92px;
            background-color: #00853f;
            color: #FFFFFF;
            padding-top: 30px;
            padding-bottom: 2px;
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
// TODO: consider changing this to something like XL
@media (min-width: @screen-xl-min) {
  left-nav ~ .primary,
  left-nav ~ .container,
  left-nav ~ .pane-left,
  left-nav ~ .container-fluid {
    margin-left: @left-nav-width-expanded;
  }

  .pane-left ~ .primary,
  .pane-left ~ .container,
  .pane-left ~ .container-fluid {
    margin-left: @left-nav-width-expanded + 280px;
  }

  left-nav {
    width: @left-nav-width-expanded;
    
    &:before {
      width: @left-nav-width-expanded;
    }

    .flyout-menu {
      margin-left: -1 * @left-nav-width-expanded;
      
      &.open {
        margin-left: @left-nav-width-expanded;
      }
    }
  }
}

@media (min-width: @screen-sm-min) {
  left-nav ~ .primary .container,
  left-nav ~ .container {
    width: 710px;
  }
}

@media (min-width: @screen-md-min) {
  left-nav ~ .primary .container,
  left-nav ~ .container {
    width: 930px;
  }
}

@media (min-width: @screen-lg-min) {
  left-nav ~ .primary .container,
  left-nav ~ .container {
    width: 1130px;
  }
}