main-nav {
  position: fixed;
  top: 91px;
  bottom: 0;
  width: @main-nav-width-sm;
  overflow: visible;
  z-index: @zindex-main-nav;
  background: @main-nav-bg;
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,.3); //top border
  .transition(width .5s);
  color: @gray-300;

  // Prevent a BUFOC
  &:before {
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    width: @main-nav-width-sm;
    background: @main-nav-bg;
    .transition(width .5s);
    z-index: -1;
  }

  &.loaded:before {
    display: none;
  }

  a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: @main-nav-link-color;
  }

  ~ pane,
  ~ main {
    margin-left: @main-nav-width-sm;
  }
}

.main-nav-menu {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: @main-nav-bg;
  box-shadow: 0 0 7px black, inset 0 1px 0 0 rgba(0,0,0,.3); //top border and right shadow

  .cyclops-icon {
    width: 20px;
    height: 20px;

    use {
      .transition(fill .2s);
      fill: @main-nav-icon-color;
    }
  }

  .btn {
    padding: 10px 0;
    letter-spacing: 0;
    font-size: @font-size-small;
    text-align: center;
    border-radius: 0;
    overflow: hidden;

    &:focus,
    &:hover {
      color: @gray-100;
      outline: none;

      .cyclops-icon use {
        fill: @gray-100;
      }

      &:active {
        box-shadow: none;
        outline: none;
        color: #fff;
        .box-shadow(inset 0 0 3px 0 rgba(0,0,0,.3));
        transform: scale(.985,.985);

        .cyclops-icon use {
          fill: #fff;
        }
      }
    }
  }

  .scroll-up,
  .scroll-down {
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    transition: none;
    padding-left: 0;
    padding-right: 0;

    svg {
      margin: 0 0 0 1px;
    }
  }

  .scroll-up {
    top: 0;
    background: linear-gradient(to top, rgba(45,47,45,0) 0%, rgba(45,48,45,.5) 40%, rgba(45,47,45,.8) 100%);
  }

  .scroll-down {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(45,47,45,0) 0%, rgba(45,48,45,.5) 40%, rgba(45,47,45,.8) 100%);
  }
}

.main-nav-error,
.main-nav-loading {
  padding: 8px;
  color: @gray-400;
  font-size: @font-size-small;
  letter-spacing: 1px;
  line-height: @line-height-computed - 3;
  text-align: center;

  .cyclops-icon {
    width: 26px;
    height: 26px;
    margin: 0 auto @line-height-computed / 2 auto;
    display: block;
  }
}

.main-nav-label {
  display: none;
}

.main-nav-menu-items {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  margin-right: -15px;

  li {
    .transition(background-color .2s, width .2s, height .2s;);
    border-bottom: 1px solid @gray-900;
    width: @main-nav-width-sm;
    height: 44px;

    &:hover {
      background-color: @main-nav-bg-hover;
    }

    &.open {
      background-color: @main-nav-bg-selected;

      a,
      .btn {
        color: #fff;

        .cyclops-icon use {
          fill: #fff;
        }
      }
    }

    &.selected {
      background-color: @main-nav-bg-selected;
      box-shadow: @main-nav-selected-highlight;
      border: 1px solid @main-nav-selected-highlight;

      .cyclops-icon use {
        fill: #fff;
      }
    }

    .btn {
      width: 100%;
      margin: 0;
      background-color: transparent;
      color: @main-nav-link-color;
      text-transform: capitalize;

      &:hover {
        color: #fff;

        .cyclops-icon {
          fill: @gray-100;
        }
      }

      &:focus,
      &:active {
        box-shadow: none;
        color: #fff;

        .cyclops-icon {
          fill: #fff;
        }
      }
    }
  }
}

.main-nav-flyout-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: @main-nav-flyout-width;
  background: @main-nav-flyout-bg;
  border-right: 1px solid #202220;
  margin-left: -1 * @main-nav-flyout-width;
  .transition(margin-left .5s);
  box-shadow: 0 0 7px #000;
  overflow-y: auto;

  &.open {
    margin-left: @main-nav-width-sm;
  }

  .header {
    background-color: @gray-900;
    border-bottom: 1px solid #000;
    text-align: right;
    height: 40px;

    .close {
      margin-top: 3px;
      margin-right: 7px;

      .cyclops-icon use {
        fill: @gray-600;
      }

      &:hover {
        .cyclops-icon use {
          fill: #fff;
        }
      }
    }

    .cyclops-icon {
      height: 20px;
      width: 20px;
    }
  }

  .divider {
    font-size: @font-size-small + 1px;
    text-transform: uppercase;
    color: @bright-green;
    padding: 0 15px 10px;
    margin-top: 0;
    border-bottom: solid 1px @main-nav-flyout-divider;
    margin-bottom: 0;
  }
}

.main-nav-flyout-menu-items {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;

  li {
    border-bottom: solid 1px @main-nav-flyout-divider;
    border-top: none;
    height: auto;
    overflow: hidden;
    margin: 0;
    .transition(background .2s);

    &.selected {
      background-color: @main-nav-flyout-selected;
      box-shadow: @main-nav-selected-highlight;

      h3 {
        color: #fff;
      }
    }

    &:hover {
      background-color: @main-nav-flyout-selected;

      h3 {
        color: #fff;
      }

      p {
        color: @gray-300;
      }
    }

    a {
      padding: 8px 15px 12px;
      display: block;
      position: relative;
    }

    h3 {
      color: @main-nav-link-color;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
      text-transform: capitalize;
    }

    p {
      color: @gray-400;
      font-size: @font-size-small;
      line-height: @line-height-computed - 2;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  main-nav {
    width: @main-nav-width-md;
    // Prevent a BUFOC
    &:before {
      width: @main-nav-width-md;
    }

    ~ pane,
    ~ main {
      margin-left: @main-nav-width-md;
    }

    ~ pane ~ main {
      margin-left: @main-nav-width-md + @pane-width;
    }
  }

  .main-nav-menu {
    a.btn,
    button.btn {
      padding: 10px;
      letter-spacing: 0;

      .cyclops-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }
    }

    .main-nav-label {
      display: inline;
    }
  }

  .main-nav-menu-items {
    li {
      width: @main-nav-width-md;
      height: 66px;
    }
  }

  .main-nav-flyout-menu {
    &.open {
      margin-left: @main-nav-width-md;
    }
  }
}

@media (min-width: @screen-xl-min) {
  main-nav {
    width: @main-nav-width-lg;
    // Prevent a BUFOC
    &:before {
      width: @main-nav-width-lg;
    }

    &:before {
      width: @main-nav-width-lg;
    }

    ~ pane,
    ~ main {
      margin-left: @main-nav-width-lg;
    }

    ~ pane ~ main {
      margin-left: @main-nav-width-lg + @pane-width;
    }

  }

  .main-nav-menu {
    a.btn,
    button.btn {
      text-align: left;
      font-size: @font-size-base;
      padding: 10px 10px 10px 15px;

      .cyclops-icon {
        display: inline;
        margin-right: 7px;
        margin-bottom: 0;
      }

      &.scroll-up,
      &.scroll-down {
        text-align: center;
      }
    }
  }

  .main-nav-menu-items {
    li {
      width: @main-nav-width-lg;
      height: 43px;
    }
  }

  .main-nav-flyout-menu {
    &.open {
      margin-left: @main-nav-width-lg;
    }
  }
}
