main-nav {
  position: fixed;
  top: 91px;
  bottom: 0;
  width: @main-nav-width-sm;
  overflow: visible;
  z-index: @zindex-main-nav;
  background: @main-nav-bg;
  transition: width .5s;
  color: @main-nav-text;

  // Prevent a BUFOC
  &:before {
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    width: @main-nav-width-sm;
    background: @main-nav-bg;
    transition: width .5s;
    z-index: -1;
  }

  &.loaded:before {
    display: none;
  }

  a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: @main-nav-link-text;
  }

  ~ pane,
  ~ main {
    margin-left: @main-nav-width-sm;
  }
}

.main-nav-menu {
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: @zindex-main-nav + 1;
  background: @main-nav-bg;
  box-shadow: 7px 0 7px -7px rgba(0,0,0,.2); //right shadow
  border-right: 1px solid @gray-100;

  .cyclops-icon {
    width: 20px;
    height: 20px;

    use {
      transition: fill .2s;
      fill: @main-nav-icon-color;
    }
  }

  .btn {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    color: @main-nav-link-text;
    font-size: @font-size-small;
    overflow: hidden;
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;

    &:focus,
    &:hover {
      color: @main-nav-link-text-hover;
      outline: none;

      .cyclops-icon use {
        fill: @main-nav-link-text-hover;
      }
    }

    &:active {
      outline: none;
      background-color: @main-nav-active-bg;
      color: @main-nav-link-text-active;
      transform: scale(.985,.985);

      .cyclops-icon use {
        fill: @main-nav-link-text-active;
      }
    }
  }

  .scroll-up,
  .scroll-down {
    display: none;
    position: absolute;
    z-index: @zindex-main-nav + 2;
    width: 100%;
    transition: none;
    padding-left: 0;
    padding-right: 0;

    svg {
      margin: 0 0 0 1px;
    }
  }

  .scroll-up {
    top: 0;
    background: linear-gradient(to top, rgba(45,47,45,0) 0%, rgba(45,48,45,.5) 40%, rgba(45,47,45,.8) 100%);
  }

  .scroll-down {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(45,47,45,0) 0%, rgba(45,48,45,.5) 40%, rgba(45,47,45,.8) 100%);
  }
}

.main-nav-error,
.main-nav-loading {
  padding: 8px;
  color: @gray-400;
  font-size: @font-size-small;
  letter-spacing: 1px;
  line-height: @line-height-computed - 3;
  text-align: center;

  .cyclops-icon {
    width: 26px;
    height: 26px;
    margin: 0 auto @line-height-computed / 2 auto;
    display: block;
  }
}

.main-nav-label {
  display: none;
}

.main-nav-menu-items {
  height: 100%;
  margin-right: -15px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  position: relative;
  list-style: none;

  li {
    transition: background-color .2s, width .2s, height .2s;
    border-bottom: 1px solid @gray-75;
    width: @main-nav-width-sm;
    height: 44px;

    &.open {
      .btn {
        background-color: @main-nav-active-bg;
      }

      a,
      .btn {
        color: @main-nav-link-text-active;

        .cyclops-icon use {
          fill: @main-nav-link-text-active;
        }
      }
    }

    &.selected {
      .btn {
        background-color: @main-nav-active-bg;
        color: @black;

        .cyclops-icon use {
          fill: @black;
        }
      }
    }
  }
}

.main-nav-flyout-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: @main-nav-flyout-width;
  background: @main-nav-flyout-bg;
  border-right: 1px solid @gray-100;
  margin-left: -1 * @main-nav-flyout-width;
  transition: margin-left .5s;
  box-shadow: 7px 0 7px -7px rgba(0,0,0,.2);
  overflow-y: auto;

  &.open {
    margin-left: @main-nav-width-sm;
  }

  .header {
    background-color: @main-nav-flyout-bg;
    border-bottom: 1px solid @gray-75;
    text-align: right;
    height: 40px;

    .close {
      margin-top: 3px;
      margin-right: 7px;

      .cyclops-icon use {
        fill: @gray-300;
      }

      &:hover {
        .cyclops-icon use {
          fill: @black;
        }
      }
    }

    .cyclops-icon {
      height: 20px;
      width: 20px;
    }
  }

  .divider {
    font-size: @font-size-small + 1px;
    text-transform: uppercase;
    color: @bright-green;
    padding: 0 15px 10px;
    margin-top: 0;
    border-bottom: solid 1px @main-nav-flyout-divider;
    margin-bottom: 0;
  }
}

.main-nav-flyout-menu-items {
  list-style: none;
  margin-bottom: 30px;
  padding: 0;

  li {
    border-bottom: solid 1px @main-nav-flyout-divider;
    border-top: none;
    height: auto;
    overflow: hidden;
    margin: 0;
    transition: background .2s;

    &.selected,
    &.selected:hover {
      a {
        background-color: @main-nav-flyout-active-bg;
      }
      h3 {
        color: @black;
      }
      p {
        color: @gray-600;
      }
    }

    &:focus,
    &:hover {
      h3 {
        color: @black;
      }

      p {
        color: @black;
      }
    }

    a {
      padding: 8px 15px 12px;
      display: block;
      position: relative;

      &:focus {
        outline: none;
      }
    }

    h3 {
      color: @main-nav-link-text;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
      text-transform: capitalize;
    }

    p {
      color: @gray-400;
      font-size: @font-size-small;
      line-height: @line-height-computed - 2;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: @screen-sm-min) {
  main-nav {
    width: @main-nav-width-md;
    // Prevent a BUFOC
    &:before {
      width: @main-nav-width-md;
    }

    ~ pane,
    ~ main {
      margin-left: @main-nav-width-md;
    }

    ~ main {
      .container {
        width: @container-sm - @main-nav-width-md;
      }
    }

    ~ pane ~ main {
      margin-left: @main-nav-width-md + @pane-width;

    }
  }

  .main-nav-menu {
    a.btn,
    button.btn {
      padding: 10px;
      letter-spacing: 0;

      .cyclops-icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
      }
    }

    .main-nav-label {
      display: inline;
      color: @black;
    }
  }

  .main-nav-menu-items {
    li {
      width: @main-nav-width-md;
      height: 66px;
    }
  }

  .main-nav-flyout-menu {
    &.open {
      margin-left: @main-nav-width-md;
    }
  }
}

@media (min-width: @screen-md-min) {
  main-nav {
    ~ main {
      .container {
        width: @container-md - @main-nav-width-md;
      }
    }
  }
}

@media (min-width: @screen-lg-min) {
  main-nav {
    ~ main {
      .container {
        width: @container-lg - @main-nav-width-md;
      }
    }
  }
}

@media (min-width: @screen-xl-min) {
  main-nav {
    width: @main-nav-width-lg;
    // Prevent a BUFOC
    &:before {
      width: @main-nav-width-lg;
    }

    &:before {
      width: @main-nav-width-lg;
    }

    ~ pane,
    ~ main {
      margin-left: @main-nav-width-lg;
    }

    ~ main {
      .container {
        width: @container-xl - @main-nav-width-lg;
      }
    }

    ~ pane ~ main {
      margin-left: @main-nav-width-lg + @pane-width;
    }

  }

  .main-nav-menu {
    a.btn,
    button.btn {
      text-align: left;
      font-size: @font-size-regular;
      padding: 10px 10px 10px 15px;

      .cyclops-icon {
        display: inline;
        margin-right: 7px;
        margin-bottom: 0;
      }

      &.scroll-up,
      &.scroll-down {
        text-align: center;
      }
    }
  }

  .main-nav-menu-items {
    li {
      width: @main-nav-width-lg;
      height: 43px;
    }
  }

  .main-nav-flyout-menu {
    &.open {
      margin-left: @main-nav-width-lg;
    }
  }
}
