// Variables
@ease: cubic-bezier(0.77, 0, 0.175, 1);
@duration: 0.4s;
@org-switcher-bg: #3a3a3a;
@org-switcher-text-color: #bdbdbd;
@org-switcher-border-color: lighten(@org-switcher-bg, 5%);

html.cyclops {

	.org-switcher.expanded {
		height: 100%;

		.org-switcher-toggle {
			.rotate(0deg);
		}
	}

	// push page content down to accomdate Org Switcher
	.org-switcher + .navbar-static-top {
		margin-top:40px;
	}

	.org-switcher-toggle {
		float:right;
		margin-top: -5px;
		transform: rotateX(180deg);
		.transition(transform 0.4s ease-out);
		.transition-delay(0.20s);

		&:hover {
			cursor: pointer;
		}
	}

	.org-switcher {
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		overflow: hidden;
		background-color: @org-switcher-bg;
		color: @org-switcher-text-color;
		font-weight: 400;
		height: 40px;
		z-index: 1001;
		.transition(all 0.3s ease-out);

		#toggleOrgList {
				color: gray;
				font-size: @font-size-small;

				&:hover {
					color: white;
				}
		}

		h1,h2,h3,h4,h5 {
			color: @org-switcher-text-color;
		}

		input[type="text"] {
			margin-bottom:15px;
			background-color: darken(@org-switcher-bg, 10%);
			border-color: darken(@org-switcher-bg, 10%);
			color: @org-switcher-text-color;
			.placeholder(lighten(@org-switcher-bg, 10%));
		}

		input[type="text"].input-filter {
			width: 100%;
		}

		.content-header {
			color: @grayLight;
			border-bottom-color: @org-switcher-border-color;
		}

		.org-header {
			padding: 10px 20px;


			svg {
				fill: gray;
				.transition(fill 0.3s linear);

				&:hover {
					fill: white;
				}
			}


			.org-current {
				display: inline-block;
				width: 240px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
				vertical-align: top;
			}
		}

		.org-list-container {
			padding: 20px 20px 25px;
			position:absolute;
			top: 40px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: darken(@org-switcher-bg, 5%);
		}

		.new-list-view-header {
			background-color: transparent;
			border-bottom: 2px solid @org-switcher-border-color;

			h3 {
				color: @grayLight;
			}
		}

		.col-alias {
			width: 100px;
		}
		.col-name {
			width: 100%;
		}

		.org-list {
			background-color: darken(@org-switcher-bg, 6%);
			position:absolute;
			top: 99px;
			left:20px;
			right:20px;
			bottom:25px;
			overflow-y: scroll;
			border-bottom: 2px solid @org-switcher-border-color;
			.box-shadow( inset 0px 2px 5px 0px rgba(0,0,0,0.15));


			.new-list-view > li .list-view-item,
			.new-list-view > li .list-view-editable-item,
			.new-list-view > li .list-view-read-only-item {
					border-bottom-color: @org-switcher-border-color;
			}

			.new-list-view > li .list-view-editable-item:hover {
				background-color: darken(@org-switcher-bg, 10%);
			}

		}
	}

	@media (min-width: @screen-sm-min) {

		.org-switcher {
			input[type="text"].input-filter {
				width: 400px;
			}
		}
	}

}
