
.picker {
  height: 160px;
  border: solid 1px #ccc;
  background-color: @white;
  .border-radius(4px);
  overflow: auto;

  .empty,
  .loading {
    font-size: @font-size-large;
    text-align: center;
    margin-top: 70px;
    color: #ccc;
  }

  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .item-hover {
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    font-weight: @base-font-weight;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    input {
      position: absolute;
      top: 7px;
      left: 10px;
    }

    input:checked + .content {
      background-color: @gray-dark;
      color: @white;


      svg {
        fill: @white;
      }
    }

    input:disabled + .content {
      cursor: not-allowed;
      color: @gray-light;

      &:hover {
        background-color: transparent;
      }

      svg {
        fill: @gray-light;
      }
    }

    input[type=checkbox]:indeterminate + .content {
//        background-color: lighten(@gray-dark, 60%);
    }

    &:hover {
      .content {
        background-color: @body-bg;
      }
    }

  }

  .unselectable {
    cursor: not-allowed;

    .content {
      color: @gray-light;

      svg {
        fill: @gray-light;
      }
    }

    &:hover {
      .content {
        background: none;
      }
    }
  }

  .content {
    display: block;
    padding: 7px 10px 7px 30px;
  }

  li {
    .contnet {
      padding-left: 30px;
    }

    li {
      .content {
        padding-left: 50px;
      }

      li {
        .content {
          padding-left: 70px;
        }

        li {
          .content {
            padding-left: 90px;
          }

          li {
            .content {
              padding-left: 110px;
            }

            li {
              .content {
                padding-left: 130px;
              }

              li {
                .content {
                  padding-left: 150px;
                }
              }
            }
          }
        }
      }
    }
  }
}
