//
// Pricing Estimate
// --------------------------------------------------

html.cyclops {

  #pricingLeft {
    background: #e5e5e5;
    width: 320px;
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow: auto;
    margin-left:-20px;
    .costMonthly, .costHourly {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
      letter-spacing: 1;
    }
    .heading {
      margin: 10px 0;
    }
    .lineItem {
      margin-bottom: 20px;
    }
  }

  .pricingContainer {
    background: #e5e5e5;
    width: 320px;
    .costMonthly, .costHourly {
      font-size: 30px;
      margin-top: 30px;
      margin-bottom: 10px;
      letter-spacing: 1;
    }
    .heading {
      margin: 10px 0;
    }
    .lineItem {
      margin-bottom: 20px;
    }
  }

  #createFormRight {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 320px;
    overflow: scroll;
    padding: 0 20px;
  }

  #costEstimate {
    padding: 20px;
  }

  #costBreakdown {
    padding: 20px;
    border-top: 1px solid #d9d9d9;
  }
}
