#services-menu-container {
    position: relative;

    &.hidden {
        display: none;
    }

    #services-menu {
        position: absolute;
        z-index: 1000;
        width: 100%;
        top: 1px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    }    
}

#services-menu-fade {
    opacity:0.5;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:900;

    &.hidden {
        display: none;
    }
}

#navbar-services {
    height: @navbar-height;
    display: flex;
    flex-grow: 1;

    .navbar-services-menu {
        font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        height: 45px;
        text-decoration: none;
        border-radius: 5px;
        padding: 3px 8px 7px 8px;
        align-self: center;

        &.open {
            background: #EEEEEE;
            box-shadow: 0 2px 2px #DCDCDC inset;

            .navbar-services-menu__select-icon {
                transform: rotate(180deg);
            }
        }

        &__title {
            font-size: 11px;
            color: #9B9B9B;

             &.no-service {
                 display: none;
            }
        }

        &__detail {
            width: max-content; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &.no-service {
                 height: 100%;
                 padding-top: 3px;
            }
        }

        &__select-icon {
            transition: all linear 150ms;
        }
        
        &__current_service {
            color: #333;
            font-size: 16px;
            font-weight: 500;
            -webkit-font-smoothing: antialiased;
        }
    }
}