

html.cyclops {

  body.signin {
    background: #262626;
    text-align: center;
    color: @gray;
    min-height: 700px;

    a {
      color: @grayLight;
    }

    h1 {
      color: @white;
      text-align: center;
      margin-bottom: @line-height-computed;
      margin-top: 60px;
    }

    .nav-brand {
      width: 200px;
      margin: 75px auto 120px;
    }

    .truste {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }


  }

  .signin-container {
    max-width: 390px;
    background-color: @white;
    border-radius: @border-radius-base;
    padding: 30px;
    margin: 0 auto 20px;
    text-align: left;
  }

  .signin-support {
    border-top: 2px solid @borderColor;
    font-size: @font-size-small;
    margin-top: 20px;
    padding-top: 8px;



  }

}
