// Extra small screen / phone
@screen-xs:                   480px;
@screen-xs-min:               @screen-xs;
//== Media queries breakpoints
// Small screen / tablet
@screen-sm:                   768px;
@screen-sm-min:               @screen-sm;
// Medium screen / desktop
@screen-md:                   992px;
@screen-md-min:               @screen-md;
// Large screen / wide desktop
@screen-lg:                   1200px;
@screen-lg-min:               @screen-lg;
// X-Large screen / wide desktop
@screen-xl:                   1800px;
@screen-xl-min:               @screen-xl;
// So media queries don't overlap when required, provide a maximum
@screen-xs-max:               (@screen-sm-min - 1);
@screen-sm-max:               (@screen-md-min - 1);
@screen-md-max:               (@screen-lg-min - 1);
@screen-lg-max:               (@screen-xl-min - 1);
@screen-xl-max:               1800px;
//== Pane
//
@pane-width:                  280px;
//== Grid system
//
//## Define your custom responsive grid.
//** Number of columns in the grid.
@grid-columns:                12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:           40px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:       @screen-md-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max:   (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
// Small screen / tablet
//** For `@screen-sm-min` and up.
@container-sm:                 760px;

// Medium screen / desktop
//** For `@screen-md-min` and up.
@container-md:                980px;
// Large screen / wide desktop
//** For `@screen-lg-min` and up.
@container-lg:                1180px;
// Very wide screen / wide desktop
//** For `@screen-xl-min` and up.
@container-xl:                1600px;

// Scaffolding
// -------------------------
@padding-base-vertical:       7px;
//** Global textual link color.
@link-color:                  @text-color;
@link-hover-color:            darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration:       underline;

//==Spacing
//
@space-xxs:                   5px;
@space-xs:                    10px;
@space-sm:                    20px;
@space-md:                    30px;
@space-lg:                    40px;
@space-xl:                    60px;

// Colors
// -------------------------
// grayscale and brand colors used throughout the site.

@primary-brand-green:         #3CAC30;
@bright-green:                #3CAC30;
@body-bg:                     #fff; // @layout6
@primary-body-bg:             #fff; 

@switcher-bg: 		  		  #252525;
@switcher-current-bg: 		  #000;

@brand-success:               #3cac30;
@brand-info:                  #43c1e6;
@brand-warning:               #FDB630;
@brand-danger:                #e43b34;
@orange:                      #FDB630;


@gray-25:					  #fafafa; // @layout5
@gray-50:					  #f8f8f8; // @layout4
@gray-75:					  #eeeeee; // @layout3
@gray-100:                    #e0e0e0; // @layout2
@gray-150:                    #d5d5d5; // @layout1

@gray-200:                    #999;
@gray-300:                    #999;
@gray-400:                    #757575;
@gray-500:                    #757575;
@gray-600:                    #757575;
@gray-700:                    #333;
@gray-800:                    #333;
@gray-900:                    #333;
@black:                       #333;

//-- Z-index master list
// -------------------------
@zindex-navbar:               1000;
@zindex-main-nav:             100;
@zindex-nav-local-persistent: 99;
@zindex-sticky-content:       10;
@zindex-slider:               1;
@zindex-slider-track-click:   2;
@zindex-slider-handle2:       3;
@zindex-tooltip:              1070;
@zindex-account-switcher:     1051;
@zindex-account-takeover:     1050;
@zindex-navbar-fixed:         1030;

//== Typography
// -------------------------

@text-color:                  @gray-700;
@text-color-light:            @gray-400;
@text-color-lighter:          @gray-300;
@text-color-error:            @brand-danger;

@font-weight-light:           300;
@font-weight-regular:         400;
@font-weight-bold:            600;
@font-family:                 -apple-system,
															BlinkMacSystemFont,
															"Segoe UI",
															"Roboto",
															"Oxygen",
															"Ubuntu",
															"Cantarell",
															"Fira Sans",
															"Droid Sans",
															"Helvetica Neue",
															Sans-Serif;
@mono-font-family:            Menlo, Monaco, Consolas, "Courier New", monospace;

@font-size-regular:           14px;
@font-size-large:             ceil((@font-size-regular * 1.25)); // ~18px
@font-size-small:             ceil((@font-size-regular * 0.85)); // ~12px
@font-size-h1:                floor((@font-size-regular * 2.6)); // ~36px
@font-size-h2:                floor((@font-size-regular * 2.15)); // ~30px
@font-size-h3:                ceil((@font-size-regular * 1.7)); // ~24px
@font-size-h4:                ceil((@font-size-regular * 1.25)); // ~18px
@font-size-h5:                ceil((@font-size-regular * 0.9)); // ~13px
@font-size-h6:                ceil((@font-size-regular * 0.85)); // ~12px

@heading-text-color:          @gray-700;
@headings-small-color:        @gray-300;
@headings-line-height:        1.2em;

// Common Components
// -------------------------
//** Unit-less `line-height` for use in components like buttons.
@line-height-base:            1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:        floor((@font-size-regular * @line-height-base)); // ~20px

// Borders
//-------------------------
@border-color:                @gray-100;
@border-color-dark:           @gray-200;
@border-width-0:              0;
@border-width-1:              1px;
@border-width-2:              2px;
@border-width-3:              3px;

// Border Radius
//-------------------------
@border-radius-base:          4px;
@border-radius-large:         6px;
@border-radius-small:         3px;
@border-radius-circle:        50%;

// Buttons
//-------------------------
@btn-default-color:           @black;
@btn-default-bg:              #fff;
@btn-default-border:          @gray-150;


@btn-primary-color:           #fff;
@btn-primary-bg:              @brand-success;

@btn-danger-color:            #fff;
@btn-danger-bg:               @brand-danger;

@btn-warning-color:           @btn-default-color;
@btn-warning-bg:              @brand-warning;

@btn-inverse-color:           @gray-700;
@btn-inverse-bg:              @gray-100;

@btn-outline-color:           @gray-700;
@btn-outline-border:          @gray-150;
@btn-outline-bg:              #f5f5f5;

@btn-icon-size-sm:            14px;
@btn-icon-size-default:       21px;
@btn-icon-size-lg:            30px;

@btn-hover-darken-percentage: 3%;

// Code
//-------------------------
@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

// Forms
//-------------------------
@input-height-base:           34px;
@form-group-margin-bottom:    15px;
@input-bg-disabled:           @gray-75;
//** Disabled cursor for form controls and buttons.
@cursor-disabled:             not-allowed;
//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
@state-success-text:          #3cac30;
@state-success-bg:            #dff0d8;
@state-success-border:        darken(spin(@state-success-bg, -10), 5%); // #d6e9c6
@state-info-text:             #317495;
@state-info-bg:               #d9edf7;
@state-info-border:           darken(spin(@state-info-bg, -10), 10%); // #afe4ee
@state-warning-text:          @brand-warning;
@state-warning-bg:            #fcf8e3;
@state-warning-border:        #f5d9a5;
@state-danger-text:           @text-color-error;
@state-danger-bg:             #f2dede;
@state-danger-border:         darken(spin(@state-danger-bg, -10), 5%); // #ebccd1

//== Account Switcher
//
@account-switcher-header-bg:          @gray-700;
@account-switcher-bg:                 @switcher-bg;
@account-switcher-text:               @gray-200;
@account-switcher-border-color:       @gray-700;
@account-switcher-active-bg:          @gray-900;
@account-switcher-input-text:         @gray-200;
@account-switcher-header-text:        @gray-400;
//== Action Toolbar
//
@action-toolbar-bg:                   @gray-75;
@action-toolbar-hover-bg:             @gray-100;
@action-toolbar-active-bg:            @gray-150;
@action-toolbar-dropdown-bg:          @gray-700;
@action-toolbar-dropdown-hover-bg:    @gray-800;
@action-toolbar-dropdown-active-bg:   @gray-900;
//== Alerts
//
//## Define alert colors, border radius, and padding.
@alert-padding:               @line-height-computed - 5;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      @font-weight-bold;
@alert-success-bg:            @state-success-bg;
@alert-success-icon:          @state-success-text;
@alert-success-border:        @state-success-border;
@alert-info-bg:               @state-info-bg;
@alert-info-icon:             @state-info-text;
@alert-info-border:           @state-info-border;
@alert-warning-bg:            @state-warning-bg;
@alert-warning-icon:          @state-warning-text;
@alert-warning-border:        @state-warning-border;
@alert-danger-bg:             @state-danger-bg;
@alert-danger-icon:           @state-danger-text;
@alert-danger-border:         @state-danger-border;
@alert-instruction-bg:        #fff;
@alert-instruction-icon:      @text-color-light;
@alert-instruction-border:    @border-color;
@alert-text:                  @text-color;
//== Chart Colors
//
@fill-greengrey:              #404c43;
@fill-moss:                   #58776a;
@fill-forestgreen:            #5e9354;
@fill-green:                  #8cc63f;
@fill-lightgreen:             #b8e288;
@fill-seafoam:                #59b082;
@fill-blue:                   #597c97;
@fill-yellow:                 #f1ee6b;
@fill-orange:                 @orange;
@fill-red:                    #d44747;
//== Navs
//=========================================
//== Main Nav
//
@main-nav-text:               @gray-300;
@main-nav-bg:                 @body-bg;
@main-nav-hover-bg:           @gray-50;
@main-nav-active-bg:          @gray-75;
@main-nav-icon-color:         @gray-400;
@main-nav-link-text:          @black;
@main-nav-link-text-hover:    @black;
@main-nav-link-text-active:   @black;
@main-nav-icon-color:         @gray-200;
@main-nav-selected-highlight: inset 3px 0 0 @primary-brand-green;
@main-nav-flyout-bg:          @body-bg;
@main-nav-flyout-hover-bg:    @gray-50;
@main-nav-flyout-active-bg:   @gray-75;
@main-nav-width-sm:           46px;
@main-nav-width-md:           100px;
@main-nav-width-lg:           160px;
@main-nav-flyout-width:       @pane-width; // 280px
@main-nav-flyout-divider:     @gray-75;
//=== Shared nav styles
@nav-link-padding:                    15px;
@nav-link-hover-bg:                   @gray-75;
@nav-disabled-link-color:             @gray-300;
@nav-disabled-link-hover-color:       @gray-300;
@nav-bottom-border:                   @gray-100;
//== Navbar
//
// Basics of a navbar
@navbar-height:               50px;
@navbar-margin-bottom:        0;
@navbar-border-radius:        @border-radius-base;
@navbar-padding-horizontal:   floor((@grid-gutter-width / 2));
@navbar-padding-vertical:     ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:  340px;
@navbar-default-bg:           #fff;
@navbar-default-border:       darken(@navbar-default-bg, 6.5%);
// Navbar links
@navbar-default-link-color:           @link-color;
@navbar-default-link-hover-color:     #333;
@navbar-default-link-hover-bg:        transparent;
@navbar-default-link-active-color:    #555;
@navbar-default-link-active-bg:       darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:  #ccc;
@navbar-default-link-disabled-bg:     transparent;
// Navbar brand label
@navbar-default-brand-color:          @navbar-default-link-color;
@navbar-default-brand-hover-color:    darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:       transparent;
// Navbar toggle
@navbar-default-toggle-hover-bg:      @gray-100;
@navbar-default-toggle-icon-bar-bg:   @gray-300;
@navbar-default-toggle-border-color:  @gray-200;
//== Pagination
//
//## Define pagination colors and padding.
@pagination-padding-x:        15px;
@pagination-padding-y:        7px;
@pagination-color:            @text-color;
@pagination-bg:               transparent;
@pagination-border-width:     1px;
@pagination-border-color:     @gray-150;
@pagination-hover-color:      @text-color;
@pagination-hover-bg:         #fff;
@pagination-hover-border:     #ddd;
@pagination-active-color:     @text-color;
@pagination-active-bg:        @gray-100;
@pagination-active-border:    @gray-100;
@pagination-disabled-color:   @gray-200;
@pagination-disabled-bg:      #fff;
@pagination-disabled-border:  @gray-100;
// Progress bars
//
@progress-bg:                 @gray-100;
@progress-border-radius:      @border-radius-small;
@progress-bar-success-bg:     @brand-success;
@progress-bar-info-bg:        @brand-info;
@progress-bar-warning-bg:     @brand-warning;
@progress-bar-danger-bg:      @brand-danger;
//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:          8px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding: 5px;
//** Default background color used for all tables.
@table-bg:                    transparent;
//** Background color used for `.table-striped`.
@table-accent-bg:             #f9f9f9;
//** Background color used for `.table-hover`.
@table-hover-bg:              #f5f5f5;
@table-active-bg:             @table-hover-bg;
@table-header-bg:             @gray-75;
//** Border color for table and cell borders.
@table-border-color:          @gray-75;
//== Tag Colors
//
@tag-default-bg:              @gray-300;
@tag-primary-bg:              @brand-success;
@tag-info-bg:                 @brand-info;
@tag-warning-bg:              @brand-warning;
@tag-danger-bg:               @brand-danger;
//== Tooltips
//
@tooltip-max-width:           200px;
@tooltip-color:               #fff;
@tooltip-bg:                  #000;
@tooltip-opacity:             0.9;
@tooltip-arrow-width:         5px;
@tooltip-arrow-color:         @tooltip-bg;
// Tree List
//
@tree-list-status-default-bg: @gray-100;
@tree-list-status-warning-bg: @brand-warning;
@tree-list-status-danger-bg:  @brand-danger;

@new-list-view-header-bg: 	  @gray-75;
@list-view-item-bg: 		  @primary-body-bg;
//== Process
//
@process-step-bg:							@gray-100;
@process-step-done-bg:         @gray-500;
@process-step-active-bg:			@bright-green;
