//== Media queries breakpoints
// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm: 768px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md: 992px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;

//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop: @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@screen-lg-max: 1200px;


//== Type
// -------------------------

@textColor: #333;
@headingTextColor: #222;
@textColorLight: #666;
@textColorLighter: #999;
@borderColor: #d9d9d9;

@baseFontWeight: 300;

@fontFamily: "Open Sans", Helvetica, Arial, Sans-Serif;
@monoFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace;

@font-size-base: 14px;
@font-size-large: ceil((@font-size-base * 1.25)); // ~18px
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1: floor((@font-size-base * 2.6)); // ~36px
@font-size-h2: floor((@font-size-base * 2.15)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5: ceil((@font-size-base * 0.9)); // ~13px
@font-size-h6: ceil((@font-size-base * 0.85)); // ~12px

@headings-line-height: 1.2;


// Common Components
// -------------------------

//** Unit-less `line-height` for use in components like buttons.
@line-height-base: 1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px

@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;


// Colors
// -------------------------

@primaryBrandGreen: #00853f;

// Grays
// -------------------------
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #555;
@grayish: #cfcfcf;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

// Accent colors
// -------------------------
@blue: #049cdb;
@blueDark: #0064cd;
@green: #46a546;
@red: #9d261d;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;


// Buttons
//-------------------------
@btn-default-color: #fff;
@btn-default-bg: #8e8e8e;
@btn-default-bg-hover: #808080;
@btn-default-bg-active: #727272;
@btn-default-bg-disabled: #a5a5a5;
@btn-primary-color: @btn-default-color;
@btn-primary-bg: #3cac30;
@btn-primary-bg-hover: #369a2b;
@btn-primary-bg-active: #308a26;
@btn-primary-bg-disabled: #63bd59;
@btn-danger-color: @btn-default-color;
@btn-danger-bg: #e43b34;
@btn-danger-bg-hover: #cd352f;
@btn-danger-bg-active: #b62f2a;
@btn-danger-bg-disabled: #e9625d;
@btn-inverse-color: @textColor;
@btn-inverse-color-disabled: #222;
@btn-inverse-bg: #e5e5e5;
@btn-inverse-bg-hover: #cecece;
@btn-inverse-bg-active: @btn-inverse-bg-hover;
@btn-inverse-bg-disabled: @btn-inverse-bg;
@btn-outline-color: @btn-default-color;
@btn-outline-color-disabled: @btn-inverse-color-disabled;
@btn-outline-border: #ccc;
@btn-outline-bg: #f5f5f5;
@btn-outline-bg-hover: #888;
@btn-outline-bg-active: @btn-outline-bg-hover;
@btn-outline-bg-disabled: @btn-outline-bg;


// Code
//-------------------------

@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;
