<section class="pl-section" id="breadcrumb">
  <h3><a href="#breadcrumb">Breadcrumb</a></h3>
  <p>Use <code>.breadcrumb</code> on an <code>&lt;ol&gt;</code> to automatically get breadcrumb styles. If the breadcrumb is immediately followed by an <code>&lt;h1&gt;</code>, the top margin of the <code>&lt;h1&gt;</code> will be spaced accordingly.</p>

  <div class="pl-example">
{{> components/examples/breadcrumb }}
  </div>
  <pre>
    <code class="html">
&lt;ol class=&quot;breadcrumb&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;US West - Seattle (WA1)&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Public Web App&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;active&quot;&gt;WA1WEBAP01&lt;/li&gt;
&lt;/ol&gt;
    </code>
  </pre>
</section>
