<ul class="list-info">
	<li>
		<div class="info-label">policy name</div>
		<div class="info-value">Web App Backup Policy</div>
	</li>
	<li>
		<div class="info-label">total storage</div>
		<div class="info-value">7.7GB</div>
	</li>
	<li>
		<div class="info-label">frequency</div>
		<div class="info-value">24 hours</div>
	</li>
	<li>
		<div class="info-label">simple backup</div>
		<div class="info-value"><a href="#" class="btn btn-inverse btn-sm">manage</a></div>
	</li>
	<li>
		<div class="info-label">retention</div>
		<div class="info-value">5 days</div>
	</li>
</ul>
