<section class="pl-section" id="actionToolbar">
  <h3><a href="#actionToolbar">Action Toolbar</a></h3>
  <p>
    Use <code>.action-toolbar</code> on an <code>&lt;ol&gt;</code> or <code>&lt;ul&gt;</code> to
    get a menu style toolbar. using the <code>overflowMenu</code> widget, as seen bellow, allowes
    for dynamic creation of a &quot;more&quot; dropdown link when the toolbar is too narrow.
  </p>

  <div class="pl-example">
    <div class="action-area">
      <ol class="action-toolbar" data-bind="widget: 'overflowMenu'">
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-play'></svg> start</a></li>
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-stop'></svg> stop</a></li>
        <li><a href="#" class="disabled"><svg class="cyclops-icon"><use xlink:href='#icon-stop'></svg> disabled</a></li>
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-refresh'></svg> restart</a></li>
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-archive'></svg> archive</a></li>
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-snapshot'></svg> snapshot</a></li>
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-disaster-recovery'></svg> recovery</a></li>
      </ol>
    </div>
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;action-area&quot;&gt;
  &lt;ol class=&quot;action-toolbar&quot; data-bind=&quot;widget: &#39;overflowMenu&#39;&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-play&#39;&gt;&lt;/svg&gt; start&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-stop&#39;&gt;&lt;/svg&gt; stop&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;disabled&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-stop&#39;&gt;&lt;/svg&gt; disabled&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-refresh&#39;&gt;&lt;/svg&gt; restart&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-archive&#39;&gt;&lt;/svg&gt; archive&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-sanpshot&#39;&gt;&lt;/svg&gt; snapshot&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-disaster-recovery&#39;&gt;&lt;/svg&gt; recovery&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
    </code>
  </pre>
<p>
  If you need to have a right align link use the classes <code>action-toolbar-left</code> and
  <code>action-toolbar-right</code>. If you need more than a single link use a
  <a href="./buttons.html#dropdowns">dropdown</a>.
</p>
  <div class="pl-example">
    <div class="action-area">
      <ol class="action-toolbar-left" data-bind="widget: 'overflowMenu'">
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-play'></svg> start</a></li>
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-stop'></svg> stop</a></li>
        <li><a href="#" class="disabled"><svg class="cyclops-icon"><use xlink:href='#icon-stop'></svg> disabled</a></li>
          <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-refresh'></svg> restart</a></li>
          <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-archive'></svg> archive</a></li>
          <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-snapshot'></svg> snapshot</a></li>
          <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-disaster-recovery'></svg> recovery</a></li>
      </ol>

      <ol class="action-toolbar-right">
        <li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-settings'></svg> settings</a></li>
      </ol>
    </div>
  </div>

  <pre>
    <code class="html">
&lt;div class=&quot;action-area&quot;&gt;
  &lt;ol class=&quot;action-toolbar-left&quot; data-bind=&quot;widget: &#39;overflowMenu&#39;&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-play&#39;&gt;&lt;/svg&gt; start&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-stop&#39;&gt;&lt;/svg&gt; stop&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;disabled&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-stop&#39;&gt;&lt;/svg&gt; disabled&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-refresh&#39;&gt;&lt;/svg&gt; restart&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-archive&#39;&gt;&lt;/svg&gt; archive&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-snapshot&#39;&gt;&lt;/svg&gt; snapshot&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-disaster-recovery&#39;&gt;&lt;/svg&gt; recovery&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;

  &lt;ol class=&quot;action-toolbar-right&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-settings&#39;&gt;&lt;/svg&gt; settings&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>
