<section class="pl-section" id="activityHistory">
  <h3><a href="#activityHistory">Activity History</a></h3>
  <p>An important part of the CenturyLink Control Portal experience, is the logging of user activity. Actions performed by the user against your service (CRUD operations for example) should be logged and displayed in the Accounts' activity history, as well as on the entity (e.g. server) or rollup pages (e.g. data center, server group).</p>

  <div class="pl-example">
    {{> components/examples/activity-history }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;activity-history&quot;&gt;
  &lt;h5 class=&quot;content-header&quot;&gt;
   RECENT ACTIVITY
  &lt;/h5&gt;
  &lt;section class=&quot;day&quot;&gt;
   &lt;h5 class=&quot;content-header&quot;&gt;Tuesday Sep 29&lt;/h5&gt;
   &lt;ol&gt;
     &lt;li&gt;
       &lt;div class=&quot;timestamp&quot;&gt;2:50:05 PM&lt;/div&gt;
       &lt;div class=&quot;details&quot;&gt;
         &lt;div class=&quot;subject&quot;&gt;Password change for user trent.anderson&lt;/div&gt;
         &lt;div class=&quot;body&quot;&gt;Password change for user trent.anderson by system&lt;/div&gt;
         &lt;div class=&quot;attribution&quot;&gt;
           &lt;span class=&quot;createdBy&quot;&gt;system&lt;/span&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/li&gt;
   &lt;/ol&gt;
  &lt;/section&gt;
  &lt;section class=&quot;day&quot;&gt;
   &lt;h5 class=&quot;content-header&quot;&gt;Tuesday Sep 29&lt;/h5&gt;
   &lt;ol&gt;
     &lt;li&gt;
       &lt;div class=&quot;timestamp&quot;&gt;2:50:05 PM&lt;/div&gt;
       &lt;div class=&quot;details&quot;&gt;
         &lt;div class=&quot;subject&quot;&gt;Password change for user trent.anderson&lt;/div&gt;
         &lt;div class=&quot;body&quot;&gt;Password change for user trent.anderson by system&lt;/div&gt;
         &lt;div class=&quot;attribution&quot;&gt;
           &lt;span class=&quot;createdBy&quot;&gt;system&lt;/span&gt;
         &lt;/div&gt;
       &lt;/div&gt;
     &lt;/li&gt;
   &lt;/ol&gt;
  &lt;/section&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>
