<section class="pl-section" id="actionToolbar">
  <h3><a href="#actionToolbar">Action Toolbar</a></h3>
  <p>
    Use <code>.action-toolbar</code> on an <code>&lt;ol&gt;</code> or <code>&lt;ul&gt;</code> to
    get a menu style toolbar. using the <code>overflowMenu</code> widget, as seen bellow, allowes
    for dynamic creation of a &quot;more&quot; dropdown link when the toolbar is too narrow.
  </p>

  <div class="pl-example">
    {{> components/examples/action-toolbar }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;action-area&quot;&gt;
  &lt;ol class=&quot;action-toolbar&quot; data-bind=&quot;widget: 'overflowMenu'&quot;&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-play' /&gt;&lt;/svg&gt; start&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-stop' /&gt;&lt;/svg&gt; stop&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot; disabled&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-stop' /&gt;&lt;/svg&gt; disabled&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-refresh' /&gt;&lt;/svg&gt; restart&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-archive' /&gt;&lt;/svg&gt; archive&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-snapshot' /&gt;&lt;/svg&gt; snapshot&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-disaster-recovery' /&gt;&lt;/svg&gt; recovery&lt;/button&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
    </code>
  </pre>
<p>
  If you need to have a right align link use the classes <code>action-toolbar-left</code> and
  <code>action-toolbar-right</code>. If you need more than a single link use a
  <a href="./buttons.html#dropdowns">dropdown</a>.
</p>
  <div class="pl-example">
    {{> components/examples/action-toolbar-right }}
  </div>

  <pre>
    <code class="html">
&lt;div class=&quot;action-area&quot;&gt;
  &lt;ol class=&quot;action-toolbar-left&quot; data-bind=&quot;widget: 'overflowMenu'&quot;&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-play' /&gt;&lt;/svg&gt; start&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-stop' /&gt;&lt;/svg&gt; stop&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot; disabled&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-stop' /&gt;&lt;/svg&gt; disabled&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-refresh' /&gt;&lt;/svg&gt; restart&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-archive' /&gt;&lt;/svg&gt; archive&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-snapshot' /&gt;&lt;/svg&gt; snapshot&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-disaster-recovery' /&gt;&lt;/svg&gt; recovery&lt;/button&gt;&lt;/li&gt;
  &lt;/ol&gt;
  &lt;ol class=&quot;action-toolbar-right&quot;&gt;
    &lt;li&gt;&lt;button type=&quot;button&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-settings' /&gt;&lt;/svg&gt; settings&lt;/button&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
    </code>
  </pre>

  <h4 id="actionToolbarActiveButton"><a href="#actionToolbarActiveButton">ActionToolbar Active Button</a></h4>
  <p>Some actions may take a long period of time to complete, or toggle a slideWell open and closed. By adding the <code>.active</code> class to the button and changing the verbage, we can let the user know that an action is taking place.</p>
  <div class="pl-example m-b-lg">
    {{> components/examples/action-toolbar-active }}
  </div>
  <pre>
    <code class="html">
&lt;li&gt;&lt;button type=&quot;button&quot; class=&quot;active&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-play' /&gt;&lt;/svg&gt; starting&amp;hellip;&lt;/button&gt;&lt;/li&gt;
    </code>
  </pre>


  <h4 id="actionToolbarConfirmations"><a href="#actionToolbarConfirmations">Action Toolbar Confirmations</a></h4>
  <p>
    Some actions can be costly or even dangerous and therefore should be confirmed to make sure
    that the user actually wants to preform them. This shouldn’t be done on every action just
    ones that have possible negative side effects, like taking a service offline for a period
    of time.
  </p>
  <p>
    Cyclops provides a widget, the <code>actionToolbarConfirm</code>, that can be used to get
    confirmation from the user.  For more information about the specific options and
    configurations available please see the
    <a href="./widgets.html#actionToolbarConfirm">actionToolbarConfirm</a> code page.
  </p>
  <div class="pl-example">
    <div class="action-area">
      <ol class="action-toolbar-left" data-bind="widget: 'overflowMenu'">
        <li><a href="#" data-bind="widget: 'actionToolbarConfirm'"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-play' /></svg> start</a></li>
        <li><a href="#" data-bind="widget: {
          name: 'actionToolbarConfirm',
          options: {
            classes: 'action-toolbar-confirm-danger',
            messageHtml: 'Are you sure you want to delete this server?',
            yesHtml: '<svg class=&quot;cyclops-icon&quot;><use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon-trash&quot;></use></svg> Delete'}}"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-stop' /></svg> stop</a></li>
        <li><a href="#" class="disabled"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-stop' /></svg> disabled</a></li>
        <li><a href="#" data-bind="widget: 'actionToolbarConfirm'"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-refresh' /></svg> restart</a></li>
        <li><a href="#" data-bind="widget: 'actionToolbarConfirm'"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-archive' /></svg> archive</a></li>
        <li><a href="#"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-snapshot' /></svg> snapshot</a></li>
        <li><a href="#" data-bind="widget: 'actionToolbarConfirm'"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-disaster-recovery' /></svg> recovery</a></li>
      </ol>

      <ol class="action-toolbar-right">
        <li><a href="#"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-settings' /></svg> settings</a></li>
      </ol>
    </div>
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;action-area&quot;&gt;
  &lt;ol class=&quot;action-toolbar-left&quot; data-bind=&quot;widget: &#39;overflowMenu&#39;&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; data-bind=&quot;widget: &#39;actionToolbarConfirm&#39;&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-play&#39;&gt;&lt;/svg&gt; start&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; data-bind=&quot;widget: {
      name: &#39;actionToolbarConfirm&#39;,
      options: {
        classes: &#39;action-toolbar-confirm-danger&#39;,
        messageHtml: &#39;Are you sure you want to delete this server?&#39;,
        yesHtml: &#39;&lt;svg class=&amp;quot;cyclops-icon&amp;quot;&gt;&lt;use xmlns:xlink=&amp;quot;http://www.w3.org/1999/xlink&amp;quot; xlink:href=&amp;quot;#icon-trash&amp;quot;&gt;&lt;/use&gt;&lt;/svg&gt; Delete&#39;}}&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-stop&#39;&gt;&lt;/svg&gt; stop&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;disabled&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-stop&#39;&gt;&lt;/svg&gt; disabled&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; data-bind=&quot;widget: &#39;actionToolbarConfirm&#39;&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-refresh&#39;&gt;&lt;/svg&gt; restart&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; data-bind=&quot;widget: &#39;actionToolbarConfirm&#39;&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-archive&#39;&gt;&lt;/svg&gt; archive&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-snapshot&#39;&gt;&lt;/svg&gt; snapshot&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; data-bind=&quot;widget: &#39;actionToolbarConfirm&#39;&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-disaster-recovery&#39;&gt;&lt;/svg&gt; recovery&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;

  &lt;ol class=&quot;action-toolbar-right&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-settings&#39;&gt;&lt;/svg&gt; settings&lt;/a&gt;&lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
    </code>
  </pre>



</section>
