<section class="pl-section" id="alerts">
  <h3><a href="#alerts">Alerts</a></h3>
  <p>Provide contextual feedback messages for user actions with alert messages. Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-success</code>) for basic alert messages. Responsive behavior is built in.</p>

  <div class="pl-example">
    {{> components/examples/alerts }}
  </div>
    <pre>
      <code class="html">
// alert with an icon and header
&lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href=&#39;#icon-plus-circle&#39;&gt;&lt;/svg&gt;
  &lt;/div&gt;
  &lt;h4&gt;Success!&lt;/h4&gt;
  &lt;p&gt;This is a successful message.&lt;/p&gt;
&lt;/div&gt;

// text only alert
&lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;
  ...
&lt;/div&gt;
      </code>
    </pre>
  </section>
