<section class="pl-section" id="billingSummary">
  <h3><a href="#billingSummary">Billing Summary</a></h3>
  <p>When possible, expose a billing estimate for your service so that customers can see how their usage of individual services will impact their total bill. Add <code>.billing-summary</code> to a <code>.row</code>, and within each grid column, wrap the unit in <code>.heading</code> and the value in <code>.currency</code>.</p>

  <div class="pl-example">
    {{> components/examples/billing-summary-3 }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;row billing-summary&quot;&gt;
  &lt;div class=&quot;col-sm-4 col-xs-6&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;MONTH ESTIMATE&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$15.74&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-4 col-xs-6&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;CURRENT HOUR&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$0.02&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-4 col-xs-6&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;MONTH TO DATE&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$7.08&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>

  <p>Billing estimate with a one time charge (setup fees)</p>
  <div class="pl-example">
    {{> components/examples/billing-summary-4 }}
  </div>
  <pre>
    <code class="html">
      &lt;div class=&quot;row billing-summary&quot;&gt;
        &lt;div class=&quot;col-sm-3 col-xs-6&quot;&gt;
          &lt;div class=&quot;heading&quot;&gt;MONTH ESTIMATE&lt;/div&gt;
          &lt;div class=&quot;currency&quot;&gt;$1,136.34&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-3 col-xs-6&quot;&gt;
          &lt;div class=&quot;heading&quot;&gt;CURRENT HOUR&lt;/div&gt;
          &lt;div class=&quot;currency&quot;&gt;$1.51&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-3 col-xs-6&quot;&gt;
          &lt;div class=&quot;heading&quot;&gt;ONE TIME CHARGES&lt;/div&gt;
          &lt;div class=&quot;currency&quot;&gt;$0.00&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-sm-3 col-xs-6&quot;&gt;
          &lt;div class=&quot;heading&quot;&gt;MONTH TO DATE&lt;/div&gt;
          &lt;div class=&quot;currency&quot;&gt;$480.40&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </code>
  </pre>

  <p>Billing estimate with one time charge and promo balance.</p>
  <div class="pl-example">
    {{> components/examples/billing-summary-5 }}

  </div>

  <pre>
    <code class="html">
&lt;div class=&quot;row billing-summary&quot;&gt;
  &lt;div class=&quot;col-sm-1-5&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;MONTH ESTIMATE&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$1,136.34&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-1-5&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;CURRENT HOUR&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$1.51&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-1-5&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;ONE TIME CHARGES&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$0.00&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-1-5&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;MONTH TO DATE&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;$480.40&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-1-5&quot;&gt;
    &lt;div class=&quot;heading&quot;&gt;PROMO BALANCE&lt;/div&gt;
    &lt;div class=&quot;currency&quot;&gt;($623.40)&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>

  <div class="alert alert-info">
    <h4>Loading Behavior</h4>
    <p>When loading data, use a <code>&amp;hellip;</code> to indicate that data is loading in place, and a <code>&amp;mdash;</code> when the data fails to load.</p>
  </div>

  <strong>Loading Data</strong>
  <div class="pl-example">
    <div class="row billing-summary">
      <div class="col-sm-4 col-xs-6">
        <div class="heading">MONTH ESTIMATE</div>
        <div class="currency">&hellip;</div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="heading">CURRENT HOUR</div>
        <div class="currency">&hellip;</div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="heading">MONTH TO DATE</div>
        <div class="currency">&hellip;</div>
      </div>
    </div>
  </div>

  <strong>Data Failed To Load</strong>
  <div class="pl-example">
    <div class="row billing-summary">
      <div class="col-sm-4 col-xs-6">
        <div class="heading">MONTH ESTIMATE</div>
        <div class="currency">&mdash;</div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="heading">CURRENT HOUR</div>
        <div class="currency">&mdash;</div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="heading">MONTH TO DATE</div>
        <div class="currency">&mdash;</div>
      </div>
    </div>
  </div>

</section>
