<section class="pl-section" id="breadcrumb">
  <h3><a href="#breadcrumb">Breadcrumb</a></h3>
  <p>Use <code>.breadcrumb</code> on an <code>&lt;ol&gt;</code> to automatically get breadcrumb styles.</p>

  <div class="pl-example">
    <ol class="breadcrumb">
      <li><a href="#">US West - Seattle (WA1)</a></li>
      <li><a href="#">Public Web App</a></li>
      <li class="active">WA1WEBAP01</li>
    </ol>
  </div>
  <pre>
    <code class="html">
&lt;ol class=&quot;breadcrumb&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;US West - Seattle (WA1)&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Public Web App&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;active&quot;&gt;WA1WEBAP01&lt;/li&gt;
&lt;/ol&gt;
    </code>
  </pre>
</section>
