
<section class="pl-section" id="gitStats">
  <h3><a href="#gitStats">Git Stats</a></h3>
  <p>Display the github stats of a repo.</p>
  <div class="pl-example">
    <ul class="git-stats">
      <li>
        <svg class="cyclops-icon"><use xlink:href='#icon-cloud-upload'></svg> 20 deploys
      </li>
      <li>
        <a href="#gitRepoUrl"><svg class="cyclops-icon"><use xlink:href='#icon-code-fork'></svg> 2 forks</a>
      </li>
      <li>
        <a href="#gitRepoUrl"><svg class="cyclops-icon"><use xlink:href='#icon-star'></svg> 21 stars</a>
      </li>
    </ul>
  </div>
  <pre>
    <code class="html">
&lt;ul class=&quot;git-stats&quot;&gt;
  &lt;li&gt;
    &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-cloud-upload'&gt;&lt;/svg&gt; 20 deploys
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-code-fork'&gt;&lt;/svg&gt; 2 forks&lt;/a&gt;
  &lt;/li&gt;
  &lt;li&gt;
    &lt;a href=&quot;#&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-star'&gt;&lt;/svg&gt; 21 stars&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
    </code>
  </pre>
</section>
