<section class="pl-section" id="navTabs">
  <h3><a href="#navTabs">Nav Tabs</a></h3>
  <p>Nav tabs are useful to display a tabbed set of distinct information related to the main context of the page (e.g. environment variables, logs, and connected services for an Appfog application), but not worth having individual pages. To use, add <code>.nav-tabs</code> to the <code>.nav</code> base class.</p>
  <div class="pl-example">
		{{> components/examples/nav-tabs }}
  </div>
  <pre>
    <code class="html">
&lt;ul role=&quot;navigation&quot; class=&quot;nav nav-tabs&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;Disabled&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
    </code>
  </pre>
</section>
