<section class="pl-section" id="navTabs">
  <h3><a href="#navTabs">Nav Tabs</a></h3>
  <p>For a tab navigation, add <code>.nav-tabs</code> to the <code>.nav</code> base class.</p>
  <div class="pl-example">
		<ul class="nav nav-tabs">
      <li><a href="#">Link</a></li>
      <li class="active"><a href="#">Active</a></li>
      <li><a href="#">Link</a></li>
      <li class="disabled"><a href="#">Disabled</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
  <pre>
    <code class="html">
&lt;ul role=&quot;navigation&quot; class=&quot;nav nav-tabs&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;disabled&quot;&gt;&lt;a href=&quot;#&quot;&gt;Disabled&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
    </code>
  </pre>
</section>
