{{#contentFor "logoURL"}}./img/logo-centurylink.png{{/contentFor}}

<section class="pl-section">
  <h3 id="pageHeader"><a href="#pageHeader">Page Header Navigation</a></h3>
  <p>Key to a positive customer experience is having a standard header navigation across Platform services. Adopt the page header navigation component for your product to ensure your UI is consistent with the rest of the CenturyLink Platform.</p>
  <p>Responsive behavior is built in, so at narrow viewports (portrait tablet or mobile device), the links will collapse into a vertical menu.</p>
  <div class="pl-example">
    {{> components/examples/page-header-navigation }}
  </div>
  <pre>
    <code class="html">
&lt;nav class=&quot;navbar navbar-inverse navbar-static-top&quot;&gt;
  &lt;div class=&quot;container-fluid&quot;&gt;
    &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
    &lt;div class=&quot;navbar-header&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot;&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;a class=&quot;navbar-brand&quot; href=&quot;/&quot;&gt;
        &lt;img src=&quot;/img/logo-centurylink.png&quot; alt=&quot;CenturyLink&quot; /&gt;
      &lt;/a&gt;
      &lt;a class=&quot;navbar-service&quot; href=&quot;/&quot;&gt;Service Name&lt;/a&gt;
    &lt;/div&gt;

    &lt;!-- Collect the nav links, forms, and other content for toggling --&gt;
    &lt;div class=&quot;collapse navbar-collapse&quot;&gt;
      &lt;ul class=&quot;nav navbar-nav&quot;&gt;
        &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Link &lt;span class=&quot;sr-only&quot;&gt;(current)&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
      &lt;!-- Link back to the Control Portal, and give a sign out link --&gt;
      &lt;ul class=&quot;nav navbar-nav navbar-right navbar-account&quot;&gt;
        &lt;li&gt;&lt;a href=&quot;https://control.ctl.io&quot;&gt;Control Portal&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;navbar-link&quot;&gt;Sign Out&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
  &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
&lt;/nav&gt;
    </code>
  </pre>
</section>
