
<section class="pl-section" id="pagination">
  <h3><a href="#pagination">Pagination</a></h3>
  <p>Simple pagination for lists with many results. Use <code>.active</code> to indicate the current page, and <code>.disabled</code> for unclickable links (i.e. beginning or end of the list).</p>
  <div class="pl-example">
    {{> components/examples/pagination }}
  </div>
  <pre>
    <code class="html">
&lt;nav&gt;
  &lt;ul class=&quot;pagination&quot;&gt;
    &lt;li class=&quot;disabled&quot;&gt;
      &lt;a href=&quot;#&quot; aria-label=&quot;Previous&quot;&gt;
        &lt;span aria-hidden=&quot;true&quot;&gt;&amp;laquo;&lt;/span&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Previous&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;#&quot; aria-label=&quot;Next&quot;&gt;
        &lt;span aria-hidden=&quot;true&quot;&gt;&amp;raquo;&lt;/span&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Next&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
    </code>
  </pre>
</section>
