<section class="pl-section" id="priceEstimate">
  <h3><a href="#priceEstimate">Price Estimate</a></h3>
  <p>When possible, show a price estimate on the left side of a Create form page so that customers can get an  understanding of how their actions impact potential costs. Changes in to settings in the create form (e.g. changing cpu count), should impact the values displayed in the price estimate.</p>
  <p>Within a <code>.row</code>, use the <code>.priceEstimateContainer</code> to display the estimate values and <code>.createFormContainer</code> to contain the <code>&lt;form&gt;</code>.</p>

  <div class="pl-example">
    <iframe src="./starterPages/price-estimate-create.html"></iframe>
    <p><a href="./starterPages/price-estimate-create.html">Open Example Page</a></p>
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;row&quot;&gt;
  &lt;div id=&quot;priceEstimateContainer&quot;&gt;
    &lt;div id=&quot;priceEstimate&quot;&gt;
      &lt;h5 class=&quot;content-header&quot;&gt;ESTIMATED COST AS CONFIGURED&lt;/h5&gt;
      &lt;div class=&quot;cost-value&quot;&gt;$75.29&lt;/div&gt;
      &lt;div class=&quot;cost-interval&quot;&gt;PER MONTH&lt;/div&gt;
      &lt;div class=&quot;cost-value&quot;&gt;$0.10&lt;/div&gt;
      &lt;div class=&quot;cost-interval&quot;&gt;PER HOUR&lt;/div&gt;
      &lt;div class=&quot;disclaimer&quot;&gt;Does not include bandwidth charges. Final cost will vary based on usage.&lt;/div&gt;
    &lt;/div&gt;
    &lt;div id=&quot;priceBreakdown&quot;&gt;
      &lt;div class=&quot;line-item&quot;&gt;
        &lt;div class=&quot;line-item-display&quot;&gt;2 CPUs&lt;/div&gt;
        &lt;div class=&quot;line-item-cost&quot;&gt;(~$0.02/hr)&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;line-item&quot;&gt;
        &lt;div class=&quot;line-item-display&quot;&gt;4GB Memory&lt;/div&gt;
        &lt;div class=&quot;line-item-cost&quot;&gt;(~$0.06/hr)&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;line-item&quot;&gt;
        &lt;div class=&quot;line-item-display&quot;&gt;100GB Storage&lt;/div&gt;
        &lt;div class=&quot;line-item-cost&quot;&gt;(~$0.02/hr)&lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div id=&quot;createFormContainer&quot;&gt;
    &lt;form&gt;...&lt;/form&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>

</section>
