<section class="pl-section" id="primaryContent">
  <h3><a href="#primaryContent">Primary Content</a></h3>
  <p>Increase page speed to comprehension by giving the page a visual hierachy. Use the <code>.primary</code> class to wrap a <code>.container</code> to add a white background to the main content of the view. For an example, see the <a href="/starterPages/basic.html">basic starter page</a>.</p>
  <div class="pl-example">
    <div class="primary-container">
      <p>Page Header Content</p>
      <div class="primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">Primary Content</div>
          </div>
        </div>
      </div>
      <p>Secondary Content</p>
    </div>
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;primary&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-12&quot;&gt;...&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>
