<section class="pl-section" id="searchInput">
  <h3><a href="#searchInput">Search Input</a></h3>
  <p>
    A set of standard markup to make a simple search box.
  </p>

  <div class="pl-example">
{{> components/examples/search-input }}
  </div>
  <pre>
    <code class="html">
&lt;span class=&quot;search-input&quot;&gt;
  &lt;input type=&quot;text&quot;/&gt;
  &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;
    &lt;use xlink:href='#icon-search'&gt;&lt;/use&gt;
  &lt;/svg&gt;
&lt;/span&gt;
    </code>
  </pre>
</section>
