<section class="pl-section" id="showPassword">
  <h3>
    <a href="#showPassword">Show Password</a>
    <a href="./knockoutComponents.html#showPassword"><svg class="cyclops-icon"><use xlink:href='#icon-api'></svg></a></h3>
  <p>
    A control to show a password. After <code>15 seconds</code>, it will automatically hide itself.
  </p>
  <div class="pl-example">
    <ul class="list-info">
      <li>
        <div class="info-label">username</div>
        <div class="info-value">matthew.osborn</div>
      </li>
      <li>
        <div class="info-label">password</div>
        <div class="info-value">
          <show-password params="getPassword: getPassword"></show-password>
        </div>
      </li>
      <li>
        <div class="info-label">IP Adrress</div>
        <div class="info-value">192.168.1.1</div>
      </li>
    </ul>
  </div>
  <pre>
    <code class="html">
&lt;ul class=&quot;list-info&quot;&gt;
  &lt;li&gt;
    &lt;div class=&quot;info-label&quot;&gt;password&lt;/div&gt;
    &lt;div class=&quot;info-value&quot;&gt;
      &lt;show-password params=&quot;getPassword: getPassword&quot;&gt;&lt;/show-password&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;
    </code>
  </pre>
</section>
