<section class="pl-section" id="upcomingEvents">
  <h3><a href="#upcomingEvents">Upcoming Events</a></h3>
  <p>Use <code>.upcoming-events</code> to display scheduled events. The <code>.task-datetime</code> should link to the task's respective scheduling page. Responsive behavior is built in.</p>

  <div class="pl-example">
    <div class="upcoming-events">
      <h5 class="content-header">UPCOMING EVENTS</h5>
      <div class="event">
        <a class="task-datetime" href="#">
          <span class=" date">10/17</span>
          <span class="time">11:24 am</span>
        </a>
        <div class="details">
          <div class="category">Delete Snapshot</div>
          <div class="subject">CA3-DNS-01</div>
        </div>
      </div>
      <div class="event">
        <a class="task-datetime" href="#">
          <span class=" date">10/21</span>
          <span class="time">07:33 am</span>
        </a>
        <div class="details">
          <div class="category">Delete Snapshot</div>
          <div class="subject">WA1-DEMO-01</div>
        </div>
      </div>
    </div>
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;upcoming-events&quot;&gt;
  &lt;h5 class=&quot;content-header&quot;&gt;UPCOMING EVENTS&lt;/h5&gt;
  &lt;div class=&quot;event&quot;&gt;
    &lt;a class=&quot;task-datetime&quot; href=&quot;#&quot;&gt;
      &lt;span class=&quot; date&quot;&gt;10/17&lt;/span&gt;
      &lt;span class=&quot;time&quot;&gt;11:24 am&lt;/span&gt;
    &lt;/a&gt;
    &lt;div class=&quot;details&quot;&gt;
      &lt;div class=&quot;category&quot;&gt;Delete Snapshot&lt;/div&gt;
      &lt;div class=&quot;subject&quot;&gt;CA3-DNS-01&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;event&quot;&gt;
    &lt;a class=&quot;task-datetime&quot; href=&quot;#&quot;&gt;
      &lt;span class=&quot; date&quot;&gt;10/21&lt;/span&gt;
      &lt;span class=&quot;time&quot;&gt;07:33 am&lt;/span&gt;
    &lt;/a&gt;
    &lt;div class=&quot;details&quot;&gt;
      &lt;div class=&quot;category&quot;&gt;Delete Snapshot&lt;/div&gt;
      &lt;div class=&quot;subject&quot;&gt;WA1-DEMO-01&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>
