<section class="pl-section" id="mainNav">
  <h3>
    <a href="#accountSwitcher">Main Navigation</a>
    <a href="./knockoutComponents.html#AccountSwitcher"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-api' /></svg><span class="sr-only">api documentation</span></a></h3>
  </h3>

  <p>The <code>&lt;main-nav&gt;</code> is a custom web component created for the CenturyLink Control Portal. It is a left-aligned bar that is the primary means of navigating between different sections of the Control Portal. Its contents are meant to be data-driven, as different users have varying levels of access to areas of the site.</p>
  <p>Responsive behavior is built in, so at narrow viewports (portrait tablet or mobile device), the links will collapse into an icon-based menu. At wide viewports, the icon and label will be adjacent instead of stacked.</p>

  <div class="pl-example">
    <p>In the iframe below, the main-nav is the menu bar on the left.</p>
    <iframe src="./starterPages/basic.html"></iframe>
    <p>
      <a href="./starterPages/basic.html">Open Example Page</a>
    </p>
  </div>
  <pre class="show-type">
    <code class="html">
&lt;main-nav role=&quot;navigation&quot; params=&quot;menus: menus, loading: loading, error: error, selectedItemId: selectedItemId&quot;&gt;&lt;/main-nav&gt;
    </code>
    <code class="javascript">
$(function(){
  ko.applyBindings({
    menus: [...],
    self.loading = ko.observable(false);
    self.error = ko.observable(false);
    self.selectedItemId = ko.observable('infrastructure.manage');
  });
});
    </code>
  </pre>
</section>
