<section class="pl-section" id="persistentNav">
  <h3><a href="#persistentNav">Persistent Nav Local</a></h3>
  <p>Persistent Nav Local is used to navigate between pages that fall within the same service. If there are secondary pages in a service, then links to those pages may be shown inside a <code>.dropdown-menu</code>.</p>
  <p>The persisent nav local should be the first element placed inside <code>&lt;main&gt;&lt;/main&gt;</code> and be visible at the top of every page throughout your application. To make the nav stick at the top of the browser on page scroll, apply <a href="./utilities.html#sticky-positioning">sticky positioning</a>. See an example of this on the <a href="./starterPages/pane.html">sample page</a>. </p>
  <p>Up to 768px, the persistent nav local is collapsed into a stacked menu. Greater than 768px, it spans the full width of it's container.</p>
  <div class="pl-example">
		{{> navigation/examples/nav-local-persistent }}
  </div>
  <pre>
    <code class="html">
&lt;nav class=&quot;navbar navbar-local navbar-local--persistent&quot;&gt;
  &lt;ul class=&quot;nav navbar-nav&quot;  data-bind=&quot;widget: {name: 'overflowMenu', options: {linkTextAll: 'MENU'}}&quot;&gt;
    &lt;li class=&quot;logo&quot;&gt;
      &lt;a href=&quot;/&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;
        &lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon-runner&quot;&gt;&lt;/use&gt;
      &lt;/svg&gt;&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Products&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Manual Jobs&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Schedules&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;History&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Settings&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Help&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class=&quot;navbar-local-right&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-primary navbar-btn&quot;&gt;&lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon-plus-circle&quot;&gt;&lt;/use&gt;&lt;/svg&gt;&lt;span class=&quot;sr-only&quot;&gt;create&lt;/span&gt; item&lt;/a&gt;&lt;/div&gt;
&lt;/nav&gt;
    </code>
  </pre>
</section>
