<section class="pl-section">
  <h3 id="pageHeader"><a href="#pageHeader">Page Header</a></h3>
  <p>Key to a positive customer experience is having a standard header navigation across Platform services. Adopt the page header navigation component for your product to ensure your UI is consistent with the rest of the CenturyLink Platform.</p>
  <p>Responsive behavior is built in, so at narrow viewports (portrait tablet or mobile device), the links will collapse into a vertical menu.</p>
  <div class="pl-example">
    {{> navigation/examples/page-header-light }}
  </div>
  <pre>
    <code class="html">

    </code>
  </pre>
</section>
