{{#contentFor "logoURL"}}./img/logo-centurylink.png{{/contentFor}}

<section class="pl-section">
  <h3 id="pageHeader"><a href="#pageHeader">Page Header</a></h3>
  <p>Key to a positive customer experience is having a standard header navigation across Platform services. Adopt the page header navigation component for your product to ensure your UI is consistent with the rest of the CenturyLink Platform.</p>
  <p>Responsive behavior is built in, so at narrow viewports (portrait tablet or mobile device), the links will collapse into a vertical menu.</p>
  <div class="pl-example">
    {{> navigation/examples/page-header }}
  </div>
  <pre>
    <code class="html">
&lt;nav class=&quot;navbar navbar-inverse navbar-static-top&quot;&gt;
  &lt;div class=&quot;container-fluid&quot;&gt;
    &lt;!-- Brand and toggle get grouped for better mobile display --&gt;
    &lt;div class=&quot;navbar-header&quot;&gt;
      &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot;&gt;
        &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
        &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
      &lt;/button&gt;
      &lt;a class=&quot;navbar-brand&quot; href=&quot;/&quot;&gt;
        &lt;img src=&quot;/img/logo-centurylink.png&quot; alt=&quot;CenturyLink&quot; /&gt;
      &lt;/a&gt;
      &lt;a class=&quot;navbar-service&quot; href=&quot;/&quot;&gt;Control Portal&lt;/a&gt;
    &lt;/div&gt;

    &lt;!-- Support and sign out links --&gt;
    &lt;div class=&quot;collapse navbar-collapse&quot;&gt;
      &lt;ul class=&quot;nav navbar-nav navbar-right navbar-account&quot;&gt;
        &lt;li class=&quot;dropdown&quot;&gt;
          &lt;a href=&quot;#&quot; role=&quot;button&quot;&gt;&lt;span class=&quot;sr-only&quot;&gt;help and support links&lt;/span&gt;&lt;svg class=&quot;cyclops-icon support&quot;&gt;&lt;use xlink:href='#icon-question-circle' /&gt;&lt;/svg&gt; &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-caret-down' /&gt;&lt;/svg&gt;&lt;/a&gt;
          &lt;ul class=&quot;dropdown-menu dropdown-menu-right&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Open Support Ticket&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Chat with Support&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://www.ctl.io/knowledge-base&quot;&gt;Knowledge Base&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;https://www.ctl.io/api-docs&quot;&gt;API Documentation&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;p class=&quot;dropdown-text&quot;&gt;1.877.388.4373&lt;/p&gt;&lt;/li&gt;
            &lt;li role=&quot;separator&quot; class=&quot;divider&quot;&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Submit a Feature Idea&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
        &lt;li class=&quot;dropdown&quot;&gt;
          &lt;a href=&quot;#&quot; role=&quot;button&quot;&gt;trent.anderson &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-caret-down&#39;&gt;&lt;/svg&gt;&lt;/a&gt;
          &lt;ul class=&quot;dropdown-menu dropdown-menu-right&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Your Profile&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Sign Out&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;&lt;!-- /.navbar-collapse --&gt;
  &lt;/div&gt;&lt;!-- /.container-fluid --&gt;
&lt;/nav&gt;
    </code>
  </pre>
</section>
