<div class="nav left-tabs">
  <ul class="tabs">
    <li id="classes" class="tab">
      <a href="./classes.html">Classes</a>
      <ul class="tabs-subnav">
        <li><a href="#trackableObservable">trackableObservable</a></li>
        <li><a href="#trackableObservableArray">trackableObservableArray</a></li>
      </ul>
    </li>
    <li id="bindings" class="tab">
      <a href="./bindings.html">Bindings</a>
      <ul class="tabs-subnav">
        <li><a href="#fadeSlide">fadeSlide</a></li>
        <li><a href="#fadeVisible">fadeVisible</a></li>
        <li><a href="#templateSwitcher">templateSwitcher</a></li>
        <li><a href="#validationMsg">validationMsg</a></li>
        <li><a href="#widget">widget</a></li>
      </ul>
    </li>
    <li id="helpers" class="tab">
      <a href="./codeHelpers.html">Helpers</a>
      <ul class="tabs-subnav">
        <li><a href="#asObservable">asObservable</a></li>
        <li><a href="#asObservableArray">asObservableArray</a></li>
      </ul>
    </li>
  </ul>
</div>

<script>
  (function(tabName) {
    if (tabName) {
      var tab = document.getElementById(tabName);
      if (tab)
        tab.className = tab.className + ' selected';
    }
  })('{{block "tabName"}}');
</script>
