
<div id="cyclops-nav-stacked" class="nav nav-stacked">
  <ul class="tabs">
    <li class="nav-title"><a href="./grid.html">Patterns</a></li>
    <li id="grid" class="active tab">
      <a href="./grid.html">Grid System</a>
      <ul class="tabs-subnav">
        <li><a href="#container">Container</a></li>
        <li><a href="#rowsColumns">Rows &amp; Columns</a></li>
        <li><a href="#mediaQueries">Media Queries</a></li>
        <li><a href="#example">Example</a></li>
        <li><a href="#offsettingColumns">Offsetting Columns</a></li>
        <li><a href="#columnOrdering">Column Ordering</a></li>
      </ul>
    </li>
    <li id="typography" class="tab">
      <a href="./typography.html">Typography</a>
      <ul class="tabs-subnav">
      <li><a href="#headings">Headings</a></li>
      <li><a href="#contentHeadings">Content Headings</a></li>
      <li><a href="#bodyCopy">Body Copy</a></li>
      <li><a href="#alignment">Alignment</a></li>
      <li><a href="#color">Color</a></li>
      <li><a href="#transformation">Transform</a></li>
      </ul>
    </li>
    <li id="lists" class="tab">
      <a href="./lists.html">Lists</a>
      <ul class="tabs-subnav">
        <li><a href="#unordered">Unordered</a></li>
        <li><a href="#ordered">Ordered</a></li>
        <li><a href="#unstyled">Unstyled</a></li>
        <li><a href="#inline">Inline</a></li>
        <li><a href="#description">Description</a></li>
        <li><a href="#listInfo">List Info</a></li>
      </ul>
    </li>
    <li id="buttons" class="tab">
      <a href="./buttons.html">Buttons</a>
      <ul class="tabs-subnav">
        <li><a href="#tags">Tags</a></li>
        <li><a href="#types">Types</a></li>
        <li><a href="#sizes">Size</a></li>
        <li><a href="#disabled">Disabled</a></li>
        <li><a href="#blockLevel">Block Level</a></li>
        <li><a href="#dropdowns">Dropdowns</a></li>
        <li><a href="#inlineTextButton">Inline Text Button</a></li>
        <li><a href="#inlineConfirm">Inline Confirm</a></li>
      </ul>
    </li>
    <li id="forms" class="tab">
      <a href="./forms.html">Forms</a>
      <ul class="tabs-subnav">
        <li><a href="#inputs">Inputs</a></li>
        <li><a href="#hierarchyPicker">Hierarchy Picker</a></li>
        <li><a href="#customControls">Custom Controls</a></li>
        <li><a href="#disabled">Disabled</a></li>
        <li><a href="#basicForm">Basic Form</a></li>
        <li><a href="#inlineForm">Inline Form</a></li>
        <li><a href="#horizontalForm">Horizontal Form</a></li>
        <li><a href="#asyncForms">Async Froms</a></li>
        <li><a href="#dynamicForms">Dynamic Forms</a></li>
        <li><a href="#formSubmission">Form Submission</a></li>
        <li><a href="#validation">Validation</a></li>
      </ul>
    </li>
    <li id="tables" class="tab">
      <a href="./tables.html">Tables</a>
    </li>
    <li id="listview" class="tab">
      <a href="./listview.html">List View</a>
      <ul class="tabs-subnav">
        <li><a href="#markup">Basic Markup</a></li>
        <li><a href="#states">States</a></li>
        <li><a href="#columnWidths">Column Widths</a></li>
        <li><a href="#rowTypes">Row Types</a></li>
        <li><a href="#rowColors">Row Colors</a></li>
        <li><a href="#inlineForm">Inline Form</a></li>
        <li><a href="#toolbar">Toolbar</a></li>
        <li><a href="#responsive">Responsive</a></li>
        <li><a href="#nested">Nested</a></li>
        <li><a href="#interactiveExamples">Interactive Examples</a></li>
      </ul>
    </li>
    <li id="cards" class="tab">
      <a href="./cards.html">Cards</a>
      <ul class="tabs-subnav">
        <li><a href="#basic">Basic Markup</a></li>
        <li><a href="#header">Header</a></li>
        <li><a href="#sizing">Sizing</a></li>
        <li><a href="#overlay">Overlay</a></li>
        <li><a href="#backgroundColors">Background Colors</a></li>
        <li><a href="#decks">Decks</a></li>
      </ul>
    </li>
    <li id="components" class="tab">
      <a href="./components.html">Components</a>
      <ul class="tabs-subnav">
        <li><a href="#accountSwitcher">Account Switcher</a></li>
        <li><a href="#pageHeader">Page Header Navigation</a></li>
        <li><a href="#primaryContent">Primary Content</a></li>
        <li><a href="#navStacked">Nav Stacked</a></li>
        <li><a href="#navTabs">Nav Tabs</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#actionToolbar">Action Toolbar</a></li>
        <li><a href="#activityHistory">Activity History</a></li>
        <li><a href="#alerts">Alerts</a></li>
        <li><a href="#billingSummary">Billing Summary</a></li>
        <li><a href="#breadcrumb">Breadcrumb</a></li>
        <li><a href="#gitStats">Git Repo Stats</a></li>
        <li><a href="#pagination">Pagination</a></li>
        <li><a href="#priceEstimate">Price Estimate</a></li>
        <li><a href="#progressBars">Progress Bars</a></li>
        <li><a href="#searchInput">Search Input</a></li>
        <li><a href="#showPassword">Show Password</a></li>
        <li><a href="#slideWell">Slide Well</a></li>
        <li><a href="#upcomingEvents">Upcoming Events</a></li>
      </ul>
    </li>
    <li id="icons" class="tab">
      <a href="./icons.html">Icons</a>
      <ul class="tabs-subnav">
        <li><a href="#sizes">Sizes</a></li>
        <li><a href="#color">Color</a></li>
        <li><a href="#animation">Animation</a></li>
        <li><a href="#all">All Icons</a></li>
      </ul>
    </li>
  </ul>
</div>

<script>
  (function(tabName) {
    if (tabName) {
      var tab = document.getElementById(tabName);
      if (tab)
        tab.className = tab.className + ' selected';
    }
  })('{{block "tabName"}}');
</script>
