{{#contentFor "title"}}404 File Not Found{{/contentFor}}

<div class="row">
  <div class="col-sm-12">
    <div class="cyclops-hero">
      <div class="logo">
        <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="0 0 200 200" xml:space="preserve">
        <g>
          <circle fill="#00853F" cx="100" cy="100" r="100"/>
          <circle fill="#FFFFFF" cx="100" cy="100" r="80"/>
          <circle fill="#8CC63F" cx="100" cy="100" r="50"/>
          <circle cx="100" cy="100" r="20"/>
          <circle fill="#FFFFFF" cx="109.7" cy="90.1" r="6"/>
        </g>
        </svg>
      </div>
      <h1>404</h1>
      <p class="lead">File Not Found</p>
    </div>
  </div>
</div>
