{{#contentFor "title"}}About Cyclops{{/contentFor}}

<div class="row">
  <div class="col-md-8">
    <h1>About</h1>
    <p class="lead">The Platform CenturyLink UX Pattern Library</p>

    <p>Cyclops is our own collection of <a href="http://bradfrost.com/blog/post/atomic-web-design/">atomic pieces</a> that make up the CenturyLink Platform Control Portal interface. By documenting and assembling a reference site of ux/ui patterns, we are able to speed up the development process, and address internal communication problems inherent with working on a distributed team. A common lexicon of code and UI elements benefits us in a few ways:</p>
    <ul>
      <li>We give a unified and consistent customer experience across CenturyLink Platform products and services.</li>
      <li>We build consistently, allowing us to focus our energy on creating services, not web forms and list items.</li>
      <li>We can see all of our patterns in one place, quickly revealing maintenance issues.</li>
      <li>We have a shared vocubalary and reference, so that teams can refer to different areas of the site with the same understanding.</li>
      <li>By using the same patterns already in use in the Control Portal, future integration will be easier.</li>
    </ul>

    <p>This Pattern Library isn’t meant to be a UI framework like <a href="http://www.getbootstrap.com/">Bootstrap</a> &mdash; although we do use bootstrap as our underlying page structure. It’s tailored specifically to our needs, so if you attempt to use it as a foundation for a future project your mileage may vary. It uses the same source css and javascript libraries that are available in the Control Portal itself.</p>

    <p>This is a living document &mdash; we will be adding and amending patterns as we see fit. If you have suggestions for additional patterns or have questions about anything you see here, here are some ways to get in touch:

    <ul>
      <li>Our Slack Channel: <a href="https://cl-cloud.slack.com/messages/design-team/">#design-team</a></li>
      <li>Open a <a href="https://github.com/CenturyLinkCloud/Cyclops/issues">issue</a>, or better yet, a <a href="https://github.com/CenturyLinkCloud/Cyclops/pulls">pull request</a> to the <a href="https://github.com/CenturyLinkCloud/Cyclops">Cyclops repo</a>.</li>
    </ul>
    <p><svg class="cyclops-icon"><use xlink:href='#icon-heart' /></svg><br> The UX/UI Team</p>

  </div>
</div>
