{{#contentFor "title"}}Color{{/contentFor}}
{{#contentFor "tabName"}}alerts{{/contentFor}}
{{!< layouts/leftnav.html}}


<h1 class="content-header">Alerts</h1>
<section class="pl-section" id="alerts">
  <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>

  <div class="alert alert-success" role="alert">...</div>
  <div class="alert alert-info" role="alert">...</div>
  <div class="alert alert-warning" role="alert">...</div>
  <div class="alert alert-danger" role="alert">...</div>

</section>
