{{#contentFor "title"}}All Patterns{{/contentFor}}

{{> typography/headings }}
{{> typography/content-headings }}
{{> typography/content-headings-block }}
{{> typography/body-copy }}
{{> typography/alignment }}
{{> typography/color }}
{{> typography/transformation }}

{{> lists/unordered }}
{{> lists/ordered }}
{{> lists/unstyled }}
{{> lists/inline }}
{{> lists/description }}
{{> lists/list-info }}

{{> buttons/tags }}
{{> buttons/types }}
{{> buttons/sizes }}
{{> buttons/disabled }}
{{> buttons/block-level }}
{{> buttons/dropdown }}
{{> buttons/inline-text }}
{{> buttons/inline-confirm }}

{{> forms/examples/input-text }}
{{> forms/examples/input-password }}
{{> forms/examples/input-textarea }}
{{> forms/examples/input-checkbox-radio }}
{{> forms/examples/input-select }}
{{> forms/examples/input-picker-single }}
{{> forms/examples/input-picker-multi }}
{{> forms/examples/input-stacked-inputs }}
{{> forms/examples/input-adjacent-inputs }}
{{> forms/examples/custom-controls-toggle }}
{{> forms/examples/custom-controls-slider }}
{{> forms/examples/disabled-inputs }}
{{> forms/examples/basic }}
{{> forms/examples/inline }}
{{> forms/examples/horizontal }}

{{> tables/table}}

{{> cards/card-basic }}
{{> cards/card-header }}
{{> cards/card-sizing }}
{{> cards/card-overlay }}
{{> cards/card-color }}
{{> cards/card-add }}
{{> cards/card-decks }}
