{{#contentFor "title"}}All Patterns{{/contentFor}}
{{#contentFor "logoURL"}}.././img/logo-centurylink.png{{/contentFor}}

{{> typography/headings }}
{{> typography/content-headings }}
{{> typography/content-headings-block }}
{{> typography/body-copy }}
{{> typography/alignment }}
{{> typography/color }}
{{> typography/transformation }}

{{> lists/unordered }}
{{> lists/ordered }}
{{> lists/unstyled }}
{{> lists/inline }}
{{> lists/comma }}
{{> lists/description }}
{{> lists/list-info }}

{{> buttons/tags }}
{{> buttons/types }}
{{> buttons/outline }}
{{> buttons/sizes }}
{{> buttons/disabled }}
{{> buttons/block-level }}
{{> buttons/dropdown }}
{{> buttons/inline-text }}
{{> buttons/inline-confirm }}

{{> forms/examples/input-text }}
{{> forms/examples/input-password }}
{{> forms/examples/input-textarea }}
{{> forms/examples/input-checkbox-radio }}
{{> forms/examples/input-select }}
{{> forms/examples/input-picker-single }}
{{> forms/examples/input-picker-multi }}
{{> forms/examples/input-hierarchy-picker-single }}
{{> forms/examples/input-hierarchy-picker-multi }}
{{> forms/examples/input-stacked-inputs }}
{{> forms/examples/input-adjacent-inputs }}
{{> forms/examples/custom-controls-toggle }}
{{> forms/examples/custom-controls-slider }}
{{> forms/examples/disabled-inputs }}
{{> forms/examples/basic }}
{{> forms/examples/inline }}
{{> forms/examples/horizontal }}

{{> tables/table}}
{{> tables/table-responsive}}

{{> list-view/basic }}
{{> list-view/loading }}
{{> list-view/loading-failed }}
{{> list-view/empty }}
{{> list-view/empty-first-run }}
{{> list-view/types }}
{{> list-view/colors }}
{{> list-view/status }}
{{> list-view/inline-form }}
{{> list-view/toolbar }}
{{> list-view/responsive }}
{{> list-view/nested }}

{{> cards/card-basic }}
{{> cards/card-header-footer }}
{{> cards/card-sizing }}
{{> cards/card-overlay }}
{{> cards/card-color }}
{{> cards/card-listview }}
{{> cards/card-alert }}
{{> cards/card-add }}
{{> cards/card-decks }}

{{> charts/examples/barChart }}
{{> charts/examples/lineChart }}
{{> charts/examples/donutChart }}
{{> charts/examples/pieChart }}

{{> navigation/examples/page-header }}
{{> navigation/examples/page-header-light }}
{{> navigation/examples/nav-local-persistent }}
{{> navigation/examples/nav-local }}
{{> navigation/examples/nav-stacked }}
{{> navigation/examples/nav-stacked-second }}
{{> navigation/examples/nav-tabs }}

{{> components/examples/primary-content }}
{{> components/examples/action-toolbar }}
{{> components/examples/action-toolbar-right }}
{{> components/examples/action-toolbar-active }}
{{> components/examples/activity-history }}
{{> components/examples/alerts }}
{{> components/examples/alert-banner }}
{{> components/examples/alert-dismissible }}
{{> components/examples/billing-summary-3 }}
{{> components/examples/billing-summary-4 }}
{{> components/examples/billing-summary-5 }}
{{> components/examples/price-estimate }}
{{> components/examples/breadcrumb }}
{{> components/examples/git-stats }}
{{> components/examples/pagination }}
{{> components/examples/progress-bar }}
{{> components/examples/upcoming-events }}

{{> icons/sizes }}
{{> icons/colors }}
{{> icons/animation }}
{{> icons/headings }}
{{> icons/all }}
