{{#contentFor "title"}}Buttons{{/contentFor}}
{{#contentFor "tabName"}}buttons{{/contentFor}}
{{!< layouts/components.html}}

    <h1 class="content-header">Buttons</h1>
    <section class="pl-section" id="tags">
      <h3><a href="#tags">Tags</a></h3>
      <p>Use the button classes on <code>button</code>, <code>a</code>, and <code>input</code> elements.</p>
      <div class="pl-example">
        {{> buttons/tags }}
      </div>
      <pre>
        <code class="html">
&lt;a class=&quot;btn btn-default&quot; href=&quot;#&quot; role=&quot;button&quot;&gt;Link&lt;/a&gt;
&lt;button class=&quot;btn btn-default&quot; type=&quot;submit&quot;&gt;Button&lt;/button&gt;
&lt;input class=&quot;btn btn-default&quot; type=&quot;button&quot; value=&quot;Input&quot;&gt;
&lt;input class=&quot;btn btn-default&quot; type=&quot;reset&quot; value=&quot;Reset&quot;&gt;
&lt;input class=&quot;btn btn-default&quot; type=&quot;submit&quot; value=&quot;Submit&quot;&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="types">
      <h3><a href="#types">Types</a></h3>
      <p>Six different button types are available for most situations.</p>
      <div class="pl-example">
        {{> buttons/types }}
      </div>
      <pre>
        <code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;btn-default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;btn-primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-warning&quot;&gt;btn-warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;btn-danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-inverse&quot;&gt;btn-inverse&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline&quot;&gt;btn-outline&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;link&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="outline">
    	<h3><a href="#outline">Outline Buttons</a></h3>
    	<p>Color outline style buttons using modifier classes.</p>
    	<div class="pl-example">
          {{> buttons/outline }}
    	</div>
      <pre>
        <code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline&quot;&gt;default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline btn-primary&quot;&gt;primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline btn-warning&quot;&gt;warning&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline btn-danger&quot;&gt;danger&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="sizes">

      <h3><a href="#sizes">Sizes</a></h3>
      <p>Add a <code>.btn-lg</code>, <code>.btn-sm</code>, or <code>.btn-mini</code> class for additional sizing options.</p>
      <div class="pl-example">
        {{> buttons/sizes }}
      </div>
      <pre>
        <code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-lg&quot;&gt;btn-lg&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-sm&quot;&gt;btn-sm&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-mini&quot;&gt;btn-mini&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="disabled">
      <h3><a href="#disabled">Disabled Buttons</a></h3>
      <p>Adding the <code>disabled</code> attribute to a button element will disable it.</p>
      <div class="pl-example">
        {{> buttons/disabled }}
      </div>
      <pre>
        <code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; disabled&gt;btn-default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; disabled&gt;btn-primary&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot; disabled&gt;btn-danger&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-inverse&quot; disabled&gt;btn-inverse&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-outline&quot; disabled&gt;btn-outline&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-link&quot; disabled&gt;link&lt;/button&gt;
        </code>
      </pre>

    </section>

    <section class="pl-section" id="blockLevel">
      <h3><a href="#blockLevel">Block Level Button</a></h3>
      <p>Adding <code>.btn-block</code> will span the width of the button to 100% of it's parent.</p>
      <div class="pl-example">
        {{> buttons/block-level }}
      </div>
      <pre>
        <code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-block&quot;&gt;btn-block&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="buttonsWithIcons">
      <h3><a href="#buttonsWithIcons">Buttons with Icons</a></h3>
      <p><a href="./icons.html">Svg icons</a> maybe placed within a <code>button</code> or <code>a</code> tag, and will be automatically sized based on the button size specified.</p>

      <div class="pl-example">
        {{> buttons/buttons-with-icons}}
      </div>
      <pre>
        <code class="html">
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;
  &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-plus-circle' /&gt;&lt;/svg&gt; add item
&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="iconButtons">
      <h3><a href="#iconButtons">Icon Buttons</a></h3>
      <p>To use an <a href="./icons.html">svg icon</a> as a button, wrap the <code>&lt;svg&gt;</code> with <code>&lt;button&gt;</code> and apply <code>.btn</code> and <code>.btn-*</code> to apply the approprite fill color. Icon buttons may also be sized using <code>.btn-sm</code> and <code>.btn-lg</code>.</p>

      <div class="alert alert-info">
        <h4>Include Button Label Text for Accessibility</h4>
        <p>Be sure to include text inside the button element for screen readers by using  <code>.sr-only</code>.</p>
      </div>

      <div class="pl-example">
        {{> buttons/icon-buttons}}
      </div>
      <pre>
        <code class="html">
&lt;!-- small grey x icon button --&gt;
&lt;button class=&quot;btn btn-default btn-sm btn-icon&quot;&gt;
  &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-times' /&gt;&lt;/svg&gt;
  &lt;span class=&quot;sr-only&quot;&gt;remove&lt;/span&gt;
&lt;/button&gt;

&lt;!-- default sized green x icon button --&gt;
&lt;button class=&quot;btn btn-primary btn-icon&quot;&gt;
  &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-times' /&gt;&lt;/svg&gt;
  &lt;span class=&quot;sr-only&quot;&gt;remove&lt;/span&gt;
&lt;/button&gt;

&lt;!-- large red x icon button --&gt;
&lt;button class=&quot;btn btn-danger btn-lg btn-icon&quot;&gt;
  &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-times' /&gt;&lt;/svg&gt;
  &lt;span class=&quot;sr-only&quot;&gt;remove&lt;/span&gt;
&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="dropdowns">
      <h3><a href="#dropdowns">Dropdown</a></h3>
      <p>
        To make a dropdown button wrap the tigger button in a container with the class
        <code>dropdown</code> and add a <code>ul</code> with class <code>dropdow-menu</code>. By
        default the menu is left aligned but can be changed by adding the class
        <code>dropdown-menu-right</code> to the dropdown menu.
      </p>
      <p>
        To use dropdowns in navbars please see the
        <a href="./components.html#pageHeader">Page Header Navigation</a> section of the
        components section.
      </p>
      <div class="pl-example">
        {{> buttons/dropdown }}
      </div>
      <pre class="show-type">
        <code class="html">
&lt;div class=&quot;dropdown&quot;&gt;
   &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;
     Dropdown
     &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-caret-down&#39; /&gt;&lt;/svg&gt;
   &lt;/button&gt;
   &lt;ul class=&quot;dropdown-menu&quot;&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 1&lt;/a&gt;&lt;/li&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 2&lt;/a&gt;&lt;/li&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 3&lt;/a&gt;&lt;/li&gt;
     &lt;li&gt;&lt;button&gt;HTML Button&lt;/button&gt;&lt;/li&gt;
   &lt;/ul&gt;
 &lt;/div&gt;

 &lt;div class=&quot;dropdown&quot;&gt;
   &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;
     Right Aligned
     &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href=&#39;#icon-caret-down&#39; /&gt;&lt;/svg&gt;
   &lt;/button&gt;
   &lt;ul class=&quot;dropdown-menu dropdown-menu-right&quot;&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 1&lt;/a&gt;&lt;/li&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 2&lt;/a&gt;&lt;/li&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 3&lt;/a&gt;&lt;/li&gt;
     &lt;li role=&quot;separator&quot; class=&quot;divider&quot;&gt;&lt;/li&gt;
     &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Action 4&lt;/a&gt;&lt;/li&gt;
     &lt;li&gt;&lt;button&gt;HTML Button&lt;/button&gt;&lt;/li&gt;
   &lt;/ul&gt;
 &lt;/div&gt;
        </code>
        <code class="javascript">
&lt;!-- If the html is not present on page load you will need to
     either use the widget binding or call the widget directly
     on the button --&gt;
$(function(){
  $(&#39;.dropdown button&#39;).dropdown()
})
        </code>
      </pre>
    </section>

    <section class="pl-section" id="group">
      <h3><a href="#group">Button Group</a></h3>
      <p>Group buttons together using <code>.btn-group</code> to wrap a series of buttons. They may include <a href="#dropdowns">button dropdowns</a> as well.</p>

      <div class="pl-example">
        {{> buttons/button-group }}
      </div>
      <pre>
        <code class="html">
&lt;div class=&quot;btn-group&quot;&gt;
  &lt;button class=&quot;btn btn-outline&quot;&gt;first&lt;/button&gt;
  &lt;button class=&quot;btn btn-outline active&quot;&gt;active&lt;/button&gt;
  &lt;button class=&quot;btn btn-outline&quot;&gt;third&lt;/button&gt;
  &lt;div class=&quot;dropdown&quot;&gt;
    &lt;button type=&quot;button&quot; class=&quot;btn btn-outline&quot;&gt;
      dropdown
      &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-caret-down' /&gt;&lt;/svg&gt;
    &lt;/button&gt;
    &lt;ul class=&quot;dropdown-menu&quot;&gt;
      &lt;li&gt;&lt;button&gt;...&lt;/button&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  &lt;button class=&quot;btn btn-outline&quot;&gt;fifth&lt;/button&gt;
&lt;/div&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="inlineTextButton">
      <h3><a href="#inlineTextButton">Inline Text Button</a></h3>
      <p>When semantically it makes more sense to use a <code>button</code> instead of an <code>a</code> tag within a block of text, add the <code>.btn-text-link</code> class to match the text styles.</p>
      <div class="pl-example">
        {{> buttons/inline-text }}
      </div>
      <pre>
        <code class="html">
&lt;p&gt;Paragraph of text with an &lt;button class=&quot;btn btn-link-text&quot;&gt;inline button link&lt;/button&gt; within it.&lt;/p&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="inlineConfirm">
      <h3><a href="#inlineConfirm">Inline Confirm</a></h3>
      <p>Inline confirm is a jQuery widget that can be applied to any button that will require the
        user to confirm the action they wish to perform. Typically this is used for Delete
        scenario's but can be used other places. Use it as a pure jQuery Widget or you can use
        the widget binding in knockout.</p>

      <p>Inline confirm buttons can be created using jQuery or a Knockout binding.</p>
      <p>
        For more informations about the options and how to consume it see the
        <a href="./widgets.html#inlineConfirm">inlineConfirm Code Page</a>.
      </p>
      <div class="pl-example">
        {{> buttons/inline-confirm }}
      </div>
      <pre class="show-type">
        <code class="javascript">
$(function(){
  $(&#39;.btn-danger&#39;).inlineConfirm()
})
        </code>
        <code class="html">
&lt;button class=&quot;btn btn-danger&quot; data-bind=&quot;click: deleteHandler, widget:&#39;inlineConfirm&#39;&quot;&gt;Delete&lt;/button&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="copy">
      <h3><a href="#copy">Copy to Clipboard Button</a></h3>
      <p>The copy to clipboard button pattern allows users to copy a specified value to their system clipboard with the press of a button. This component can be useful to allow users to copy things such as keys, ids, or passwords.</p>
      <p>See the <a href="forms.html#copyInput">copy to clipboard input</a> and <a href="./widgets.html#copyable">widget binding</a>.</p>
      <div class="pl-example">
        {{> buttons/copy }}
      </div>

      <pre class="show-type">
        <code class="javascript">
$(&quot;#copyBtn&quot;).copyable();
        </code>
        <code class="html">
&lt;button id=&quot;copyBtn&quot; class=&quot;btn btn-default copyable&quot; value=&quot;value to copy&quot;&gt;Copy me!&lt;/button&gt;
        </code>
      </pre>
    </section>
