{{#contentFor "title"}}Buttons{{/contentFor}}
{{#contentFor "tabName"}}buttons{{/contentFor}}
{{!< layouts/leftnav.html}}

<section class="pl-section">
  <h1><a href="#buttons">Buttons</a></h1>
  <p>Use the button classes on <code>button</code>, <code>a</code>, and <code>input</code> elements.</p>

  <h2>Types</h2>
  <h4>Default Buttons</h4>
  <div class="pl-example">
    <button type="button" class="btn btn-default">btn-default</button>
    <button type="button" class="btn btn-primary">btn-primary</button>
    <button type="button" class="btn btn-danger">btn-danger</button>
    <button type="button" class="btn btn-inverse">btn-inverse</button>
    <button type="button" class="btn btn-outline">btn-outline</button>
    <button type="button" class="btn btn-link">link</button>
  </div>
  <h4>Disabled Buttons</h4>
  <div class="pl-example">
    <button type="button" disabled class="btn btn-default">btn-default</button>
    <button type="button" disabled class="btn btn-primary">btn-primary</button>
    <button type="button" disabled class="btn btn-danger">btn-danger</button>
    <button type="button" disabled class="btn btn-inverse">btn-inverse</button>
    <button type="button" disabled class="btn btn-outline">btn-outline</button>
    <button type="button" disabled class="btn btn-link">btn-link</button>
  </div>

  <h2>Sizes</h2>
  <div class="pl-example">
    <button type="button" class="btn btn-default btn-lg">btn-lg</button>
    <button type="button" class="btn btn-default">default</button>
    <button type="button" class="btn btn-default btn-sm">btn-sm</button>
    <button type="button" class="btn btn-default btn-mini">btn-mini</button>
  </div>

  <h2>Special Cases</h2>
  <div class="row">
    <div class="col-md-6" id="inlineConfirm">
      <h4>Inline confirm delete button</h4>
      <div class="pl-example">
        <button class="btn btn-danger" data-bind="click: deleteHandler, widget:'inlineConfirm'">Delete</button>
      </div>
    </div>

    <div class="col-md-6">
      <h4>Block Level Button</h4>
      <div class="pl-example">
        <button type="button" class="btn btn-default btn-block">btn-block</button>
      </div>
    </div>
  </div>

</section>

{{#contentFor "scripts"}}
<script>
  $(function(){
    ko.applyBindings({
      deleteHandler: function() {
        alert("deleted");
      }
    });
  })
</script>
{{/contentFor}}
