{{#contentFor "title"}}Cards{{/contentFor}}
{{#contentFor "tabName"}}cards{{/contentFor}}
{{!< layouts/components.html}}

<div class="content-header">
  <h1>Cards</h1>
  <p>Flexible and extensible content containers with options for header, overlays, and colored backgrounds. </p>

</div>

<section class="pl-section" id="basic">
  <h3><a href="#basic">Basic Markup</a></h3>
  <p>Wrap card content within a <code>.card</code>. The <code>.card-block</code> class adds additional padding between elements (i.e. an image and text).</p>
  <div class="pl-example">
    {{> cards/card-basic }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Card Title&lt;/h4&gt;
    &lt;h5 class=&quot;card-subtitle&quot;&gt;Card subtitle&lt;/h5&gt;
    &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;button&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="headerFooter">
  <h3><a href="#headerFooter">Card Header &amp; Footer</a></h3>
  <p>Add an optional header within a card.</p>
  <div class="pl-example">
    {{> cards/card-header-footer }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-header&quot;&gt;
    Header
  &lt;/div&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Card Title&lt;/h4&gt;
    &lt;h5 class=&quot;card-subtitle&quot;&gt;Card subtitle&lt;/h5&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-footer&quot;&gt;
    Footer
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="sizing">
  <h3><a href="#sizing">Sizing</a></h3>
  <p>Cards are block-level by default, so they’ll fill the available horizontal space. Constrain their widths via custom styles or <a href="./grid.html">predefined grid classes</a>.</p>
  <div class="pl-example">
    {{> cards/card-sizing }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;row&quot;&gt;
  &lt;div class=&quot;col-sm-6&quot;&gt;
    &lt;div class=&quot;card card-block&quot;&gt;
      &lt;h3 class=&quot;card-title&quot;&gt;Card Title&lt;/h3&gt;
      &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
      &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;button&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-6&quot;&gt;
    &lt;div class=&quot;card card-block&quot;&gt;
      &lt;h3 class=&quot;card-title&quot;&gt;Card Title&lt;/h3&gt;
      &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
      &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;button&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="overlay">
  <h3><a href="#overlay">Overlay</a></h3>
  <p>Overlay another layer over the contents of an existing card by using <code>.card-overlay</code>. To make the overlay layer appear on hover, add <code>.card-hover</code> to the same div.</p>
  <div class="pl-example">
    {{> cards/card-overlay }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card&quot;&gt;
  &lt;!-- underlying card content --&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Card Title&lt;/h4&gt;
    &lt;h5 class=&quot;card-subtitle&quot;&gt;Card subtitle&lt;/h5&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;button&lt;/a&gt;
  &lt;/div&gt;
  &lt;!-- overlay content --&gt;
  &lt;div class=&quot;card-overlay card-hover&quot;&gt;
    &lt;h4 class=&quot;card-title&quot;&gt;Overlay Title&lt;/h4&gt;
    &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show what overlayed text looks like within a card.&lt;/p&gt;
    &lt;button class=&quot;btn btn-primary&quot;&gt;button&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="backgroundColors">
  <h3><a href="#backgroundColors">Background Colors</a></h3>
  <p>Add variant class for changing the background-color and border-color of a card.</p>
  <div class="pl-example">
    {{> cards/card-color }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card card-success&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;card card-info&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;card card-warning&quot;&gt;...&lt;/div&gt;
&lt;div class=&quot;card card-danger&quot;&gt;...&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="cardList">
  <h3><a href="#cardList">Card List View</a></h3>
  <p><a href="/listview.html">List views</a> may be contained within a cards by simply wrapping a <code>.new-list-view</code> element with <code>.card</code></p>
  <div class="pl-example">
    {{> cards/card-listview }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-header&quot;&gt;
    List View Items
  &lt;/div&gt;
  &lt;ul class=&quot;new-list-view&quot;&gt;
    &lt;li&gt;
      &lt;div class=&quot;list-view-item&quot;&gt;
        &lt;div class=&quot;col col-100&quot;&gt;Item&lt;/div&gt;
      &lt;/div&gt;
    &lt;/li&gt;
    ...
  &lt;/ul&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="cardAlert">
  <h3><a href="#cardAlert">Card with Alert</a></h3>
  <p>Cards can contain <code>.alert</code> in two different ways, inline or within a <code>.card-block</code>.</p>
  <div class="pl-example">
    {{> cards/card-alert }}
  </div>
  <pre>
    <code>
&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;alert alert-success&quot;&gt;
    &lt;h4&gt;Success!&lt;/h4&gt;
    &lt;p&gt;This is a card inline alert message.&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;p class=&quot;card-text&quot;&gt;The rest of the card...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;card&quot;&gt;
  &lt;div class=&quot;card-block&quot;&gt;
    &lt;div class=&quot;alert alert-info&quot;&gt;
      &lt;div class=&quot;alert-icon&quot;&gt;
        &lt;svg class=&quot;cyclops-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-info-circle' /&gt;&lt;/svg&gt;
      &lt;/div&gt;
      &lt;p&gt;This is an alert message inside a card-block.&lt;/p&gt;
    &lt;/div&gt;
    &lt;p class=&quot;card-text&quot;&gt;The rest of the card...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="addCard">
  <h3><a href="#addCard">Add Card</a></h3>
  <p>If you're using cards to display a list of objects, use <code>.card-add</code> and <code>.v-center</code> at the end of the list to give users an option to add a another object to the list. A <code>height</code> on the <code>.card-add</code> must be set for content to center vertically.</p>
  <div class="pl-example">
    {{> cards/card-add }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card card-add&quot;&gt;
  &lt;div class=&quot;card-block v-center&quot;&gt;
    &lt;svg class=&quot;cyclops-icon lg&quot;&gt;&lt;use xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xlink:href=&quot;#icon-plus-circle&quot;&gt;&lt;/use&gt;&lt;/svg&gt;
    &lt;p&gt;add object&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="decks">
  <h3><a href="#decks">Card Decks</a></h3>
  <p>To get equal width ad height cards, use <code>.card-deck</code> and <code>.card-deck-wrapper</code>.</p>
  <div class="pl-example">
    {{> cards/card-decks }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;card-deck-wrapper&quot;&gt;
  &lt;div class=&quot;card-deck&quot;&gt;
    &lt;div class=&quot;card&quot;&gt;
      &lt;div class=&quot;card-block&quot;&gt;
        &lt;h4 class=&quot;card-title&quot;&gt;Card Title&lt;/h4&gt;
        &lt;h5 class=&quot;card-subtitle&quot;&gt;Card subtitle&lt;/h5&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-block&quot;&gt;
        &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
      &lt;div class=&quot;card-block&quot;&gt;
        &lt;h4 class=&quot;card-title&quot;&gt;Card Title&lt;/h4&gt;
        &lt;h5 class=&quot;card-subtitle&quot;&gt;Card subtitle&lt;/h5&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-block&quot;&gt;
        &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card&quot;&gt;
      &lt;div class=&quot;card-block&quot;&gt;
        &lt;h4 class=&quot;card-title&quot;&gt;Card Title&lt;/h4&gt;
        &lt;h5 class=&quot;card-subtitle&quot;&gt;Card subtitle&lt;/h5&gt;
      &lt;/div&gt;
      &lt;div class=&quot;card-block&quot;&gt;
        &lt;p class=&quot;card-text&quot;&gt;Example paragraph text to show how it's displayed within a card.&lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>

{{#contentFor "scripts"}}
<script>
$(function(){
  var viewModel = function(){
    var self = this;
    self.openForm = ko.observable(false);

    self.toggleForm = function(){
      self.openForm(!self.openForm());
    };

    return self;
  };
  ko.applyBindings(new viewModel(), $('#cardList')[0]);

})
</script>
{{/contentFor}}
