{{#contentFor "title"}}Cards{{/contentFor}}
{{#contentFor "tabName"}}cards{{/contentFor}}
{{!< layouts/leftnav.html}}

<h1 class="content-header">Cards</h1>

<section class="pl-section" id="basic">
  <p></p>
  <div class="pl-example">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Card Title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
        <a href="#" class="btn btn-primary">button</a>
      </div>
    </div>
  </div>
  <pre>
    <code class="html">

    </code>
  </pre>
</section>

<section class="pl-section" id="header">
  <h4>Card Header</h4>
  <p></p>
  <div class="pl-example">
    <div class="card">
      <div class="card-header">
        Header
      </div>
      <div class="card-block">
        <h4 class="card-title">Card Title</h4>
        <h5 class="card-subtitle">Card subtitle</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
      </div>
    </div>
  </div>
  <pre>
    <code class="html">

    </code>
  </pre>
</section>
<section class="pl-section" id="header">
  <h4>Card Decks</h4>
  <div class="pl-example">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <h5 class="card-subtitle">Card subtitle</h5>
          </div>
          <div class="card-block">
            <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <h5 class="card-subtitle">Card subtitle</h5>
          </div>
          <div class="card-block">
            <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Card Title</h4>
            <h5 class="card-subtitle">Card subtitle</h5>
          </div>
          <div class="card-block">
            <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="pl-section" id="Background Colors">
  <h4>Background Colors</h4>
  <p></p>
  <div class="pl-example">
    <div class="card card-success">
      <div class="card-block">
        <h4 class="card-title">Card Success</h4>
        <h5 class="card-subtitle">Support card subtitle</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
      </div>
    </div>
    <div class="card card-info">
      <div class="card-block">
        <h4 class="card-title">Card Info</h4>
        <h5 class="card-subtitle">Support card subtitle</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
      </div>
    </div>
    <div class="card card-warning">
      <div class="card-block">
        <h4 class="card-title">Card Warning</h4>
        <h5 class="card-subtitle">Support card subtitle</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
      </div>
    </div>
    <div class="card card-danger">
      <div class="card-block">
        <h4 class="card-title">Card Danger</h4>
        <h5 class="card-subtitle">Support card subtitle</h5>
      </div>
      <div class="card-block">
        <p class="card-text">Example paragraph text to show how it's displayed within a card.</p>
      </div>
    </div>
  </div>
  <pre>
    <code class="html">

    </code>
  </pre>
</section>
