{{#contentFor "title"}}Charts{{/contentFor}}
{{#contentFor "tabName"}}charts{{/contentFor}}
{{!< layouts/leftnav.html}}

<section class="pl-section">
  <h1>Charts</h1>

  <h4>Requirements</h4>
  <p>Cyclops uses <a href="https://gionkunz.github.io/chartist-js/index.html">Chartist.js</a> for displaying simple, responsive charts. To display a chart, include the Chartist script file.</p>
  <pre><code>&lt;script src=&quot;https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js&quot;&gt;&lt;/script&gt;
</code>
  </pre>
  <p>
    Then use either the cyclops jQuery function or the knockout binding to create your chart. The
    knockout binding uses the jQuery function under the covers and thus shares all the same options,
    <a href="./widgets.html#chart">chart API documentation.</a>
  </p>
  <pre class="show-type">
    <code class="javascript">
// jQuery
$('.myChart').chart({type: 'Line', data: data})
    </code>
    <code class="html">
&lt;!-- knockout binding --&gt;
&lt;div class=&quot;myChart&quot; data-bind=&quot;chart:{ type: &#39;Line&#39;, data: data }&quot;&gt;&lt;/div&gt;
    </code>
  </pre>
</section>

{{> charts/interactive }}
{{> charts/lineChart }}
{{> charts/barChart }}
{{> charts/pieChart }}

<section id="aspectRatio" class="pl-section">
	<h3><a href="#aspectRatio">Aspect Ratio</a></h3>
  <p>In order for a chart element to scale properly and be responsive, apply an aspect ratio (e.g. 4:3, 3:2, 16:9 etc.) rather than specifying a fixed width and height. Specify the ratio directly on the container without the need to calculate any fixed dimensions. In order to create a chart that is using the aspect ratio of a golden section you can  add the <code>.ct-golden-section</code> to the container where chart is initialized.</p>

  <table class="table">
    <thead>
      <tr>
        <th>
          class name
        </th>
        <th>
          ratio
        </th>
      </tr>
    </thead>
    <tbody>
      <tr><td><code>.ct-square</code></td><td>1</td></tr>
      <tr><td><code>.ct-minor-second</code></td><td>15:16</td></tr>
      <tr><td><code>.ct-major-second</code></td><td>8:9</td></tr>
      <tr><td><code>.ct-minor-third</code></td><td>5:6</td></tr>
      <tr><td><code>.ct-major-third</code></td><td>4:5</td></tr>
      <tr><td><code>.ct-perfect-fourth</code></td><td>3:4</td></tr>
      <tr><td><code>.ct-perfect-fifth</code></td><td>2:3</td></tr>
      <tr><td><code>.ct-minor-sixth</code></td><td>5:8</td></tr>
      <tr><td><code>.ct-golden-section</code></td><td>1:1.618</td></tr>
      <tr><td><code>.ct-major-sixth</code></td><td>3:5</td></tr>
      <tr><td><code>.ct-minor-seventh</code></td><td>9:16</td></tr>
      <tr><td><code>.ct-major-seventh</code></td><td>8:15</td></tr>
      <tr><td><code>.ct-octave</code></td><td>1:2</td></tr>
      <tr><td><code>.ct-major-tenth</code></td><td>2:5</td></tr>
      <tr><td><code>.ct-major-eleventh</code></td><td>3:8</td></tr>
      <tr><td><code>.ct-major-twelfth</code></td><td>1:3</td></tr>
      <tr><td><code>.ct-double-octave</code></td><td>1:4</td></tr>
    </tbody>
  </table>
</section>

{{> charts/colors }}
