{{#contentFor "title"}}Color{{/contentFor}}
{{#contentFor "tabName"}}colorPalette{{/contentFor}}
{{!< layouts/leftnav.html}}


<h1 class="content-header">Color</h1>
<section class="pl-section" id="color">
  <p>The specified CenturyLink company colors include two green hues and black. Black is considered an important part of this palette, but is seen as a neutral color, allowing green to be the dominant color signal.</p>

  <h3>Primary Colors</h3>
  <ul class="list-unstyled clearfix">
    <li class="pl-color-swatch bg-dark-green">@primaryBrandGreen
      <br />#00853f
      </>
    </li>
    <li class="pl-color-swatch bg-bright-green">Bright Green
      <br />#8cc63f</li>
    <li class="pl-color-swatch bg-dark-grey">Dark Grey
      <br />#262626</li>
  </ul>
  <h3>Text Colors</h3>
  <ul class="list-unstyled clearfix">
    <li class="pl-color-swatch bg-text-color">@textColor
      <br />#333</li>
    <li class="pl-color-swatch bg-heading-text-color">@headingTextColor
      <br />#222</li>
    <li class="pl-color-swatch bg-text-color-light">@textColorLight
      <br />#666</li>
    <li class="pl-color-swatch bg-text-color-lighter">@textColorLighter
      <br />#999</li>
  </ul>
</section>
