{{#contentFor "title"}}Components{{/contentFor}}
{{#contentFor "tabName"}}components{{/contentFor}}
{{!< layouts/leftnav.html}}

<h1 class="content-header">Components</h1>

<p>Reusable page components used throughout the CenturyLink Platform UI/UX.</p>

{{> components/primaryContent }}
{{> components/actionToolbar }}
{{> components/activityHistory }}
{{> components/alerts }}
{{> components/billingSummary }}
{{> components/pricingEstimate }}
{{> components/breadcrumb }}
{{> components/gitStats }}
{{> components/pagination }}
{{> components/progressBar }}
{{> components/searchInput }}
{{> components/showPassword }}
{{> components/slideWell }}
{{> components/upcomingEvents }}


{{#contentFor "scripts"}}
<script>
$(function(){
  var slideWell = function(){
    var self = this;
    self.open = ko.observable(false);
    self.toggleOpen = function(){
      self.open(!self.open())
    };
    return self;
  };
  ko.applyBindings(new slideWell(), $('#slideWell')[0]);

  ko.applyBindings({
    handler: function(){
      alert("done!")
    }
  }, $('#actionToolbar')[0]);

  ko.applyBindings({
    getPassword: function(){
      var def = $.Deferred();
      window.setTimeout(function(){
        def.resolve({password: 'ThePass@word123'})
      }, 2000);
      return def;
    }
  }, $('#showPassword')[0]);
});
</script>
{{/contentFor}}
