{{#contentFor "title"}}Components{{/contentFor}}
{{#contentFor "tabName"}}components{{/contentFor}}
{{!< layouts/leftnav.html}}

<h1 class="content-header">Components</h1>

<p>Reusable page components used throughout the CenturyLink Cloud Platform UI/UX.</p>

{{> components/pageHeaderNavigation }}
{{> components/primaryContent }}
{{> components/stackedNav }}
{{> components/actionToolbar }}
{{> components/activityHistory }}
{{> components/alerts }}
{{> components/billingSummary }}
{{> components/breadcrumb }}
{{> components/upcomingEvents }}
