{{#contentFor "title"}}Dependencies | Code{{/contentFor}}
{{#contentFor "tabName"}}dependencies{{/contentFor}}
{{!< layouts/code.html}}

<h1>Dependencies</h1>

<section id="required" class="pl-section">
  <h3 id="required">Required</h3>
  <p>
    The following libraries are required in order for Cyclops to work. Without these libraries, Cyclops will print a <code>console.error</code> message exaplaining why.
  </p>
  <ul>
    <li><a href="https://jquery.com/">jQuery</a></li>
    <li><a href="http://knockoutjs.com/">Knockout</a></li>
  </ul>
</section>


<section id="optional" class="pl-section">
  <h3>Optional</h3>
  <p>
    Some libraries are not strictly required, but are either required for certin features
    of Cyclops or add additional funtionality when included. Bellow is a list of features
    and there respective dependencies.
  </p>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Knockout Validation</th>
          <th>jQuery UI</th>
          <th>Moment.js</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th colspan="4">Classes</th>
        </tr>
        <tr>
          <td><a href="./classes.html#trackableObservable">trackableObservable</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./classes.html#trackableObservableArray">trackableObservableArray</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="4">Bindings</th>
        </tr>
        <tr>
          <td><a href="./bindings.html#any">any</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#asyncMessage">asyncMessage</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#console">console</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#empty">empty</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#fadeSlide">fadeSlide</a></td>
          <td></td>
          <td>enhances</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#fadeVisible">fadeVisible</a></td>
          <td></td>
          <td>enhances</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#href">href</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#templateSwitcher">templateSwitcher</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#validationMsg">validationMsg</a></td>
          <td>required</td>
          <td>enhances</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./bindings.html#widget">widget</a></td>
          <td></td>
          <td>enhances</td>
          <td></td>
        </tr>
        <tr>
          <th colspan="4">Validators</th>
        </tr>
        <tr>
          <td><a href="./validators.html#checked">checked</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./validators.html#ipAddress">ipAddress</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./validators.html#ipAddressCdir">ipAddressCdir</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./validators.html#notEmpty">notEmpty</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./validators.html#passwordStrength">passwordStrength</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./validators.html#uri">uri</a></td>
          <td>required</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="4">Helpers</th>
        </tr>
        <tr>
          <td><a href="./classes.html#trackableObservable">trackableObservable</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./classes.html#trackableObservableArray">trackableObservableArray</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./codeHelpers.html#asObservable">asObservable</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./codeHelpers.html#asObservableArray">asObservableArray</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th colspan="4">Custom Controls</th>
        </tr>
        <tr>
          <td><a href="./forms.html#toggle">toogle</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./forms.html#sliders">sliders</a></td>
          <td></td>
          <td>required</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./forms.html#groupPicker">group-picker</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./forms.html#serverPicker">server-picker</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="./forms.html#dateTimePicker">date-time-picker</a></td>
          <td></td>
          <td>required</td>
          <td>required</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
