{{#contentFor "title"}}Dependencies | Code{{/contentFor}}
{{#contentFor "tabName"}}dependencies{{/contentFor}}
{{!< layouts/code.html}}

<h1>Dependencies</h1>

<h2 id="required">Required</h2>
<p>
  There are two libraries that a strictly required to make cyclops work. Those are <code>jQuery</code>
  and <code>Knockout</code>. Without these libraries cyclops with not function and print a <code>
  console.error</code> message exaplaining why.
</p>




<h2 id="optional">Optional</h2>
<p>
  Some libraries (a majority) are not strictly required but are either required for certin features
  of cyclops or add additional funtionality to features when included. Bellow is a list of features
  and there respective dependencies.
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Knockout Validation</th>
      <th>jQuery UI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="3">Classes</th>
    </tr>
    <tr>
      <td><a href="./classes.html#trackableObservable">trackableObservable</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./classes.html#trackableObservableArray">trackableObservableArray</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th colspan="3">Bindings</th>
    </tr>
    <tr>
      <td><a href="./bindings.html#any">any</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./bindings.html#asyncMessage">asyncMessage</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./bindings.html#console">console</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./bindings.html#empty">empty</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./bindings.html#fadeSlide">fadeSlide</a></td>
      <td></td>
      <td>enhances</td>
    </tr>
    <tr>
      <td><a href="./bindings.html#fadeVisible">fadeVisible</a></td>
      <td></td>
      <td>enhances</td>
    </tr>
    <tr>
      <td><a href="./bindings.html#href">href</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./bindings.html#templateSwitcher">templateSwitcher</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./bindings.html#validationMsg">validationMsg</a></td>
      <td>required</td>
      <td>enhances</td>
    </tr>
    <tr>
      <td><a href="./bindings.html#widget">widget</a></td>
      <td></td>
      <td>enhances</td>
    </tr>
    <tr>
      <th colspan="3">Validators</th>
    </tr>
    <tr>
      <td><a href="./validators.html#checked">checked</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./validators.html#ipAddress">ipAddress</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./validators.html#ipAddressCdir">ipAddressCdir</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./validators.html#notEmpty">notEmpty</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./validators.html#passwordStrength">passwordStrength</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./validators.html#uri">uri</a></td>
      <td>required</td>
      <td></td>
    </tr>
    <tr>
      <th colspan="3">Helpers</th>
    </tr>
    <tr>
      <td><a href="./classes.html#trackableObservable">trackableObservable</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./classes.html#trackableObservableArray">trackableObservableArray</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./codeHelpers.html#asObservable">asObservable</a></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="./codeHelpers.html#asObservableArray">asObservableArray</a></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
