{{#contentFor "title"}}Forms{{/contentFor}}
{{#contentFor "tabName"}}forms{{/contentFor}}
{{!< layouts/leftnav.html}}

<h1 class="content-header">Forms</h1>
{{> forms/inputs }}
{{> forms/customControls }}
{{> forms/disabled }}
{{> forms/basicForm }}
{{> forms/inline }}
{{> forms/horizontalForm }}
{{> forms/dynamicForms }}
{{> forms/staticText }}
{{> forms/formSubmission }}
{{> forms/validation }}

{{#contentFor "scripts"}}
<script>
$(function(){
  /* Start From Submission */
  var formModel = function(){
    var self = this;
    self.submitting = ko.observable(false);
    self.submitButtonText = ko.pureComputed(function(){
      return self.submitting() ? "submitting": "submit";
    });
    self.submit = function(){
      self.submitting(true);
      setTimeout(function(){
        // This simulates a long running AJAX call. When using jQuery xhr requests you can use
        // the deferred objects (https://api.jquery.com/category/deferred-object/) always handler
        // to set sumitting back to false all the time.
        self.submitting(false);
      }, 5000);
    };

    return self;
  }
  ko.applyBindings(new formModel(), $("#formSubmission")[0]);
  /* End From Submission */

  /* Start simple validation demo */
  var demoModel = function(){
    var self = this;
    self.header = ko.observable();
    self.text = ko.observable().extend({
        required: { params: true, message: "some text is required." },
    });
    self.errors = ko.validation.group([self.text])
    self.submit = function() {
      if (self.errors().length < 1) {
        alert("The Form is Valid!");
      } else {
        self.errors.showAllMessages();
      }
    };
    return self;
  };
  ko.applyBindings(new demoModel(), $("#simpleValidationExample")[0]);
  /* End simple validation demo */

  /* Start passwordStrength */
  var passwordModel = function(){
    var self = this;
    self.password = ko.observable().extend({
        required: { params: true, message: "A password is required." },
        passwordStrength: { requiredStrength: 4, dissallowedCharacters: "[}" }
    });
    self.errors = ko.validation.group([self.password])
    self.submit = function() {
      if (self.errors().length < 1) {
        alert("The Password meets the requires strength!");
      } else {
        self.errors.showAllMessages();
      }
    };
    return self;
  };
  ko.applyBindings(new passwordModel(), $("#passwordStrengthExample")[0]);
  /* End passwordStrength */

  /* Start remote */
  var remoteModel = function(){
    var self = this;
    self.remote = ko.trackableObservable().extend({
        required: true,
        validation: {
            async: true,
            validator: function (val, params, callback) {
                // If there is a value to test we are going to simulate a shall.ajax call using
                // setTimeout. Just remember that the call must be called with either a truthie or falsie
                // value. So make sure that all the promise events do something. aka shell.ajax().error()
                // WARNING: the validator can be called again before the AJAX call returns your should be
                // aborting the previous call. You can use the `failed` function to know that it failed not
                // that it was aborted. You can use the `aborted` function to know that it was aborted instead
                // of failing and generally in that case just say that it's valid and move on.
                if (val) {
                    setTimeout(function () {
                        // you would do some processing on the JSON you get back from your API
                        // to understand if its valid or not. In this case just be valid if its not
                        // the string `error`
                        var isValid = val !== "error";
                        callback(isValid);
                    }, 2000);
                }
                else {
                    callback({ isValid: true });
                }
            },
            message: "Text 'error' makes this field invalid"
        }
    });
    self.errors = ko.validation.group([self.remote]);
    self.submit = function() {
      if(self.remote.isValidating()){
        alert("you may want to wait for remote validation");
        return;
      }
      if (self.errors().length < 1) {
        alert("Form is Valid!");
      } else {
        self.errors.showAllMessages();
      }
    };
    return self;
  }
  ko.applyBindings(new remoteModel(), $("#remoteExample")[0]);
  /* End remote */

  /* Start Sliders */
  ko.applyBindings({}, $("#formSlider")[0]);
  /* End Sliders */

  /* Start Toggle */
  ko.applyBindings({}, $("#formToggle")[0]);
  /* End Toggle */

  /* Start Group Picker*/
  var GroupPickerViewModel = function(){
    var self = this;
    self.isLoading = ko.observable(true);
    self.groups = ko.observableArray([
      { name: "A Simple Group" },
      { name: "Database Servers" },
      {
        name: "Default Group",
        description: "The default group, created when you create an account." },
      {
        name: "Group With Sub Groups",
        groups : [
          { name: "A Sub Group" },
          { name: "Another Sub Group" }
        ]
      },
      { name: "Web Servers" },
      { name: "trash", type: "trash" }
    ]);
    self.selectedGroup = ko.observable(self.groups()[2]);
    window.setTimeout(function(){
      self.isLoading(false);
    }, 3000)
    return self;
  }
  ko.applyBindings(new GroupPickerViewModel(), $("#formGroupPicker")[0]);
  /* End Group Picker*/

  /* Start Server Picker*/
  var ServerPickerViewModel = function(){
    var self = this;
    self.isLoading = ko.observable(true);
    self.groups = ko.observableArray([
      {
        name: "Default Group",
        servers: [
          {
            name: "QA1DEVSERVER01",
            displayName: "Matthew's Server",
            state: "stopped"
          },
          {
            name: "QA1DEVSERVER02",
            displayName: "Nathan's Server",
            state: "started"
          }
        ]
      },
      {
        name: "Database Servers",
        servers: [
          {
            name: "QA1DEVDB01",
            displayName: "Primary DB",
            description: "The Primary Database Server",
            state: "started"
          },
          {
            name: "QA1DEVDB02",
            displayName: "Failover DB",
            description: "The Failouver Database Server",
            state: "started"
          }
        ]
      },
      { name: "A Simple Group" },
      { name: "trash", type: "trash" }
    ]);
    window.setTimeout(function(){
      self.isLoading(false);
    }, 2000)
    self.selectedServers = ko.observableArray([]);
    self.multiSelect = ko.observable(true);

    return self;
  }
  ko.applyBindings(new ServerPickerViewModel(), $("#formServerPicker")[0]);
  /* End Server Picker*/

  /* Start dateTimePicker */
  ko.applyBindings({}, $("#formDateTimePicker")[0]);
  /* End dateTimePicker */

  /* Start Async Forms */
  var asyncForms = function(){
    var self = this;
    self.datacenters = ko.observableArray([]);
    self.hyperscaleEnabled = ko.observable(false);
    self.isLoadingDC = ko.observable(false);

    self.loadData = function(){
      self.isLoadingDC(true);
      self.datacenters([])
      setTimeout(function(){
        self.datacenters.push("CA1 - Canada (Vancouver)");
        self.datacenters.push("GB1 - Great Britain (Portsmouth)");
        self.datacenters.push("IL1 - US Central (Chicago)");
        self.isLoadingDC(false);
      }, 4000)
    };
    self.loadData();
    return self;
  }
  ko.applyBindings(new asyncForms(), $("#asyncForms")[0]);
  /* End Async Forms */

  /* Start Dynamic Forms */
  var dynamicForms = function(){
    var self = this;
    self.datacenters = ko.observableArray([
      {name: "CA1 - Canada (Vancouver)", bareMetal: false},
      {name: "GB1 - Great Britain (Portsmouth)", bareMetal: true},
      {name: "IL1 - US Central (Chicago)", bareMetal: false}
    ]);
    self.selectedDataCenter = ko.observable(self.datacenters()[0]);
    return self;
  }
  ko.applyBindings(new dynamicForms(), $("#dynamicForms")[0]);
  /* End Dynamic Forms */
})
</script>
{{/contentFor}}
