{{#contentFor "title"}}Welcome{{/contentFor}}

<div class="row">
  <div class="col-sm-12">
    <div class="cyclops-hero">
      <div class="logo">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" viewBox="0 0 200 200" xml:space="preserve">
        <g>
          <circle fill="#00853F" cx="100" cy="100" r="100"/>
          <circle fill="#FFFFFF" cx="100" cy="100" r="80"/>
          <circle fill="#8CC63F" cx="100" cy="100" r="50"/>
          <circle cx="100" cy="100" r="20"/>
          <circle fill="#FFFFFF" cx="109.7" cy="90.1" r="6"/>
        </g>
        </svg>
      </div>
      <h1>CYCLOPS</h1>
      <p class="lead">The UX/UI Pattern Guide for the CenturyLink Cloud Platform</p>
    </div>

    <h2>How to use it?</h2>
    <h3>At the top</h3>
    <pre>
      <code class="html">
&lt;head&gt;
  &lt;link href=&quot;https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
  &lt;link href=&quot;https://assets.ctl.io/cyclops/{{version}}/css/cyclops.min.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
  &lt;!-- your styles here --&gt;
&lt;/head&gt;
      </code>
    </pre>
    <h3>At the bottom</h3>
    <pre>
      <code class="html">
&lt;script src=&quot;https://code.jquery.com/jquery-2.1.4.min.js&quot; &gt;&lt;/script&gt;
&lt;script src=&quot;https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js&quot; &gt;&lt;/script&gt;
&lt;script src=&quot;https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js&quot; &gt;&lt;/script&gt;
&lt;script src=&quot;https://assets.ctl.io/cyclops/{{version}}/scripts/cyclops.min.js&quot; &gt;&lt;/script&gt;
&lt;script&gt;
  $.holdReady(true);
  $.get(&quot;https://assets.ctl.io/cyclops/{{version}}/templates/cyclops.tmpl.min.html&quot;, function(tmpl){
      $(&quot;head&quot;).append(tmpl);
      $.holdReady(false);
  });
&lt;/script&gt;
&lt;!-- your scripts here --&gt;
      </code>
    </pre>

  </div>
</div>
