{{#contentFor "title"}}Welcome{{/contentFor}}

<h1>Cyclops</h1>

<h2>How to use it?</h2>
<h3>At the top</h3>
<pre>
  <code class="html">
    &lt;head&gt;
      &lt;link href=&quot;https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot;&gt;
      &lt;link href=&quot;http://localhost:4001/cyclops/0.1/css/cyclops.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
      &lt;!-- anyother of your content --&gt;
    &lt;/head&gt;
  </code>
</pre>
<h3>At the bottom</h3>
<pre>
  <code class="html">
    &lt;body&gt;
      &lt;!-- your code here --&gt;
      &lt;script src=&quot;https://code.jquery.com/jquery-2.1.4.min.js&quot;&gt;&lt;/script&gt;
      &lt;script src=&quot;https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
  </code>
</pre>
