{{#contentFor "title"}}Account Switcher{{/contentFor}}
{{#contentFor "tabName"}}orgSwitcher{{/contentFor}}
{{!< layouts/leftnav.html}}

{{#contentFor "scripts"}}
<script>
$(function(){
  $(".toggleBtn").click(function() {
      $("#orgSwitcher").toggleClass("expanded");
  });
})
</script>
{{/contentFor}}


<h1>Account Switcher</h1>
<p>The CenturyLink Platform supports the ability to create sub-orgs, which fall under a parent org. Sub orgs have of the advantage of:</p>

<ul>
  <li>Hierarchy: user permissions flow down, but not up or sideways</li>
  <li>Billing: sub accounts may be billed separately or to the parent account</li>
  <li>Share Parent Networks: sub accounts may access their parent account's networks, in addition to their own network</li>
  <li>Inheritance: account settings are inherited</li>
</ul>

<p>If a user has access to multiple orgs, their org context needs to be maintained as they navigate to different platform satelite apps. This component is a means for platform customers to view their current org context, change org context, and maintain that context across different platform satelite apps.</p>

<div class="pl-example">
  <nav id="orgSwitcher" class="account-switcher">
    <div class="org-header">
      <div class="org-current" title="WEBC - CenturyLink Web Channel Really Long Name">WEBC - CenturyLink Web Channel Really Long Name </div> <a href="#" class="toggleBtn" id="toggleOrgList">(change)</a>
      <div class="account-switcher-toggle toggleBtn" role="button">
        <svg class="cyclops-icon md"><use xlink:href='#icon-chevron-up'></svg>
      </div>
      <!-- <a class="account-switcher-toggle">
        <span class="sr-only">Toggle navigation</span>
        <div class="menu-icon">
            <div class="menu-icon__bar top animate-top"></div>
            <div class="menu-icon__bar middle animate-middle"></div>
            <div class="menu-icon__bar bottom animate-bottom"></div>
        </div>
      </a> -->
    </div>
    <div class="org-list-container">
      <form class="form-inline">
        <span class="search-input">
          <input type="text" class="form-control input-filter" placeholder="Filter Orgs...">
          <svg class="cyclops-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
          </svg>
        </span>
      </form>
      <div class="new-list-view-header">
        <h3 class="col col-alias">Alias</h3>
        <h3 class="col col-60">Org Name</h3>
      </div>
      <div class="org-list">
        <ul class="new-list-view">
          <li class="active">
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">CenturyLink Web Channel</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60">Level 1b</div>
            </div>
            <ul class="new-list-view">
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2a</div>
                </div>
                <ul class="new-list-view">
                  <li>
                    <div class="list-view-editable-item">
                      <div class="col col-alias">WEBC</div>
                      <div class="col col-60 col-indent">Level 3</div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="list-view-editable-item">
                  <div class="col col-alias">WEBC</div>
                  <div class="col col-60 col-indent">Level 2b</div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div class="list-view-editable-item">
              <div class="col col-alias">WEBC</div>
              <div class="col col-60 col-indent">Level 1c</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<pre>
  <code class="html">
...
  </code>
</pre>
