{{#contentFor "title"}}Organization Switcher{{/contentFor}}
{{#contentFor "tabName"}}orgSwitcher{{/contentFor}}
{{!< layouts/leftnav.html}}

<h1>Organization Switcher</h1>
<p>The CenturyLink Platform supports the ability to create sub-orgs, which fall under a parent org. Sub orgs have of the advantage of:</p>

<ul>
  <li>Hierarchy: user permissions flow down, but not up or sideways</li>
  <li>Billing: sub accounts may be billed separately or to the parent account</li>
  <li>Share Parent Networks: sub accounts may access their parent account's networks, in addition to their own network</li>
  <li>Inheritance: account settings are inherited</li>
</ul>

If a user has access to multiple orgs, their org context needs to be maintained as they navigate across platform satelite apps.

<section class="pl-section" id="patternID">
  <h3><a href="#patternID">Pattern Name</a></h3>
  <p>Description</p>
  <div class="pl-example">

  </div>
  <pre>
    <code class="html">
...
    </code>
  </pre>
</section>
