{{#contentFor "title"}}Organization Switcher{{/contentFor}}
{{#contentFor "tabName"}}orgSwitcher{{/contentFor}}
{{!< layouts/leftnav.html}}

<h1>Organization Switcher</h1>
<p>The CenturyLink Platform supports the ability to create sub-orgs, which fall under a parent org. Sub orgs have of the advantage of:</p>

<ul>
  <li>Hierarchy: user permissions flow down, but not up or sideways</li>
  <li>Billing: sub accounts may be billed separately or to the parent account</li>
  <li>Share Parent Networks: sub accounts may access their parent account's networks, in addition to their own network</li>
  <li>Inheritance: account settings are inherited</li>
</ul>

<p>If a user has access to multiple orgs, their org context needs to be maintained as they navigate to different platform satelite apps. This component is a means for platform customers to view their current org context, change org context, and maintain that context across different platform satelite apps.</p>

<div class="pl-example">
  <nav id="orgSwitcher" class="org-switcher">
    <div class="org-header">
      WEBC
    </div>
    <div class="org-list">
      <h4 class="content-header">Org Hierarchy</h4>
      <ul class="new-list-view">
        <li>
          <div class="list-view-editable-item">
            <div class="col col-100">Level 1a</div>
          </div>
        </li>
        <li>
          <div class="list-view-editable-item">
            <div class="col col-100">Level 1b</div>
          </div>
          <ul class="new-list-view">
            <li>
              <div class="list-view-editable-item">
                <div class="col col-100 col-indent">Level 2a</div>
              </div>
              <ul class="new-list-view">
                <li>
                  <div class="list-view-editable-item">
                    <div class="col col-100 col-indent">Level 3</div>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="list-view-editable-item">
                <div class="col col-100 col-indent">Level 2b</div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <div class="list-view-editable-item">
            <div class="col col-100 col-indent">Level 1c</div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<pre>
  <code class="html">
...
  </code>
</pre>
