{{#contentFor "title"}}Starter Pages{{/contentFor}}

<h1>Starter Pages</h1>
<p class="lead">Common page layout examples.</p>

<div class="row">
  <div class="col-sm-4">
    <a href="./starterPages/basic.html">
      <div class="page-preview">
        <iframe src="./starterPages/basic.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/basic.html">Basic Page</a></h4>
    <p>Basic page with CSS and javascript includes, top header navigation, and a <a href="./listviews.html">List View</a> in the body.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/basicPricing.html">
      <div class="page-preview">
        <iframe src="./starterPages/basicPricing.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/basicPricing.html">Basic Page with Pricing and Paging</a></h4>
    <p>Basic page but with the addition of a <a href="./components.html#billingSummary">billing summary</a>.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/charts.html">
      <div class="page-preview">
        <iframe src="./starterPages/charts.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/charts.html">Stacked Nav with Charts</a></h4>
    <p>A <a href="./navigation.html#navLocal">local navigation</a> with <a href="./charts.html">charts</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="./starterPages/price-estimate-create.html">
      <div class="page-preview">
        <iframe src="./starterPages/price-estimate-create.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/price-estimate-create.html">Create Page with Price Estimate</a></h4>
    <p>Create page with responsive price estimate summary on the left.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/pane.html">
      <div class="page-preview">
        <iframe src="./starterPages/pane.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/pane.html">Left Pane Tree View</a></h4>
    <p>Responsive left pane navigation.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/404.html">
      <div class="page-preview">
        <iframe src="./starterPages/404.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/404.html">404 Page</a></h4>
    <p>Basic 404 error page, indicating a client-side error, which indicates the requested page has been removed or the URL is incorrect.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="./starterPages/sticky-nav-stacked.html">
      <div class="page-preview">
        <iframe src="./starterPages/sticky-nav-stacked.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/sticky-nav-stacked.html">Sticky Stacked Navigation</a></h4>
    <p>An example of stacked navigation that sticks to the top of the viewport when scrolling content.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/500.html">
      <div class="page-preview">
        <iframe src="./starterPages/500.html" scrolling="no"></iframe>
      </div>
    </a>
    <h4><a href="./starterPages/500.html">500 Page</a></h4>
    <p>Basic 500 level error page. Indicates a server side error, so no dynamic information is presented.</p>
  </div>
</div>
