{{#contentFor "title"}}Starter Pages{{/contentFor}}

<h1>Starter Pages</h1>
<p class="lead">Quickly get the front-end of your service started with these common page templates.</p>

<div class="row">
  <div class="col-sm-4">
    <a href="/starterPages/basic.html"><img class="img-thumbnail" src="./img/basic.png" alt="basic page template" /></a>
    <h4><a href="/starterPages/basic.html">Basic Page</a></h4>
    <p>Basic page with CSS and javascript includes, top header navigation, and a <a href="./listviews.html">List View</a> in the body.</p>
  </div>
  <div class="col-sm-4">
    <a href="/starterPages/leftnav.html"><img class="img-thumbnail" src="./img/leftnav.png" alt="basic leftnav template" /></a>
    <h4><a href="/starterPages/leftnav.html">Left Navigation Page</a></h4>
    <p>Top header navigation, a left nav, and a <a href="./listviews.html">List View</a>.</p>
  </div>
  <div class="col-sm-4">
    <a href="/starterPages/signin.html"><img class="img-thumbnail" src="./img/basic.png" alt="basic page thumbnail" /></a>
    <h4><a href="/starterPages/signin.html">Sign In</a></h4>
    <p>Standard CenturyLink Cloud Platform sign in page for use across all products and services.</p>
  </div>
</div>
