{{#contentFor "title"}}Starter Pages{{/contentFor}}

<h1>Starter Pages</h1>
<p class="lead">Quickly get the front-end of your service started with these common page templates.</p>

<div class="row">
  <div class="col-sm-4">
    <a href="./starterPages/basic.html"><img class="img-thumbnail" src="./img/basic.png" alt="basic page template" /></a>
    <h4><a href="./starterPages/basic.html">Basic Page</a></h4>
    <p>Basic page with CSS and javascript includes, top header navigation, and a <a href="./listviews.html">List View</a> in the body.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/basicPricing.html"><img class="img-thumbnail" src="./img/basic-pricing.png" alt="basic page with pricing template" /></a>
    <h4><a href="./starterPages/basicPricing.html">Basic Page with Pricing and Paging</a></h4>
    <p>Basic page but with the addition of a <a href="./components.html#billingSummary">billing summary</a>.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/leftnav.html"><img class="img-thumbnail" src="./img/leftnav.png" alt="page with a left navigation" /></a>
    <h4><a href="./starterPages/leftnav.html">Left Navigation Page</a></h4>
    <p>Top header navigation, a left nav, and a <a href="./listviews.html">List View</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <a href="./starterPages/price-estimate-create.html"><img class="img-thumbnail" src="./img/price-estimate-create.png" alt="Create Page with Price Estimate" /></a>
    <h4><a href="./starterPages/price-estimate-create.html">Create Page with Price Estimate</a></h4>
    <p>Create page with responsive price estimate summary on the left.</p>
  </div>
  <div class="col-sm-4">
    <a href="./starterPages/404.html"><img class="img-thumbnail" src="./img/404.png" alt="HTTP error pages" /></a>
    <h4><a href="./starterPages/404.html">404 Page</a></h4>
    <p>Basic 404 error page. An example of a <a href="./starterPages/500.html">500 Internal Server Error</a> page is also available.</p>
  </div>
</div>
