{{#contentFor "title"}}Tables{{/contentFor}}
{{#contentFor "tabName"}}tables{{/contentFor}}
{{!< layouts/components.html}}


    <h1 class="content-header">Tables</h1>
    <section class="pl-section">
      <p>Tables should be used for displaying (read-only) tabular data. If you would like to display a list of objects in a tabular list, but need the additonal functionality of being able to add, edit and delete the objects in the list, please use the <a href="/ux/listviews#list-views">list-view classes</a>. Tables are suited for display of tabular data only, and have no built-in interactive capabilities.</p>
      <p>For basic styling—light padding and horizontal dividers—add the base class <code>.table</code> to any <code>table</code>. It may seem super redundant, but given the widespread use of tables for other plugins like calendars and date pickers, we've opted to isolate our custom table styles.</p>
      <div class="pl-example">
        {{> tables/table}}
      </div>

      <pre>
        <code class="html">
&lt;table class=&quot;table&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;First Name&lt;/th&gt;
      &lt;th&gt;Last Name&lt;/th&gt;
      &lt;th&gt;username&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;Alyssa&lt;/td&gt;
      &lt;td&gt;Carizzalas&lt;/td&gt;
      &lt;td&gt;alyssa.carizzalas&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Matthew&lt;/td&gt;
      &lt;td&gt;Osborn&lt;/td&gt;
      &lt;td&gt;mosborn&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Rathromony&lt;/td&gt;
      &lt;td&gt;Ros-Yan&lt;/td&gt;
      &lt;td&gt;rathromony.ros&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Nathan&lt;/td&gt;
      &lt;td&gt;Young&lt;/td&gt;
      &lt;td&gt;nathanyoung&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
        </code>
      </pre>

    </section>
