{{#contentFor "title"}}Tokens{{/contentFor}}
{{#contentFor "tabName"}}tokens{{/contentFor}}
{{!< layouts/tokens.html}}

<section class="pl-section" id="tokens">
  <h1 class="content-header">What are Tokens?</h1>
  <p>Design tokens help us maintain consistent and scalable UI pattern library development. They are essentially name-value pairs that describe visual design attributes of our UI patterns. We've exposed them (as opposed to leaving them buried in our source files) so that designers and developers may easily reference defined design attributes.
</section>

<section class="pl-section" id="font">
  <h3>Font</h3>
  <p>Use these font weights to change how thin or heavy the weight is for our font.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th>example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@font-family</code></td>
        <td>
          <div class="token-example-font">The quick brown fox</div>
          <code>"Open Sans", Helvetica, Arial, Sans-Serif;</code>
        </td>
      </tr>
      <tr>
        <td>
          <code>@font-weight-light</code>
        </td>
        <td>
          <div class="token-example-font" style="font-weight: 300">The quick brown fox</div>
          <code>300</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-weight-regular</code></td>
        <td>
          <div class="token-example-font" style="font-weight: 400">The quick brown fox</div>
          <code>400</code></td>
      </tr>
      <tr>
        <td><code>@font-weight-bold</code></td>
        <td>
          <div class="token-example-font" style="font-weight: 600">The quick brown fox</div>
          <code>600</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="fontSize">
  <h3>Font Size</h3>
  <p>Use these sizing tokens for font sizes.</p>
</section>

<section class="pl-section" id="textColor">
  <h3>Text Color</h3>
</section>

<section class="pl-section" id="lineHeight">
  <h3>Line Height</h3>
</section>

<section class="pl-section" id="backgroundColor">
  <h3>Background Color</h3>
</section>

<section class="pl-section" id="spacing">
  <h3>Spacing</h3>
</section>

<section class="pl-section" id="mediaQueries">
  <h3>Media Queries</h3>
</section>
