{{#contentFor "title"}}Tokens{{/contentFor}}
{{!< layouts/tokens.html}}

<section class="pl-section" id="tokens">
  <h1 class="content-header">What are Tokens?</h1>
  <p>Design tokens help us maintain consistent and scalable UI pattern library development. They are essentially name-value pairs that describe visual design attributes of our UI patterns. We've exposed them (as opposed to leaving them buried in our source files) so that designers and developers may easily reference defined design attributes.
</section>

<section class="pl-section" id="backgroundColor">
  <h3>Cyclops main colors</h3>

  <p>Most Cyclops colors are derived from this palette. </p>

  <table class="table">
    <thead>
    <tr>
      <th>token</th>
      <th class="token-value">value/example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>@brand-primary</code></td>
      <td>
        <div class="token-color-box token-color-box--bg" style="background-color: #0047BB;" title="#0047BB, rgb(0,71,187)"></div>
        <code>
          #0047BB<br />
          rgb(0,71,187)
        </code>
      </td>
    </tr>
    <tr>
      <td><code>@brand-secondary</code></td>
      <td>
        <div class="token-color-box token-color-box--bg" style="background-color: #48D597;" title="#48D597, rgb(72,213,151)"></div>
        <code>
          #48D597<br />
          rgb(72,213,151)
        </code>
      </td>
    </tr>
    <tr>
      <td><code>@brand-success</code></td>
      <td>
        <div class="token-color-box token-color-box--bg" style="background-color: #48D597;" title="#48D597, rgb(72,213,151)"></div>
        <code>
          #48D597<br />
          rgb(72,213,151)
        </code>
      </td>
    </tr>
    <tr>
      <td><code>@brand-info</code></td>
      <td>
        <div class="token-color-box token-color-box--bg" style="background-color: #4288F3;" title="#4288F3, rgb(66,136,243)"></div>
        <code>
          #4288F3<br />
          rgb(66,136,243)
        </code>
      </td>
    </tr>
    <tr>
      <td><code>@brand-warning</code></td>
      <td>
        <div class="token-color-box token-color-box--bg" style="background-color: #FDB630;" title="#FDB630, rgb(253,182,48)"></div>
        <code>
          #FDB630<br />
          rgb(253,182,48)
        </code>
      </td>
    </tr>
    <tr>
      <td><code>@brand-danger</code></td>
      <td>
        <div class="token-color-box token-color-box--bg" style="background-color: #E43B34;" title="#E43B34, rgb(228,59,52)"></div>
        <code>
          #E43B34<br />
          rgb(228,59,52)
        </code>
      </td>
    </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="font">
  <h3>Font</h3>
  <p>Use these font weights to change how thin or heavy the weight is for our font.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@font-family</code></td>
        <td>
          <div class="token-example-font">The quick brown fox</div>
          <code>"Open Sans",
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Roboto",
            "Oxygen",
            "Ubuntu",
            "Cantarell",
            "Fira Sans",
            "Droid Sans",
            "Helvetica Neue",
            Sans-Serif;</code>
        </td>

      </tr>
      <tr>
        <td>
          <code>@font-weight-light</code>
        </td>
        <td>
          <div class="token-example-font" style="font-weight: 300">The quick brown fox</div>
          <code>300</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-weight-regular</code></td>
        <td>
          <div class="token-example-font" style="font-weight: 400">The quick brown fox</div>
          <code>400</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-weight-bold</code></td>
        <td>
          <div class="token-example-font" style="font-weight: 600">The quick brown fox</div>
          <code>600</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="fontSize">
  <h3>Font Size</h3>
  <p>Use these sizing tokens for font sizes.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>@font-size-small</code></td>
      <td>
        <div style="font-size: 12px;">The quick brown fox</div>
        <code>12px</code>
      </td>
    </tr>
      <tr>
        <td><code>@font-size-regular</code></td>
        <td>
          <div>The quick brown fox</div>
          <code>14px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-large</code></td>
        <td>
          <div style="font-size: 18px;">The quick brown fox</div>
          <code>18px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h1</code></td>
        <td>
          <div style="font-size: 36px;">The quick brown fox</div>
          <code>36px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h2</code></td>
        <td>
          <div style="font-size: 30px;">The quick brown fox</div>
          <code>30px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h3</code></td>
        <td>
          <div style="font-size: 24px;">The quick brown fox</div>
          <code>24px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h4</code></td>
        <td>
          <div style="font-size: 18px;">The quick brown fox</div>
          <code>18px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h5</code></td>
        <td>
          <div style="font-size: 13px;">The quick brown fox</div>
          <code>13px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h6</code></td>
        <td>
          <div style="font-size: 12px;">The quick brown fox</div>
          <code>12px</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="textColor">
  <h3>Text Color</h3>
  <p>Use these text color tokens for setting text colors.</p>
  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>@text-color</code></td>
      <td>
        <div class="token-example-font">The quick brown fox</div>
        <code>#242526<br />
          rgb(36,37,38)
        </code>
      </td>
    </tr>
      <tr>
        <td><code>@text-color-light</code></td>
        <td>
          <div class="token-example-font" style="color: #72767A;">The quick brown fox</div>
          <code>#72767A<br />
            rgb(114,118,122)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@text-color-lighter</code></td>
        <td>
          <div class="token-example-font" style="color: #8E9399;">The quick brown fox</div>
          <code>#8E9399<br />
            rgb(142,147,153)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@text-color-error</code></td>
        <td>
          <div class="token-example-font text-danger">The quick brown fox</div>
          <code>#E43B34<br />
            rgb(228,59,52)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@account-switcher-text</code></td>
        <td>
          <div class="token-example-font" style="color: #8E9399">The quick brown fox</div>
          <code>#8E9399<br />
            rgb(142,147,153)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@account-switcher-input-text</code></td>
        <td>
          <div class="token-example-font" style="color: #8E9399">The quick brown fox</div>
          <code>#8E9399<br />
            rgb(142,147,153)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@account-switcher-header-text</code></td>
        <td>
          <div class="token-example-font" style="color: #72767A">The quick brown fox</div>
          <code>#72767A<br />
            rgb(114,118,122)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-link-text</code></td>
        <td>
          <div class="token-example-font" style="color: #242526">The quick brown fox</div>
          <code>#242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-link-text-hover</code></td>
        <td>
          <div class="token-example-font" style="color: #242526">The quick brown fox</div>
          <code>#242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-link-text-active</code></td>
        <td>
          <div class="token-example-font" style="color: #242526">The quick brown fox</div>
          <code>#242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-success-text</code></td>
        <td>
          <div class="token-example-font" style="color: #27B875;">The quick brown fox</div>
          <code>#27B875<br />
            rgb(39,184,117)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-info-text</code></td>
        <td>
          <div class="token-example-font" style="color: #005BED;">The quick brown fox</div>
          <code>#005BED<br />
            rgb(0,91,237)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-warning-text</code></td>
        <td>
          <div class="token-example-font" style="color: #FDB630;">The quick brown fox</div>
          <code>#FDB630<br />
            rgb(253,182,48)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-danger-text</code></td>
        <td>
          <div class="token-example-font" style="color: #E43B34;">The quick brown fox</div>
          <code>#E43B34<br />
            rgb(228,59,52)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@alert-text</code></td>
        <td>
          <div class="token-example-font" style="color: #242526;">The quick brown fox</div>
          <code>#242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="lineHeight">
  <h3>Line Height</h3>
  <p>Use these tokens for setting line height values.</p>

  <table class="table">
    <thead>
    <tr>
      <th>token</th>
      <th class="token-value">value/example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>@line-height-base</code></td>
      <td>Relative to font size: <code>1.428571429 times font size.</code></td>
    </tr>
    <tr>
      <td><code>@line-height-computed</code></td>
      <td><code>20px</code></td>
    </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="backgroundColor">
  <h3>Background Color</h3>

  <p>Use these background color tokens for setting background colors.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@body-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#F8F9F9;" title="#F8F9F9, rgb(248,249,249)"></div>
          <code>
            #F8F9F9<br />
            rgb(248,249,249)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@primary-body-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#fff;" title="#fff, rgb(225,225,225)"></div>
          <code>
            #fff<br />
            rgb(225,225,225)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-success-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#DAF5E9;" title="#DAF5E9, rgb(218,245,233)"></div>
          <code>
            #DAF5E9<br />
            rgb(218,245,233)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-info-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#E6F0FF;" title="#E6F0FF, rgb(230,240,255)"></div>
          <code>
            #E6F0FF<br />
            rgb(230,240,255)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-warning-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FCF8E3;" title="#FCF8E3, rgb(252,248,227)"></div>
          <code>
            #FCF8E3<br />
            rgb(252,248,227)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-danger-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#F2DEDE;" title="#F2DEDE, rgb(242,222,222)"></div>
          <code>
            #F2DEDE<br />
            rgb(242,222,222)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@action-toolbar-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#EDF0F2;" title="#EDF0F2, rgb(237,240,242)"></div>
          <code>
            #EDF0F2<br />
            rgb(237,240,242)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@action-toolbar-hover-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#DEE1E5;" title="#DEE1E5, rgb(222,225,229)"></div>
          <code>
            #DEE1E5<br />
            rgb(222,225,229)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@action-toolbar-active-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#D0D4D9;" title="#D0D4D9, rgb(208,212,217)"></div>
          <code>
            #D0D4D9<br />
            rgb(208,212,217)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@action-toolbar-dropdown-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#242526;" title="#242526, rgb(36,37,38)"></div>
          <code>
            #242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@action-toolbar-dropdown-hover-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#242526;" title="#242526, rgb(36,37,38)"></div>
          <code>
            #242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@action-toolbar-dropdown-active-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#242526;" title="#242526, rgb(36,37,38)"></div>
          <code>
            #242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@account-switcher-header-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#242526;" title="#242526, rgb(36,37,38)"></div>
          <code>
            #242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@account-switcher-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#242526;" title="#242526, rgb(36,37,38)"></div>
          <code>
            #242526<br />
            rgb(36,37,38)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@account-switcher-active-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#000;" title="#000, rgb(0,0,0)"></div>
          <code>
            #000<br />
            rgb(0,0,0)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@alert-success-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#DAF5E9;" title="#DAF5E9, rgb(218,245,233)"></div>
          <code>
            #DAF5E9<br />
            rgb(218,245,233)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@alert-info-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#E6F0FF;" title="#E6F0FF, rgb(230,240,255)"></div>
          <code>
            #E6F0FF<br />
            rgb(230,240,255)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@alert-warning-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FCF8E3;" title="#FCF8E3, rgb(252,248,227)"></div>
          <code>
            #FCF8E3<br />
            rgb(252,248,227)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@alert-danger-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#F2DEDE;" title="#F2DEDE, rgb(242,222,222)"></div>
          <code>
            #F2DEDE<br />
            rgb(242,222,222)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@alert-instruction-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#fff;" title="#fff, rgb(255,255,255)"></div>
          <code>
            #fff<br />
            rgb(255,255,255)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FFF;" title="#FFF, rgb(255,255,255)"></div>
          <code>
            #FFF<br />
            rgb(255,255,255)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-hover-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#F8F9F9;" title="#F8F9F9, rgb(248,249,249)"></div>
          <code>
            #F8F9F9<br />
            rgb(248,249,249)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-active-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#EDF0F2;" title="#EDF0F2, rgb(237,240,242)"></div>
          <code>
            #EDF0F2<br />
            rgb(237,240,242)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-flyout-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FFF;" title="#FFF, rgb(255,255,255)"></div>
          <code>
            #FFF<br />
            rgb(255,255,255)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-flyout-hover-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#F8F9F9;" title="#F8F9F9, rgb(248,249,249)"></div>
          <code>
            #F8F9F9<br />
            rgb(248,249,249)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@main-nav-flyout-active-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#EDF0F2;" title="#EDF0F2, rgb(237,240,242)"></div>
          <code>
            #EDF0F2<br />
            rgb(237,240,242)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@progress-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#DEE1E5;" title="#DEE1E5, rgb(222,225,229)"></div>
          <code>
            #DEE1E5<br />
            rgb(222,225,229)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@progress-bar-success-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#48D597;" title="#48D597, rgb(72,213,151)"></div>
          <code>
            #48D597<br />
            rgb(72,213,151)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@progress-bar-info-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#4288F3;" title="#4288F3, rgb(66,136,243)"></div>
          <code>
            #4288F3<br />
            rgb(66,136,243)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@progress-bar-warning-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FDB630;" title="#FDB630, rgb(253,182,48)"></div>
          <code>
            #FDB630<br />
            rgb(253,182,48)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@progress-bar-danger-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#E43B34;" title="#E43B34, rgb(228,59,52)"></div>
          <code>
            #E43B34<br />
            rgb(228,59,52)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tag-default-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#8E9399;" title="#8E9399, rgb(142,147,153)"></div>
          <code>
            #8E9399<br />
            rgb(142,147,153)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tag-primary-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#0047BB;" title="#48D597, rgb(0,71,187)"></div>
          <code>
            #0047BB<br />
            rgb(0,71,187)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tag-success-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#48D597;" title="#48D597, rgb(72,213,151)"></div>
          <code>
            #48D597<br />
            rgb(72,213,151)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tag-info-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#4288F3;" title="#4288F3, rgb(66,136,243)"></div>
          <code>
            #4288F3<br />
            rgb(66,136,243)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tag-warning-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FDB630;" title="#FDB630, rgb(253,182,48)"></div>
          <code>
            #FDB630<br />
            rgb(253,182,48)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tag-danger-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#E43B34;" title="#E43B34, rgb(228,59,52)"></div>
          <code>
            #E43B34<br />
            rgb(228,59,52)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tree-list-status-default-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#DEE1E5;" title="#DEE1E5, rgb(222,225,229)"></div>
          <code>
            #DEE1E5<br />
            rgb(222,225,229)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tree-list-status-warning-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#FDB630;" title="#FDB630, rgb(253,182,48)"></div>
          <code>
            #FDB630<br />
            rgb(253,182,48)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@tree-list-status-danger-bg</code></td>
        <td>
          <div class="token-color-box token-color-box--bg" style="background-color:#E43B34;" title="#E43B34, rgb(228,59,52)"></div>
          <code>
            #E43B34<br />
            rgb(228,59,52)
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="borderRadius">
  <h3>Border Width</h3>
  <p>Use these border width tokens for setting border widths.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@border-width-0</code></td>
        <td>
          <div class="p-xs m-b-xs b-all b-width-0 show-box"><code>b-width-0</code></div>
          <code>
            0
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-width-1</code></td>
        <td>
          <div class="p-xs m-b-xs b-all b-width-1 show-box"><code>b-width-0</code></div>
          <code>
            1px
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-width-2</code></td>
        <td>
          <div class="p-xs m-b-xs b-all b-width-2 show-box"><code>b-width-0</code></div>
          <code>
            2px
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-width-3</code></td>
        <td>
          <div class="p-xs m-b-xs b-all b-width-3 show-box"><code>b-width-0</code></div>
          <code>
            3px
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="borderColor">
  <h3>Border Color</h3>
  <p>Use these border color tokens for setting border colors.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@border-color</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#DEE1E5;" title="#DEE1E5, rgb(222,225,229)"></div>
          <code>
            #DEE1E5<br />
            rgb(222,225,229)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-color-dark</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#8E9399;" title="#8E9399, rgb(142,147,153)"></div>
          <code>
            #8E9399<br />
            rgb(142,147,153)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-success-border</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#C6F0D6;" title="#C6F0D6, rgb(198,240,214)"></div>
          <code>
            #C6F0D6<br />
            rgb(198,240,214)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-info-border</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#B3DEFF;" title="#B3DEFF, rgb(179,222,255)"></div>
          <code>
            #B3DEFF<br />
            rgb(179,222,255)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-warning-border</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#F5D9A5;" title="#F5D9A5, rgb(245,217,165)"></div>
          <code>
            #F5D9A5<br />
            rgb(245,217,165)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@state-danger-border</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#EBCCD1;" title="#EBCCD1, rgb(235,204,209)"></div>
          <code>
            #EBCCD1<br />
            rgb(235,204,209)
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="borderRadius">
  <h3>Border Radius</h3>
  <p>Use these border radius tokens for setting border radii.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@border-radius-small</code></td>
        <td>
          <div class="token-color-box token-color-border--radius" style="border-radius: 3px;"></div>
          <code>
            3px
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-radius-base</code></td>
        <td>
          <div class="token-color-box token-color-border--radius" style="border-radius: 4px;"></div>
          <code>
            4px
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-radius-large</code></td>
        <td>
          <div class="token-color-box token-color-border--radius" style="border-radius: 6px;"></div>
          <code>
            6px
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-radius-circle</code></td>
        <td>
          <div class="token-color-box token-color-border--radius" style="border-radius: 50%;"></div>
          <code>
            50%
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="spacing">
  <h3>Spacing</h3>
  <p>Use these spacing tokens for setting margin and padding values.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@space-xxs</code></td>
        <td><code>5px</code></td>
      </tr>
      <tr>
        <td><code>@space-xs</code></td>
        <td><code>10px</code></td>
      </tr>
      <tr>
        <td><code>@space-sm</code></td>
        <td><code>20px</code></td>
      </tr>
      <tr>
        <td><code>@space-md</code></td>
        <td><code>30px</code></td>
      </tr>
      <tr>
        <td><code>@space-lg</code></td>
        <td><code>40px</code></td>
      </tr>
      <tr>
        <td><code>@space-xl</code></td>
        <td><code>60px</code></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="mediaQueries">
  <h3>Media Queries</h3>
  <p>Cyclops is mobile first, so media queries are set with minimum screen widths. Use the following media query tokens to set media query width ranges.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@screen-xs-min</code></td>
        <td><code>only screen and (min-width: 480px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-sm-min</code></td>
        <td><code>only screen and (min-width: 768px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-md-min</code></td>
        <td><code>only screen and (min-width: 992px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-lg-min</code></td>
        <td><code>only screen and (min-width: 1200px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-xl-min</code></td>
        <td><code>only screen and (min-width: 1800px)</code></td>
      </tr>
    </tbody>
  </table>
</section>
