{{#contentFor "title"}}Tokens{{/contentFor}}
{{!< layouts/tokens.html}}

<section class="pl-section" id="tokens">
  <h1 class="content-header">What are Tokens?</h1>
  <p>Design tokens help us maintain consistent and scalable UI pattern library development. They are essentially name-value pairs that describe visual design attributes of our UI patterns. We've exposed them (as opposed to leaving them buried in our source files) so that designers and developers may easily reference defined design attributes.
</section>

<section class="pl-section" id="font">
  <h3>Font</h3>
  <p>Use these font weights to change how thin or heavy the weight is for our font.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@font-family</code></td>
        <td>
          <div class="token-example-font">The quick brown fox</div>
          <code>"Open Sans", Helvetica, Arial, Sans-Serif;</code>
        </td>

      </tr>
      <tr>
        <td>
          <code>@font-weight-light</code>
        </td>
        <td>
          <div class="token-example-font" style="font-weight: 300">The quick brown fox</div>
          <code>300</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-weight-regular</code></td>
        <td>
          <div class="token-example-font" style="font-weight: 400">The quick brown fox</div>
          <code>400</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-weight-bold</code></td>
        <td>
          <div class="token-example-font" style="font-weight: 600">The quick brown fox</div>
          <code>600</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="fontSize">
  <h3>Font Size</h3>
  <p>Use these sizing tokens for font sizes.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>@font-size-small</code></td>
      <td>
        <div style="font-size: 12px;">The quick brown fox</div>
        <code>12px</code>
      </td>
    </tr>
      <tr>
        <td><code>@font-size-base</code></td>
        <td>
          <div>The quick brown fox</div>
          <code>14px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-large</code></td>
        <td>
          <div style="font-size: 18px;">The quick brown fox</div>
          <code>18px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h1</code></td>
        <td>
          <div style="font-size: 36px;">The quick brown fox</div>
          <code>36px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h2</code></td>
        <td>
          <div style="font-size: 30px;">The quick brown fox</div>
          <code>30px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h3</code></td>
        <td>
          <div style="font-size: 24px;">The quick brown fox</div>
          <code>24px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h4</code></td>
        <td>
          <div style="font-size: 18px;">The quick brown fox</div>
          <code>18px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h5</code></td>
        <td>
          <div style="font-size: 13px;">The quick brown fox</div>
          <code>13px</code>
        </td>
      </tr>
      <tr>
        <td><code>@font-size-h6</code></td>
        <td>
          <div style="font-size: 12px;">The quick brown fox</div>
          <code>12px</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="textColor">
  <h3>Text Color</h3>
  <p>Use these text color tokens for setting text colors.</p>
  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>@text-color</code></td>
      <td>
        <div class="token-example-font">The quick brown fox</div>
        <code>#666</code>
      </td>
    </tr>
      <tr>
        <td><code>@text-color-light</code></td>
        <td>
          <div class="token-example-font" style="color: #848484;">The quick brown fox</div>
          <code>#848484</code>
        </td>
      </tr>
      <tr>
        <td><code>@text-color-lighter</code></td>
        <td>
          <div class="token-example-font" style="color: #a3a3a3;">The quick brown fox</div>
          <code>#a3a3a3</code>
        </td>
      </tr>
      <tr>
        <td><code>@text-color-error</code></td>
        <td>
          <div class="token-example-font text-danger">The quick brown fox</div>
          <code>#e43b34</code>
        </td>
      </tr>
      <tr>
        <td><code>@state-success-text</code></td>
        <td>
          <div class="token-example-font" style="color: #3cac30;">The quick brown fox</div>
          <code>#3cac30</code>
        </td>
      </tr>
      <tr>
        <td><code>@state-info-text</code></td>
        <td>
          <div class="token-example-font" style="color: #317495;">The quick brown fox</div>
          <code>#317495</code>
        </td>
      </tr>
      <tr>
        <td><code>@state-warning-text</code></td>
        <td>
          <div class="token-example-font" style="color: #f5a934;">The quick brown fox</div>
          <code>#f5a934</code>
        </td>
      </tr>
      <tr>
        <td><code>@state-danger-text</code></td>
        <td>
          <div class="token-example-font" style="color: #e43b34;">The quick brown fox</div>
          <code>#e43b34</code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="lineHeight">
  <h3>Line Height</h3>
</section>

<section class="pl-section" id="backgroundColor">
  <h3>Background Color</h3>
</section>

<section class="pl-section" id="borderColor">
  <h3>Border Color</h3>
  <p>Use these border color tokens for setting border colors.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@border-color</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#e0e0e0;" title="#e0e0e0, rgb(224,224,224)"></div>
          <code>
            #e0e0e0<br />
            rgb(224,224,224)
          </code>
        </td>
      </tr>
      <tr>
        <td><code>@border-color-dark</code></td>
        <td>
          <div class="token-color-box token-color-box--border" style="border-color:#c1c1c1;" title="#c1c1c1, rgb(193,193,193)"></div>
          <code>
            #c1c1c1<br />
            rgb(193,193,193)
          </code>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section class="pl-section" id="spacing">
  <h3>Spacing</h3>
</section>

<section class="pl-section" id="mediaQueries">
  <h3>Media Queries</h3>
  <p>Cyclops is mobile first, so media queries are set with minimum screen widths. Use the following media query tokens to set media query width ranges.</p>

  <table class="table">
    <thead>
      <tr>
        <th>token</th>
        <th class="token-value">value/example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>@screen-xs-min</code></td>
        <td><code>only screen and (min-width: 480px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-sm-min</code></td>
        <td><code>only screen and (min-width: 768px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-md-min</code></td>
        <td><code>only screen and (min-width: 992px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-lg-min</code></td>
        <td><code>only screen and (min-width: 1200px)</code></td>
      </tr>
      <tr>
        <td><code>@screen-xl-min</code></td>
        <td><code>only screen and (min-width: 1800px)</code></td>
      </tr>
    </tbody>
  </table>
</section>
