{{#contentFor "title"}}Typography{{/contentFor}}
{{#contentFor "tabName"}}typography{{/contentFor}}
{{!< layouts/components.html}}

    <h1 class="content-header">Typography</h1>

    <section class="pl-section" id="system-fonts">
      <h3><a href="#system-fonts">System Fonts</a></h3>
      <p>As of version 1.6, Cyclops has moved to using system fonts in the browser. With this method, fonts used by different operating systems are explicitly called in the <code>font-family</code> property.</p>

      <h4>The Font Stack</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Font</th>
            <th>System</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>-apple-system</code></td>
            <td>iOS Safari, macOS Safari, macOS Firefox</td>
          </tr>
          <tr>
            <td><code>BlinkMacSystemFont</code></td>
            <td>macOS Chrome</td>
          </tr>
          <tr>
            <td><code>Segoe UI</code></td>
            <td>Windows</td>
          </tr>
          <tr>
            <td><code>Roboto</code></td>
            <td>Android, Chrome OS</td>
          </tr>
          <tr>
            <td><code>Oxygen</code></td>
            <td>KDE</td>
          </tr>
          <tr>
            <td><code>Ubuntu</code></td>
            <td>Ubuntu</td>
          </tr>
          <tr>
            <td><code>Cantarell</code></td>
            <td>GNOME</td>
          </tr>
          <tr>
            <td><code>Fira Sans</code></td>
            <td>Firefox OS</td>
          </tr>
          <tr>
            <td><code>Droid Sans</code></td>
            <td>Older Versions of Android</td>
          </tr>
          <tr>
            <td><code>Helvetica Neue</code></td>
            <td>macOS versions < 10.11</td>
          </tr>
          <tr>
            <td><code>Sans-Serif</code></td>
            <td>Any</td>
          </tr>
        </tbody>
      </table>
      <p>The font stack looks like this in implementation.</p>
      <pre>
        <code>
font-family:  -apple-system,
              BlinkMacSystemFont,
              "Segoe UI",
              "Roboto",
              "Oxygen",
              "Ubuntu",
              "Cantarell",
              "Fira Sans",
              "Droid Sans",
              "Helvetica Neue",
              Sans-Serif;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="headings">
      <h3><a href="#headings">Headings</a></h3>
      <div class="pl-example">
        {{> typography/headings }}
      </div>
      <pre>
        <code class="html">
&lt;h1&gt;H1 36pt System Font &lt;small&gt;h1 small text&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt;H2 30pt System Font &lt;small&gt;h2 small text&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt;H3 24pt System Font &lt;small&gt;h3 small text&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt;H4 18pt System Font &lt;small&gt;h4 small text&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt;H5 13pt System Font &lt;small&gt;h5 small text&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt;H6 12pt System Font&lt;/h6&gt;
        </code>
      </pre>

      <h3 id="contentHeadings"><a href="#contentHeadings">Content Headings</a></h3>
      <p>Add the
        <code>.content-header</code> to any html header entity, and it will automatically add a border below the header text.</p>
      <div class="pl-example">
        {{> typography/content-headings }}
      </div>
      <pre>
        <code class="html">
&lt;h1 class=&quot;content-header&quot;&gt;H1 36pt System Font
&lt;small&gt;h1 small text&lt;/small&gt;
&lt;/h1&gt;
&lt;h2 class=&quot;content-header&quot;&gt;H2 30pt System Font
&lt;small&gt;h2 small text&lt;/small&gt;
&lt;/h2&gt;
&lt;h3 class=&quot;content-header&quot;&gt;H3 24pt System Font
&lt;small&gt;h3 small text&lt;/small&gt;
&lt;/h3&gt;
&lt;h4 class=&quot;content-header&quot;&gt;H4 18pt System Font
&lt;small&gt;h4 small text&lt;/small&gt;
&lt;/h4&gt;
&lt;h5 class=&quot;content-header&quot;&gt;H5 13pt System Font
&lt;small&gt;h5 small text&lt;/small&gt;
&lt;/h5&gt;
&lt;h6 class=&quot;content-header&quot;&gt;H6 12pt System Font
&lt;small&gt;h6 small text&lt;/small&gt;
&lt;/h6&gt;
        </code>
      </pre>
      <p>Sometimes you'll want to treat multiple entities, such as Server name and it's description, as the content header. Wrap your content in a div with the <code>.content-header</code> class.</p>
      <div class="pl-example">
        {{> typography/content-headings-block }}
      </div>
      <pre>
        <code class="html">
&lt;div class=&quot;content-header&quot;&gt;
&lt;h1&gt;QA1DEVLBTEST01&lt;/h1&gt;
&lt;p class=&quot;lead&quot;&gt;Load Balancer Test VM&lt;/p&gt;
&lt;/div&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="bodyCopy">
      <h3><a href="#bodyCopy">Body Copy</a></h3>
      <p>The default font-size is 14px, with a line-height of 1.428 (20px).</p>
      <div class="pl-example">
        {{> typography/body-copy }}
      </div>
      <pre>
        <code class="html">
&lt;p&gt;...&lt;/p&gt;
        </code>
      </pre>

      <h4 id="alignment"><a href="#alignment">Alignment</a></h4>
      <div class="pl-example">
        {{> typography/alignment }}
      </div>
      <pre>
        <code class="html">
&lt;p class=&quot;text-justify&quot;&gt;Justified text.&lt;/p&gt;
&lt;p class=&quot;text-nowrap&quot;&gt;No wrap text.&lt;/p&gt;

&lt;p class=&quot;text-left&quot;&gt;Left aligned text.&lt;/p&gt;
&lt;p class=&quot;text-center&quot;&gt;Center aligned text.&lt;/p&gt;
&lt;p class=&quot;text-right&quot;&gt;Right aligned text.&lt;/p&gt;

&lt;p class=&quot;text-sm-right&quot;&gt;Right aligned text on viewports sized SM (small) or wider.&lt;/p&gt;
&lt;p class=&quot;text-md-right&quot;&gt;Right aligned text on viewports sized MD (medium) or wider.&lt;/p&gt;
&lt;p class=&quot;text-lg-right&quot;&gt;Right aligned text on viewports sized LG (large) or wider.&lt;/p&gt;
&lt;p class=&quot;text-xl-right&quot;&gt;Right aligned text on viewports sized XL (extra-large) or wider.&lt;/p&gt;
        </code>
      </pre>

      <h4 id="color"><a href="#color">Color</a></h4>
      <div class="pl-example">
        {{> typography/color }}
      </div>
      <pre>
        <code class="html">
&lt;p class=&quot;text-success&quot;&gt;Success Text Color&lt;/p&gt;
&lt;p class=&quot;text-warning&quot;&gt;Warning Text Color&lt;/p&gt;
&lt;p class=&quot;text-danger&quot;&gt;Danger Text Color&lt;/p&gt;
&lt;p class=&quot;deemphasize&quot;&gt;De-emphasize&lt;/p&gt;
        </code>
      </pre>

      <h4 id="transformation"><a href="#transformation">Transformation</a></h4>
      <div class="pl-example">
        {{> typography/transformation }}
      </div>
      <pre>
        <code class="html">
&lt;p class=&quot;text-lowercase&quot;&gt;Lowercase text.&lt;/p&gt;
&lt;p class=&quot;text-uppercase&quot;&gt;Upperscase text.&lt;/p&gt;
&lt;p class=&quot;text-capitalize&quot;&gt;Capitalized text.&lt;/p&gt;
        </code>
      </pre>
    </section>
