{{#contentFor "title"}}Typography{{/contentFor}}
{{#contentFor "tabName"}}typography{{/contentFor}}
{{!< layouts/leftnav.html}}

<div class="row">
  <div class="col-sm-9">
    <section class="pl-section" id="typography">
      <h1 class="content-header">Typography</h1>

      <div class="pl-section">
        <h3>Headings</h3>
        <div class="pl-example">
          <h1>H1 36pt Open Sans Light
            <small>h1 small text</small>
          </h1>
          <h2>H2 30pt Open Sans Light
            <small>h2 small text</small>
          </h2>
          <h3>H3 24pt Open Sans Light
            <small>h3 small text</small>
          </h3>
          <h4>H4 18pt Open Sans Light
            <small>h4 small text</small>
          </h4>
          <h5>H5 13pt Open Sans Light
            <small>h5 small text</small>
          </h5>
          <h6>H6 12pt Open Sans Light
            <small>h6 small text</small>
          </h6>
        </div>
        <h3>Content Headers</h3>
        <p>Add the
          <code>.content-header</code> to any html header entity, and it will automatically add a border below the header text.</p>
        <div class="pl-example">
          <h1 class="content-header">H1 36pt Open Sans Light
            <small>h1 small text</small>
          </h1>
          <h2 class="content-header">H2 30pt Open Sans Light
            <small>h2 small text</small>
          </h2>
          <h3 class="content-header">H3 24pt Open Sans Light
            <small>h3 small text</small>
          </h3>
          <h4 class="content-header">H4 18pt Open Sans Light
            <small>h4 small text</small>
          </h4>
          <h5 class="content-header">H5 13pt Open Sans Light
            <small>h5 small text</small>
          </h5>
          <h6 class="content-header">H6 12pt Open Sans Light
            <small>h6 small text</small>
          </h6>
        </div>
        <pre>
          <code class="html">
&lt;h1 class=&quot;content-header&quot;&gt;H1 36pt Open Sans Light
  &lt;small&gt;h1 small text&lt;/small&gt;
&lt;/h1&gt;
&lt;h2 class=&quot;content-header&quot;&gt;H2 30pt Open Sans Light
  &lt;small&gt;h2 small text&lt;/small&gt;
&lt;/h2&gt;
&lt;h3 class=&quot;content-header&quot;&gt;H3 24pt Open Sans Light
  &lt;small&gt;h3 small text&lt;/small&gt;
&lt;/h3&gt;
&lt;h4 class=&quot;content-header&quot;&gt;H4 18pt Open Sans Light
  &lt;small&gt;h4 small text&lt;/small&gt;
&lt;/h4&gt;
&lt;h5 class=&quot;content-header&quot;&gt;H5 13pt Open Sans Light
  &lt;small&gt;h5 small text&lt;/small&gt;
&lt;/h5&gt;
&lt;h6 class=&quot;content-header&quot;&gt;H6 12pt Open Sans Light
  &lt;small&gt;h6 small text&lt;/small&gt;
&lt;/h6&gt;
          </code>
        </pre>
        <p>Sometimes you'll want to treat multiple entities as the content header. Here's an example of that.</p>
        <div class="pl-example">
          <div class="content-header">
            <h1>QA1DEVLBTEST01</h1>
            <p class="lead">Load Balancer Test VM</p>
          </div>
        </div>
        <pre>
          <code class="html">
&lt;div class=&quot;content-header&quot;&gt;
  &lt;h1&gt;QA1DEVLBTEST01&lt;/h1&gt;
  &lt;p class=&quot;lead&quot;&gt;Load Balancer Test VM&lt;/p&gt;
&lt;/div&gt;
          </code>
        </pre>
      </div>
      <div class="pl-section">
        <h4>Body Text</h4>
        <div class="pl-example">
          <h1>Page Title</h1>
          <div class="row">
            <div class="col-sm-6">
              <h4>This is a Paragraph Header</h4>
              <p>I could see why some of the boys took him for snobby. He had a quiet way about him, a walk and a talk that just wasn't normal around here. He strolled, like a man in a park without a care or a worry in the world, like he had on an invisible
                coat that would shield him from this place. Yeah, I think it would be fair to say...I liked Andy from the start.</p>
              <p>I could see why some of the boys took him for snobby. He had a quiet way about him, a walk and a talk that just wasn't normal around here. He strolled, like a man in a park without a care or a worry in the world, like he had on an invisible
                coat that would shield him from this place. Yeah, I think it would be fair to say...I liked Andy from the start.</p>
            </div>
            <div class="col-sm-6">
              <h4>This is Another Paragraph Header</h4>
              <p>I have to remind myself that some birds aren't meant to be caged. Their feathers are just too bright. And when they fly away, the part of you that knows it was a sin to lock them up does rejoice. Still, the place you live in is that much more
                drab and empty that they're gone. I guess I just miss my friend.</p>
              <p>I have to remind myself that some birds aren't meant to be caged. Their feathers are just too bright. And when they fly away, the part of you that knows it was a sin to lock them up does rejoice. Still, the place you live in is that much more
                drab and empty that they're gone. I guess I just miss my friend.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
