{{#contentFor "title"}}Typography{{/contentFor}}
{{#contentFor "tabName"}}typography{{/contentFor}}
{{!< layouts/leftnav.html}}

    <h1 class="content-header">Typography</h1>
    <section class="pl-section" id="headings">
      <h3>Headings</h3>
      <div class="pl-example">
        <h1>H1 36pt Open Sans Light <small>h1 small text</small></h1>
        <h2>H2 30pt Open Sans Light <small>h2 small text</small></h2>
        <h3>H3 24pt Open Sans Light <small>h3 small text</small></h3>
        <h4>H4 18pt Open Sans Light <small>h4 small text</small></h4>
        <h5>H5 13pt Open Sans Light <small>h5 small text</small></h5>
        <h6>H6 12pt Open Sans Light</h6>
      </div>
      <pre>
        <code class="html">
&lt;h1&gt;H1 36pt Open Sans Light &lt;small&gt;h1 small text&lt;/small&gt;&lt;/h1&gt;
&lt;h2&gt;H2 30pt Open Sans Light &lt;small&gt;h2 small text&lt;/small&gt;&lt;/h2&gt;
&lt;h3&gt;H3 24pt Open Sans Light &lt;small&gt;h3 small text&lt;/small&gt;&lt;/h3&gt;
&lt;h4&gt;H4 18pt Open Sans Light &lt;small&gt;h4 small text&lt;/small&gt;&lt;/h4&gt;
&lt;h5&gt;H5 13pt Open Sans Light &lt;small&gt;h5 small text&lt;/small&gt;&lt;/h5&gt;
&lt;h6&gt;H6 12pt Open Sans Light&lt;/h6&gt;
        </code>
      </pre>

      <h3>Content Headings</h3>
      <p>Add the
        <code>.content-header</code> to any html header entity, and it will automatically add a border below the header text.</p>
      <div class="pl-example">
        <h1 class="content-header">H1 36pt Open Sans Light
          <small>h1 small text</small>
        </h1>
        <h2 class="content-header">H2 30pt Open Sans Light
          <small>h2 small text</small>
        </h2>
        <h3 class="content-header">H3 24pt Open Sans Light
          <small>h3 small text</small>
        </h3>
        <h4 class="content-header">H4 18pt Open Sans Light
          <small>h4 small text</small>
        </h4>
        <h5 class="content-header">H5 13pt Open Sans Light
          <small>h5 small text</small>
        </h5>
        <h6 class="content-header">H6 12pt Open Sans Light
          <small>h6 small text</small>
        </h6>
      </div>
      <pre>
        <code class="html">
&lt;h1 class=&quot;content-header&quot;&gt;H1 36pt Open Sans Light
&lt;small&gt;h1 small text&lt;/small&gt;
&lt;/h1&gt;
&lt;h2 class=&quot;content-header&quot;&gt;H2 30pt Open Sans Light
&lt;small&gt;h2 small text&lt;/small&gt;
&lt;/h2&gt;
&lt;h3 class=&quot;content-header&quot;&gt;H3 24pt Open Sans Light
&lt;small&gt;h3 small text&lt;/small&gt;
&lt;/h3&gt;
&lt;h4 class=&quot;content-header&quot;&gt;H4 18pt Open Sans Light
&lt;small&gt;h4 small text&lt;/small&gt;
&lt;/h4&gt;
&lt;h5 class=&quot;content-header&quot;&gt;H5 13pt Open Sans Light
&lt;small&gt;h5 small text&lt;/small&gt;
&lt;/h5&gt;
&lt;h6 class=&quot;content-header&quot;&gt;H6 12pt Open Sans Light
&lt;small&gt;h6 small text&lt;/small&gt;
&lt;/h6&gt;
        </code>
      </pre>
      <p>Sometimes you'll want to treat multiple entities, such as Server name and it's description, as the content header. Wrap your content in a div with the <code>.content-header</code> class.</p>
      <div class="pl-example">
        <div class="content-header">
          <h1>QA1DEVLBTEST01</h1>
          <p class="lead">Load Balancer Test VM</p>
        </div>
      </div>
      <pre>
        <code class="html">
&lt;div class=&quot;content-header&quot;&gt;
&lt;h1&gt;QA1DEVLBTEST01&lt;/h1&gt;
&lt;p class=&quot;lead&quot;&gt;Load Balancer Test VM&lt;/p&gt;
&lt;/div&gt;
        </code>
      </pre>
    </section>

    <section class="pl-section" id="bodyCopy">
      <h3>Body Copy</h3>
      <p>The default font-size is 14px, with a line-height of 1.428 (20px).</p>
      <div class="pl-example">
        <p>I could see why some of the boys took him for snobby. He had a quiet way about him, a walk and a talk that just wasn't normal around here. He strolled, like a man in a park without a care or a worry in the world, like he had on an invisible coat that would shield him from this place. Yeah, I think it would be fair to say...I liked Andy from the start.</p>
        <p>I could see why some of the boys took him for snobby. He had a quiet way about him, a walk and a talk that just wasn't normal around here. He strolled, like a man in a park without a care or a worry in the world, like he had on an invisible coat that would shield him from this place. Yeah, I think it would be fair to say...I liked Andy from the start.</p>
      </div>
      <pre>
        <code class="html">
&lt;p&gt;...&lt;/p&gt;
        </code>
      </pre>

      <h4 id="alignment">Alignment</h4>
      <div class="pl-example">
        <p class="text-left">Left aligned text.</p>
        <p class="text-center">Center aligned text.</p>
        <p class="text-right">Right aligned text.</p>
      </div>
      <pre>
        <code class="html">
&lt;p class=&quot;text-left&quot;&gt;Left aligned text.&lt;/p&gt;
&lt;p class=&quot;text-center&quot;&gt;Center aligned text.&lt;/p&gt;
&lt;p class=&quot;text-right&quot;&gt;Right aligned text.&lt;/p&gt;
        </code>
      </pre>

      <h4 id="color">Color</h4>
      <div class="pl-example">
        <p class="text-success">Success Text Color</p>
        <p class="text-warning">Warning Text Color</p>
        <p class="text-danger">Danger Text Color</p>
      </div>
      <pre>
        <code class="html">

        </code>
      </pre>

      <h4 id="transformation"><a id="transformation">Transformation</a></h4>
      <div class="pl-example">
        <p class="text-lowercase">Lowercase text.</p>
        <p class="text-uppercase">Upperscase text.</p>
        <p class="text-capitalize">Capitalized text.</p>
      </div>
      <pre>
        <code class="html">
&lt;p class=&quot;text-lowercase&quot;&gt;Lowercase text.&lt;/p&gt;
&lt;p class=&quot;text-uppercase&quot;&gt;Upperscase text.&lt;/p&gt;
&lt;p class=&quot;text-capitalize&quot;&gt;Capitalized text.&lt;/p&gt;
        </code>
      </pre>
    </section>
