<section class="pl-section" id="inlineForm">
  <h3><a href="#staticText">Inline Forms</a></h3>
  <p>Use <code>.inline-form</code> to display labels and form inputs on a single row. This is useful for confirmation dialogs that offer additional options (e.g. delete a database, but create a backup before it's deleted).</p>

  <div class="pl-example">
    {{> forms/examples/inline }}
  </div>
  <pre>
    <code class="html">
&lt;form class=&quot;form-inline&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;inputEmail&quot;&gt;email&lt;/label&gt;
      &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;inputEmail&quot; placeholder=&quot;email&quot;&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;toggle&gt;&lt;/toggle&gt;
  &lt;/div&gt;
  &lt;div class=&quot;checkbox&quot;&gt;
    &lt;label&gt;
      &lt;input type=&quot;checkbox&quot;&gt; remember me
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;div class=&quot;radio&quot;&gt;
    &lt;label&gt;
      &lt;input type=&quot;radio&quot;&gt; radio me
    &lt;/label&gt;
  &lt;/div&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot;&gt;sign in&lt;/button&gt;
&lt;/form&gt;
    </code>
  </pre>

</section>
