<div class="action-area">
	<ol class="action-toolbar-left" data-bind="widget: 'overflowMenu'">
		<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-play'></svg> start</a></li>
		<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-stop'></svg> stop</a></li>
		<li><a href="#" class="disabled"><svg class="cyclops-icon"><use xlink:href='#icon-stop'></svg> disabled</a></li>
			<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-refresh'></svg> restart</a></li>
			<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-archive'></svg> archive</a></li>
			<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-snapshot'></svg> snapshot</a></li>
			<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-disaster-recovery'></svg> recovery</a></li>
	</ol>

	<ol class="action-toolbar-right">
		<li><a href="#"><svg class="cyclops-icon"><use xlink:href='#icon-settings'></svg> settings</a></li>
	</ol>
</div>
