<div class="alert alert-instruction" role="alert">
	<div class="alert-icon">
		<svg class="cyclops-icon"><use xlink:href='#icon-plus-circle'></svg>
	</div>
	<h4>Instructions or Helpful Info!</h4>
	<p>This is a helpful message.</p>
</div>
<div class="alert alert-success" role="alert">
	<div class="alert-icon">
		<svg class="cyclops-icon"><use xlink:href='#icon-plus-circle'></svg>
	</div>
	<h4>Success!</h4>
	<p>This is a successful message.</p>
</div>
<div class="alert alert-info" role="alert">
	<div class="alert-icon">
		<svg class="cyclops-icon"><use xlink:href='#icon-info-circle'></svg>
	</div>
	<h4>Helpful Information!</h4>
	<p>This alert should be used to display information that isn't inherently obvious.</p>
</div>
<div class="alert alert-warning" role="alert">
	<div class="alert-icon">
		<svg class="cyclops-icon"><use xlink:href='#icon-exclamation-circle'></svg>
	</div>
	<h4>Warning!</h4>
	<p>This is a warning message.</p>
</div>
<div class="alert alert-danger" role="alert">
	<div class="alert-icon">
		<svg class="cyclops-icon"><use xlink:href='#icon-ban'></svg>
	</div>
	<h4>Danger!</h4>
	<p>This message is important and may have a major impact.</p>
</div>
<div class="alert alert-info" role="alert">
	<p>A message with a button.</p>
	<p><button class="btn btn-default"><svg class="cyclops-icon"><use xlink:href='#icon-plus-circle'></svg> button</button></p>
</div>

<div class="alert alert-warning" role="alert">
	<h1>H1 Headline</h1>
	<p>This is a helpful message.</p>
</div>

<div class="alert alert-warning" role="alert">
	<h2>H1 Headline</h2>
	<p>This is a helpful message.</p>
</div>

<div class="alert alert-warning" role="alert">
	<h3>H3 Headline</h3>
	<p>This is a helpful message.</p>
</div>

<div class="alert alert-warning" role="alert">
	<h4>H4 Headline</h4>
	<p>This is a helpful message.</p>
</div>
