<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="{{block "logoURL"}}" alt="CenturyLink" />
			</a>
			<a class="navbar-service" href="/">Control Portal</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">

			<!-- Link back to the Control Portal, and give a sign out link -->
			<ul class="nav navbar-nav navbar-right navbar-account">
        <!-- <li class="dropdown">
					<a href="#" role="button"><svg class="cyclops-icon"><use xlink:href='#icon-settings'></svg> <svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg></a>
					<ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Settings</a></li>
						<li><a href="#">Users</a></li>
            <li><a href="#">Sub Accounts</a></li>
            <li><a href="#">Permissions</a></li>
            <li><a href="#">Notifications</a></li>
            <li><a href="#">Service Catalog</a></li>
            <li><a href="#">API</a></li>
						<li><a href="#">Tickets</a></li>
  						<li><a href="#">Contact Info</a></li>
					</ul>
				</li> -->
        <li class="dropdown">
					<a href="#" role="button">trent.anderson <svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Your Profile</a></li>
						<li><a href="#">Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
