<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="{{block "logoURL"}}" alt="CenturyLink" />
			</a>
			<a class="navbar-service" href="/">Service Name</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">Link <span class="sr-only">(current)</span></a></li>
				<li class="dropdown">
					<a href="#">
						Link
						<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">sub link 1</a></li>
						<li class="active"><a href="#">sub link 2</a></li>
						<li><a href="#">sub link 3</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">sub link 4</a></li>
					</ul>
				</li>
			</ul>
			<!-- Link back to the Control Portal, and give a sign out link -->
			<ul class="nav navbar-nav navbar-right navbar-account">
				<li><a href="https://control.ctl.io">Control Portal</a></li>
				<li><a href="#" class="navbar-link">Sign Out</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
