<div class="pricingContainer">
	<div id="costEstimate">
		<h5 class="content-header">ESTIMATED COST AS CONFIGURED</h5>
		<div class="costMonthly">$75.29</div>
		<div class="heading">PER MONTH</div>
		<div class="costHourly">$0.10</div>
		<div class="heading">PER HOUR</div>
	</div>
	<div id="costBreakdown">
		<div class="lineItem">
			<div class="title">2 CPUs</div>
			<div class="costDisplay">(~$0.02/hr)</div>
		</div>
		<div class="lineItem">
			<div class="title">4GB Memory</div>
			<div class="costDisplay">(~$0.06/hr)</div>
		</div>
		<div class="lineItem">
			<div class="title">100GB Storage</div>
			<div class="costDisplay">(~$0.02/hr)</div>
		</div>
	</div>
</div>
