<div class="row">
	<div id="priceEstimateContainer">
		<div id="priceEstimate">
			<h5 class="content-header">COST ESTIMATE AS CONFIGURED</h5>
			<div class="cost-value">$75.29</div>
			<div class="cost-interval">PER MONTH</div>
			<div class="cost-value">$0.10</div>
			<div class="cost-interval">PER HOUR</div>
		</div>
		<div id="priceBreakdown" class="hidden-xs-down">
			<div class="line-item">
				<div class="line-item-display">2 CPUs</div>
				<div class="line-item-cost">(~$0.02/hr)</div>
			</div>
			<div class="line-item">
				<div class="line-item-display">4GB Memory</div>
				<div class="line-item-cost">(~$0.06/hr)</div>
			</div>
			<div class="line-item">
				<div class="line-item-display">100GB Storage</div>
				<div class="line-item-cost">(~$0.02/hr)</div>
			</div>
		</div>
	</div>
	<div id="createFormContainer">
		...
	</div>
</div>
