<ol class="queue">
	<li class="running">
		<div class="status-bar"><svg class="cyclops-icon" title="queued"><use xlink:href='#icon-ellipsis'></svg></div>
		<a href="./job.html">
			<div class="details">
				<div class="col col-100">
					<div class="title">Inline Playbook Test</div>
					<div><svg class="cyclops-icon"><use xlink:href='#icon-user'></svg> Chris Kent</div>
					<div><svg class="cyclops-icon"><use xlink:href='#icon-clock'></svg> &mdash;</div>
					<div><svg class="cyclops-icon"><use xlink:href='#icon-calendar'></svg> &mdash;</div>
				</div>
			</div>
		</a>
	</li>
	<li class="running">
		<div class="status-bar"><svg class="cyclops-icon" title="queued"><use xlink:href='#icon-ellipsis'></svg></div>
		<a href="./job.html">
			<div class="details">
				<div class="col col-100">
					<div class="title">Redhat Linux Hyperscale Server</div>
					<div><svg class="cyclops-icon"><use xlink:href='#icon-user'></svg> Shan Sundaram </div>
					<div><svg class="cyclops-icon"><use xlink:href='#icon-clock'></svg> &mdash;</div>
					<div><svg class="cyclops-icon"><use xlink:href='#icon-calendar'></svg> &mdash;</div>
				</div>
			</div>
		</a>
	</li>
	<li class="error">
		<div class="status-bar"><svg class="cyclops-icon success" title="running"><use xlink:href='#icon-play'></svg></div>
		<a href="./job.html">
			<div class="details">
				<div class="col col-100">
				<div class="title">Nodejs Server</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-user'></svg> Chris Kent</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-clock'></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-calendar'></svg> 2 hours ago </div>
			</div>
		</div>
		</a>
	</li>
	<li class="success">
		<div class="status-bar"><svg class="cyclops-icon success" title="success"><use xlink:href='#icon-check-circle'></svg></div>
		<a href="./job.html">
			<div class="details">
				<div class="col col-100">
				<div class="title">Nodejs Server</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-user'></svg> Chris Kent</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-clock'></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-calendar'></svg> 3 hours ago </div>
			</div>
		</div>
		</a>
	</li>
	<li class="success">
		<div class="status-bar"></div>
		<a href="./job.html">
			<div class="status-bar"><svg class="cyclops-icon success" title="stopped"><use xlink:href='#icon-stop'></svg></div>
			<div class="details clearfix">
				<div class="col col-100">
				<div class="title">Redhat Linux Hyperscale Server</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-user'></svg> Shan Sundaram</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-clock'></svg> 23 min 30 sec</div>
				<div><svg class="cyclops-icon"><use xlink:href='#icon-calendar'></svg> 5 hours ago</div>
			</div>
		</div>
		</a>
	</li>
</ol>
