<h1>H1 Heading <span class="tag tag-default">Tag</span></h1>
<h2>H2 Heading <span class="tag tag-default">Tag</span></h2>
<h3>H3 Heading <span class="tag tag-default">Tag</span></h3>
<h4>H4 Heading <span class="tag tag-default">Tag</span></h4>
<h5>H5 Heading <span class="tag tag-default">Tag</span></h5>
<h6>H6 Heading <span class="tag tag-default">Tag</span></h6>
<p>Paragraph <span class="tag tag-default">Tag</span></p>

<p>
  <span class="tag tag-default">default tag</span>
  <span class="tag tag-primary">primary tag</span>
  <span class="tag tag-success">success tag</span>
  <span class="tag tag-info">info tag</span>
  <span class="tag tag-warning">warning tag</span>
  <span class="tag tag-danger">danger tag</span>
</p>

<a href="#" class="tag tag-default">default tag link</a>
<a href="#" class="tag tag-primary">primary tag link</a>
<a href="#" class="tag tag-success">success tag link</a>
<a href="#" class="tag tag-info">info tag link</a>
<a href="#" class="tag tag-warning">warning tag link</a>
<a href="#" class="tag tag-danger">danger tag link</a>
