<h1>H1 Heading <span class="tag tag-default">Tag</span></h1>
<h2>H2 Heading <span class="tag tag-default">Tag</span></h2>
<h3>H3 Heading <span class="tag tag-default">Tag</span></h3>
<h4>H4 Heading <span class="tag tag-default">Tag</span></h4>
<h5>H5 Heading <span class="tag tag-default">Tag</span></h5>
<h6>H6 Heading <span class="tag tag-default">Tag</span></h6>
<p>Paragraph <span class="tag tag-default">Tag</span></p>

<span class="tag tag-default">Default</span>
<span class="tag tag-primary">Primary</span>
<span class="tag tag-info">Info</span>
<span class="tag tag-warning">Warning</span>
<span class="tag tag-danger">Danger</span>
