<ol class="tree tree-with-dividers">
	<li>
		<div class="tree-item">
			<div class="tree-item-status"></div>
			<a class="tree-item-content" href="#">
				<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
				<svg class="cyclops-icon"><use xlink:href='#icon-circle-o'></svg>
				<span>IL1 - US Central (Chicago)</span>
			</a>
		</div>
		<ol class="tree">
			<li>
				<div class="tree-item selected">
					<div class="tree-item-status warning"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg>
						<span>Archive</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status danger"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg>
						<span>Default Group</span>
					</a>
				</div>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
						<svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg>
						<span>Public Platform</span>
					</a>
				</div>
				<ol class="tree">
					<li>
						<div class="tree-item">
							<div class="tree-item-status"></div>
							<a class="tree-item-content" href="#">
								<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg>
								<svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg>
								<span>Sub Group</span>
							</a>
						</div>
						<ol class="tree">
							<li>
								<div class="tree-item">
									<div class="tree-item-status"></div>
									<a class="tree-item-content" href="#">
										<span class="tree-item-icon-spacer"></span>
										<svg class="cyclops-icon"><use xlink:href='#icon-play'></svg>
										<span>Sub Sub Server</span>
									</a>
								</div>
							</li>
						</ol>
					</li>
					<li>
						<div class="tree-item">
							<div class="tree-item-status"></div>
							<a class="tree-item-content" href="#">
								<span class="tree-item-icon-spacer"></span>
								<svg class="cyclops-icon"><use xlink:href='#icon-play'></svg>
								<span>IL1CORPESTEST01</span>
							</a>
						</div>
					</li>
					<li>
						<div class="tree-item">
							<div class="tree-item-status"></div>
							<a class="tree-item-content" href="#">
								<span class="tree-item-icon-spacer"></span>
								<svg class="cyclops-icon"><use xlink:href='#icon-hyperscale'></svg>
								<svg class="cyclops-icon"><use xlink:href='#icon-play'></svg>
								<span>IL1CORPPROD02</span>
							</a>
						</div>
					</li>
					<li>
						<div class="tree-item">
							<div class="tree-item-status"></div>
							<a class="tree-item-content" href="#">
								<span class="tree-item-icon-spacer"></span>
								<svg class="cyclops-icon"><use xlink:href='#icon-bare-metal'></svg>
								<svg class="cyclops-icon"><use xlink:href='#icon-play'></svg>
								<span>Bare Metal Server with Really Long Name</span>
							</a>
						</div>
					</li>
				</ol>
			</li>
			<li>
				<div class="tree-item">
					<div class="tree-item-status"></div>
					<a class="tree-item-content" href="#">
						<span class="tree-item-icon-spacer"></span>
						<svg class="cyclops-icon"><use xlink:href='#icon-folder'></svg>
						<span>Templates</span>
					</a>
				</div>
			</li>
		</ol>
	</li>
</ol>
