{{!< ../layouts/starter-page.html}}

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h1>Hello, world!</h1>
        <p class="lead">This is a basic starter page for your service's user interface.</p>
      </div>
    </div>
  </div>
  <div class="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          {{> starter-pages/list-view }}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    {{> components/examples/activity-history }}
  </div>
</main>
