{{!< ../layouts/starter-page.html}}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="content-header">
        <h1>Hello, world!</h1>
        <p class="lead">This is a basic starter page for your service's user interface.</p>
      </div>
      {{> components/examples/billing-summary-4 }}
    </div>
  </div>
</div>
<div class="primary">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        {{> starter-pages/list-view }}
        {{> components/examples/pagination }}
      </div>
    </div>
  </div>
</div>

{{> starter-pages/activity-history }}
