{{!< ../layouts/starter-page.html}}

<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">
          <h1>Hello, world!</h1>
          <p class="lead">This is a basic starter page for your service's user interface.</p>
        </div>
        {{> components/examples/billing-summary-4 }}
      </div>
    </div>
  </div>
  <div class="primary">
  	<div class="container">
  		<div class="row">
  			<div class="col-sm-12">
          {{> navigation/examples/nav-local }}
          {{> starter-pages/list-view }}

          <div id="alertModal" class="hide">
            <div class="modal fade in" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Install the Monitoring Agent on your server</h4>
                  </div>
                  <div class="modal-body">
                    <div class="alert alert-warning alert-pending">
                      <div class="alert-icon">
                        <svg class="cyclops-icon"><use xlink:href='#icon-exclamation-triangle'></svg>
                      </div>
                      <!-- <h3>Install the Monitoring Agent on your server</h3> -->
                      <p>Use the following CLI command to install the Monitoring Agent on your server. Once installed, the agent will communicate with the monitoring manager and your billing subscription will be activated.</p>
                      <p><code class="hljs nginx">curl https://api.monitoring.ctl.io/scripts/install.sh | sudo CLC_USERNAME=trent.anderson CLC_PASSWORD=password123 CLOUD_PROVIDER=provider HOST_NAME=application-server-1 bash</code></p>
                    </div>
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-default">Close</button>
                  </div> -->
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>

          <div id="formModal" class="">
            <div class="modal fade in" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Register Server</h4>
                  </div>
                  <form id="registerServer" class="form-horizontal">
                    <div class="modal-body">

                      <div class="form-group">
                        <label for="name1" class="col-sm-4 control-label">name</label>
                        <div class="col-sm-8">
                          <input type="text" id="name1" class="form-control" placeholder="&lsquo;application server 1&rsquo;" value="application server 1"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="serverProvider" class="col-sm-4 control-label">provider</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="serverProvider">
                            <option>AWS</option>
                            <option>Digital Ocean</option>
                            <option>Microsoft Azure</option>
                            <option>Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="region" class="col-sm-4 control-label">operating system</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="region">
                            <option>--- select an operating system ---</option>
                            <option>Windows</option>
                            <option>Linux</option>
                          </select>
                        </div>
                      </div>

                      <div class="alert alert-info">
                        <h4>Install the Monitoring Agent on your server</h4>
                        <p>Use the following CLI command to install the Monitoring Agent on your server. Once installed, the agent will communicate with the monitoring manager and your billing subscription will be activated.</p>
                        <p><code class="hljs nginx">curl https://api.monitoring.ctl.io/scripts/install.sh | sudo CLC_USERNAME=trent.anderson CLC_PASSWORD=password123 CLOUD_PROVIDER=provider HOST_NAME=application-server-1 bash</code></p>
                        <p>This command can be retrieved later.</p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="alert alert-info">
                            <div class="alert-icon">
                              <svg class="cyclops-icon"><use xlink:href='#icon-info-circle'></svg>
                            </div>
                            <p>The alert policy will take effect once the Monitoring Agent has been installed.</p>
                          </div>
                          <button type="submit" class="btn btn-primary">register server</button>
                          <a href="./index.html" class="btn btn-link">cancel</a>
                        </div>
                      </div>
                    </div>
                  </form>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> starter-pages/activity-history }}
</main>
<div class="modal-backdrop fade in"></div>
