{{!< ../layouts/starter-page.html}}

<div class="pane-left">
  <div class="pane-header">
    <div class="content">
      <button class="pane-header-btn pane-toggle">browse<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg></button>
      <div class="pane-filters">
        <button class="pane-header-btn">expand</button>
        <button class="pane-header-btn">collapse</button>
        <button class="pane-header-btn"><svg class="cyclops-icon"><use xlink:href='#icon-search'></svg></button>
      </div>
    </div>
  </div>
  {{> components/examples/tree-pane }}
</div>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">
          <h1>WA1CORPDB01</h1>
          <p class="lead">New Navigation Sample</p>
        </div>
        {{> components/examples/billing-summary-3 }}
        <!-- {{> components/examples/tree }} -->
      </div>
    </div>
  </div>

  <div class="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
        {{> list-view/responsive }}
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    {{> components/examples/activity-history }}

  </div>

</main>


{{#contentFor "scripts"}}
<script>
  $(function(){
    $("#WA1CORPDB01").addClass('selected');
    $(".pane-toggle").click(function() {
      $(".pane-left").toggleClass("pane-expanded");
    });

    $(".pane-left").affix();
  });
</script>
{{/contentFor}}
