{{!< ../layouts/starter-page.html}}

<pane params="{items: items, selectedItemId: selectedItemId, loading: loading }"></pane>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">
          <ol class="breadcrumb hidden-md-up">
            <li><a href="index.html">UC1 - US West (Santa Clara)</a></li>
          </ol>
          <h1>QA1WEBSERVER02</h1>
          <p class="lead">New Navigation Sample</p>
        </div>
        {{> components/examples/billing-summary-3 }}
      </div>
    </div>
  </div>

  {{> components/examples/action-toolbar-right }}
  <div class="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          {{> navigation/examples/nav-local }}
          {{> list-view/toolbar }}
          {{> list-view/basic }}
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    {{> components/examples/activity-history }}
  </div>

</main>


{{#contentFor "scripts"}}

<script>
  $(function(){
    var ViewModel = function(){
      var self = this;
      self.loading = ko.observable(true);
      self.items = [
        { id: "qa1", name: "QA1 - US West (Bellevue)", href: "#/qa1", items: ko.observableArray([]), icons: ko.observableArray(["#icon-circle-o"]) },
        { id: "qa3", name: "[Private] QA3 - US West (Spokane)", href: "#/qa3", items: ko.observableArray([]), icons: ko.observableArray(["#icon-circle-o"]) }
      ]
      self.selectedItemId = ko.observable("QA1WEBSERVER02")
      return self;
    };


    var model = new ViewModel();

    // QA1 loading
    setTimeout(function(){
      var qa1 = model.items[0]
      qa1.items.push({
        href: "#/qa1/123",
        id: "123",
        name: "Default Group",
        icons: ['#icon-folder'],
        items: [
          {
            href: "#/qa1/123/QA1DEVSERVER01",
            id: "QA1DEVSERVER01",
            icons: ["#icon-play"],
            name: "QA1DEVSERVER01"
          },
          {
            href: "#/qa1/123/QA1DEVSERVER02",
            id: "QA1DEVSERVER02",
            icons: ["#icon-stop"],
            name: "QA1DEVSERVER01"
          }
        ]
      });
      qa1.items.push({
        href: "#/qa1/456",
        id: "456",
        name: "Web Servers",
        icons: ['#icon-folder'],
        items: [
          {
            href: "#/qa1/123/QA1WEBSERVER01",
            id: "QA1WEBSERVER01",
            icons: ["#icon-bare-metal", "#icon-play"],
            name: "QA1WEBSERVER01"
          },
          {
            href: "#/qa1/123/QA1WEBSERVER02",
            id: "QA1WEBSERVER02",
            icons: ["#icon-bare-metal", "#icon-play"],
            name: "QA1WEBSERVER02"
          }
          ,
          {
            href: "#/qa1/123/QA1WEBSERVER03",
            id: "QA1WEBSERVER03",
            icons: ["#icon-play"],
            name: "QA1WEBSERVER03",
            statusClass: "warning"
          }
        ]
      });
      qa1.items.push({
        href: "#/qa1/789",
        id: "789",
        name: "Database Servers",
        icons: ['#icon-folder']
      });
      qa1.icons(["#icon-dot-circle-o"]);
      if(model.loading())
        model.loading(false);
    }, Math.floor(Math.random() * 5000) + 1 );

    // QA2 loading
    setTimeout(function(){
      var qa2 = model.items[1]
      qa2.items.push({
        href: "#/qa2/999",
        id: "999",
        name: "Default Group",
        icons: ['#icon-folder']
      });
      qa2.items.push({
        href: "#/qa2/111",
        id: "111",
        name: "Web Servers",
        icons: ['#icon-folder']
      });
      qa2.icons(["#icon-dot-circle-o"]);
      if(model.loading())
        model.loading(false);
    }, Math.floor(Math.random() * 5000) + 1 );




    ko.applyBindings(model, $("pane")[0]);
    ko.applyBindings({}, $(".action-area")[0]);
  });
</script>
{{/contentFor}}
