{{!< ../layouts/starter-page.html}}

<pane params="{items: items, selectedId: selctedItemId}"></pane>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">
          <h1>WA1CORPDB01</h1>
          <p class="lead">New Navigation Sample</p>
        </div>
        {{> components/examples/billing-summary-3 }}
        <!-- {{> components/examples/tree }} -->
      </div>
    </div>
  </div>

  <div class="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
        {{> list-view/responsive }}
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    {{> components/examples/activity-history }}

  </div>

</main>


{{#contentFor "scripts"}}
<script>
  $(function(){
    var ViewModel = function(){
      var self = this;
      self.items = ko.observableArray([
        {
          name: "Default Group",
          icons: ['#icon-folder'],
          href: "#123",
          id: "123",
          items: [
            {
              href: "#123-1",
              id: "123-1",
              icons: ["#icon-bare-metal", "#icon-play"],
              name: "QA1DEVSERVER01",
              displayName: "Matthew's Server",
              state: "stopped"
            },
            {
              href: "#123-2",
              id: "123-2",
              name: "QA1DEVSERVER02",
              displayName: "Nathan's Server",
              state: "started"
            }
          ]
        },
        {
          name: "Database Servers",
          icons: ['#icon-folder'],
          href: "#456",
          id: "456",
          items: [
            {
              href: "#456-1",
              id: "456-1",
              name: "QA1DEVDB01",
              displayName: "Primary DB",
              description: "The Primary Database Server",
              state: "started"
            },
            {
              href: "#456-2",
              id: "456-2",
              name: "QA1DEVDB02",
              displayName: "Failover DB",
              description: "The Failouver Database Server",
              state: "started"
            }
          ]
        },
        {
          href: "#789",
          id: "789",
          name: "A Simple Group",
          icons: ['#icon-folder'],
          statusClass: 'warning'
        },
        {
          href: "#000",
          id: "000",
          name: "trash",
          type: "trash",
          icons: ['#icon-folder'],
          statusClass: 'danger'
        }
      ]);

      self.selctedItemId = ko.observable("123")
      return self;
    };


    var model = new ViewModel();
    
    setTimeout(function(){
      model.selctedItemId('456');
    }, 5000);

    // setTimeout(function(){
    //   var group = { name: "foo", icon: ko.observable('#icon-refresh'), items: ko.observableArray([]) };
    //   model.items.push(group)
    //   setTimeout(function(){
    //     group.items.push({ name: "A Simple server"})
    //     group.icon('#icon-folder')
    //   }, 6000)
    // }, 2000);

    ko.applyBindings(model, $("pane")[0]);
  });
</script>
{{/contentFor}}
