{{!< ../layouts/starter-page.html}}
<div class="pane-left">
  <div class="pane-header">
    <div class="content">
      <button class="pane-header-btn pane-toggle">browse<svg class="cyclops-icon"><use xlink:href='#icon-caret-down'></svg></button>
      <div class="pane-filters">
        <button class="pane-header-btn">expand</button>
        <button class="pane-header-btn">collapse</button>
        <button class="pane-header-btn"><svg class="cyclops-icon"><use xlink:href='#icon-search'></svg></button>
      </div>
    </div>
  </div>
  {{> components/examples/tree-pane }}
</div>

<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">
          <h1><svg class="cyclops-icon"><use xlink:href='#icon-logo-microsoft'></svg> Azure Database</h1>
          <p class="lead">A user enter description of the machine</p>
        </div>
        {{> components/examples/billing-summary-3 }}
      </div>
    </div>
  </div>

  <div class="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Simple Backup</h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <span class="h2">15</span><br>restoration points
                    </div>
                    <div class="col-lg-6">
                      <span class="h2">456</span><br>GB of storage
                    </div>
                  </div>
                  <p></p>
                  <a href="#" class="btn btn-primary">Manage</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <div class="card-block">
                  <h3 class="card-title">Monitoring &amp; Alerting</h3>
                  <div class="row">
                    <div class="col-lg-6">
                      <span class="h2">2</span><br>Policies
                    </div>
                    <div class="col-lg-6">
                      <span class="h2">0</span><br>Alerts Triggered
                    </div>
                  </div>
                  <p></p>
                  <a href="#" class="btn btn-primary">Manage</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Additional Services</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-enable">
                <div class="card-block">
                  <h3 class="card-title">Intrusion Prevention</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus ac arcu bibendum rutrum a a arcu.</p>
                  <a href="#" class="btn btn-default">Enable</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-enable">
                <div class="card-block">
                  <h3 class="card-title">Firewall</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus ac arcu bibendum rutrum a a arcu.</p>
                  <a href="#" class="btn btn-default">Enable</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-enable">
                <div class="card-block">
                  <h3 class="card-title">Runner</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus ac arcu bibendum rutrum a a arcu.</p>
                  <a href="#" class="btn btn-default">Enable</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-enable">
                <div class="card-block">
                  <h3 class="card-title">Netx</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus ac arcu bibendum rutrum a a arcu.</p>
                  <a href="#" class="btn btn-default">Enable</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-enable">
                <div class="card-block">
                  <h3 class="card-title">Managed OS</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in lacus ac arcu bibendum rutrum a a arcu.</p>
                  <a href="#" class="btn btn-default">Enable</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    {{> components/examples/activity-history }}
  </div>

</main>


{{#contentFor "scripts"}}
<script>
  $(function(){
    $("#azure").addClass('selected');
    $(".pane-toggle").click(function() {
      $(".pane-left").toggleClass("pane-expanded");
    });

    $(".pane-left").affix();
  });
</script>
{{/contentFor}}
