{{!< ../layouts/starter-page.html}}

<left-nav params=""></left-nav>

<div class="pane-left">
  <div class="pane-header">
    <div class="content">
      <a class="filter active" href="#" role="button">all</a>
      <a href="#" role="button" class="filter">active</a>
      <a href="#" role="button" class="filter">errored</a>
      <a href="#" role="button" class="filter"><svg class="cyclops-icon"><use xlink:href='#icon-search'></svg></a>
      <a href="#" role="button" class="pull-right" title="Collapse Pane"><svg class="cyclops-icon"><use xlink:href='#icon-chevron-left'></svg></a>
    </div>
    <div class="filter-window">
      <i class="pull-right fa fa-times"></i>
      <input type="text">
    </div>
  </div>
  <ol class="queue queue-in-pane">
  {{> components/examples/queue-data }}
  </ol>
</div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="content-header">
          <h1>Queue</h1>
        </div>
        <ol class="queue queue-responsive">
        {{> components/examples/queue-data }}
        </ol>
      </div>
    </div>
  </div>
