<nav class="navbar navbar-local">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed">
			Menu <svg class="cyclops-icon"><use xlink:href='#icon-caret-down' /></svg>
		</button>
	</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="#navLocal">Events</a></li>
			<li class="active dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#navLocal" role="button" aria-haspopup="true" aria-expanded="false">Policies <svg class="cyclops-icon"><use xlink:href='#icon-caret-down' /></svg></a>
				<ul class="dropdown-menu">
					<li class="active"><a href="#navLocal">Alert</a></li>
					<li><a href="#navLocal">Suppression</a></li>
				</ul>
			</li>
			<li><a href="#navLocal">Integrations</a></li>
			<li class="disabled"><a href="#navLocal">Disabled</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#navLocal" role="button" aria-haspopup="true" aria-expanded="false">Settings <svg class="cyclops-icon"><use xlink:href='#icon-caret-down' /></svg></a>
				<ul class="dropdown-menu">
					<li><a href="#navLocal">Profile</a></li>
					<li><a href="#navLocal">Account</a></li>
					<li><a href="#navLocal">Billing</a></li>
					<li><a href="#navLocal">Notifications</a></li>
					<li><a href="#navLocal">SSH Keys</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
