<style>

	.navbar-local--persistent {
		position: sticky;
		top: 0;
	}

</style>

<nav class="navbar navbar-local navbar-local--persistent navbar-inverse">
	<ul class="nav navbar-nav" data-bind="widget: {name: 'overflowMenu', options: {linkTextAll: 'MENU'}}">
		<li class="logo">
			<a href="./pane.html"><svg class="cyclops-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-runner"></use>
      </svg></a>
		</li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Manual Jobs</a></li>
		<li><a href="#">Schedules</a></li>
		<li><a href="#">History</a></li>
		<li><a href="#">Settings</a></li>
		<li class="active"><a href="#">Help</a></li>
	</ul>
	<div class="navbar-local-right"><a href="#" class="btn btn-success navbar-btn"><svg class="cyclops-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-plus-circle"></use></svg><span class="sr-only">create</span> item</a></div>
</nav>

{{#contentFor "scripts"}}

<script>

	$(function(){
		ko.applyBindings({}, $('.navbar-local--persistent')[0]);
	})

</script>

{{/contentFor}}
