<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="https://assets.ctl.io/images/centurylink-logo-white.svg" alt="CenturyLink" />
      </a>
      <a class="navbar-service" href="/">Control Portal</a>

      <div id="navbar-services">
        <global-services-menu-button
          data-services="CAM MH MS CLC DCC"
          data-current-service="MH"
          onclick="checkVisibility()">
        </global-services-menu-button>
      </div>
    </div>

    <!-- Support and sign out links -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right navbar-account">
        <li class="dropdown">
          <global-menu-support
            data-create-ticket-url="https://managedservices.ctl.io/msp/oauth/login?state=request"
            data-support-center-url="https://managedservices.ctl.io/msp/oauth/login"
            data-knowledge-base-url="https://www.ctl.io/knowledge-base/"
            data-feedback-url="http://centurylinkcloud.uservoice.com"
            data-status-url="https://status.ctl.io">
          </global-menu-support>
        </li>
        <li class="dropdown">
          <a href="#" role="button">trent.anderson <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Your Profile</a></li>
            <li><button>Sign Out</button></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<global-menu-container class="hidden"></global-menu-container>

<script>
  function checkVisibility() {
    var globalServicesMenu = document.querySelector('global-services-menu-button');
    var globalMenuContainer = document.querySelector('global-menu-container');

    var body = document.body,
      html = document.documentElement;

    var height = Math.max( body.scrollHeight, body.offsetHeight,
      html.clientHeight, html.scrollHeight, html.offsetHeight );

    console.log(height);
    globalMenuContainer.style.height = height + 'px';

    if (globalServicesMenu.classList.contains("open"))
    {
      globalMenuContainer.classList.add("hidden");
    } else {
      globalMenuContainer.classList.remove("hidden");
    }
  }
</script>

