<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/img/logo-centurylink.png" alt="CenturyLink" />
			</a>
			<a class="navbar-service" href="/">Control Portal</a>
		</div>

<!-- Support and sign out links -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right navbar-account">
				<li class="dropdown">
					<a href="#" role="button"><span class="sr-only">help and support links</span><svg class="cyclops-icon support"><use xlink:href='#icon-question-circle' /></svg> <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Open Support Ticket</a></li>
						<li><a href="#">Chat with Support</a></li>
						<li><a href="https://www.ctl.io/knowledge-base">Knowledge Base</a></li>
						<li><a href="https://www.ctl.io/api-docs">API Documentation</a></li>
						<li><p class="dropdown-text">1.877.388.4373</p></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Submit a Feature Idea</a></li>
					</ul>
					</li>
        <li class="dropdown">
					<a href="#" role="button">trent.anderson <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg></a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#">Your Profile</a></li>
						<li><button>Sign Out</button></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
