<section class="pl-section" id="customPickers">
  <h3 id="customPicker"><a href="#customPicker">Custom Pickers</a></h3>
  <p>Below are examples of extending radio or checkbox inputs to look and behave more like buttons by using cards to represent selectable items. This allows selectable options to comprise of text and imagery as a selectable unit (rather than text only), all while maintaining keyboard accessibility. Depending on the form and content of the options, your final implementation may require more styling to adjust for different widths and heights.</p>

  <h4 id="customSinglePicker"><a href="#customSinglePicker">Single-Select Picker</a></h4>
  <p>The following example is for scenarios when one option may be chosen.</p>
  <div class="pl-example">
    {{> forms/examples/input-picker-single}}
  </div>
  <pre>
    <code class="html">
&lt;!-- single-select (radio) --&gt;
&lt;div class=&quot;custom-picker&quot;&gt;
  &lt;label for=&quot;radio1&quot; class=&quot;control&quot;&gt;
    &lt;input id=&quot;radio1&quot; checked name='radioOptions' type=&quot;radio&quot; value=&quot;centurylink&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-home' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Single-Select Option 1&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
  &lt;label for=&quot;radio2&quot; class=&quot;control&quot;&gt;
    &lt;input id=&quot;radio2&quot; name=&quot;radioOptions&quot; type=&quot;radio&quot; value=&quot;2&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-database' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Single-Select Option 2&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
  &lt;label for=&quot;radio3&quot; class=&quot;control&quot; &gt;
    &lt;input id=&quot;radio3&quot; name=&quot;radioOptions&quot; type=&quot;radio&quot; value=&quot;3&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-global-network' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Single-Select Option 3&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
  &lt;label for=&quot;radio4&quot; class=&quot;control&quot;&gt;
    &lt;input id=&quot;radio4&quot; name=&quot;radioOptions&quot; type=&quot;radio&quot; value=&quot;4&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-infrastructure' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Single-Select Option 4&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
&lt;/div&gt;
    </code>
  </pre>

  <h4 id="customMultiPicker"><a href="#customMultiPicker">Multi-Select Picker</a></h4>
  <p>The following example is for scenarios when more than one option may be chosen.</p>
  <div class="pl-example">
    {{> forms/examples/input-picker-multi}}
  </div>
  <pre>
    <code class="html">
&lt;!-- multi-select (checkboxes) --&gt;
&lt;div class=&quot;custom-picker&quot;&gt;
  &lt;label for=&quot;checkbox1&quot; class=&quot;control&quot;&gt;
    &lt;input id=&quot;checkbox1&quot; checked name='provider' type=&quot;checkbox&quot; value=&quot;1&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-home' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Multi-Select Option 1&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
  &lt;label for=&quot;checkbox2&quot; class=&quot;control&quot;&gt;
    &lt;input id=&quot;checkbox2&quot; checked name=&quot;provider&quot; type=&quot;checkbox&quot; value=&quot;2&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-database' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Multi-Select Option 2&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
  &lt;label for=&quot;checkbox3&quot; class=&quot;control&quot; &gt;
    &lt;input id=&quot;checkbox3&quot; name=&quot;provider&quot; type=&quot;checkbox&quot; value=&quot;3&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-global-network' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Multi-Select Option 3&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
  &lt;label for=&quot;checkbox4&quot; class=&quot;control&quot;&gt;
    &lt;input id=&quot;checkbox4&quot; name=&quot;provider&quot; type=&quot;checkbox&quot; value=&quot;4&quot;&gt;
    &lt;div class=&quot;card card-block hover-shadow hover-pointer&quot;&gt;
      &lt;svg class=&quot;cyclops-icon md&quot; aria-hidden=&quot;true&quot;&gt;&lt;use xlink:href='#icon-infrastructure' /&gt;&lt;/svg&gt;
      &lt;h5&gt;Multi-Select Option 4&lt;/h5&gt;
    &lt;/div&gt;
  &lt;/label&gt;
&lt;/div&gt;
    </code>
  </pre>
</section>
