<section class="pl-section" id="customControls">
  <h3><a href="#customControls">Custom Controls</a></h3>
  <p>
    For more complex controls that require more than simple HTML markup we use
    <a href="http://knockoutjs.com/documentation/component-overview.html">Knockout
    Components</a>. This means that in order for these to work the element, or a parent
    element, must have bindings applied. These self contained &quot;controls&quot; makes them
    easy to consume but provides a rich user experience.
  </p>
  <h4 id="toggle">
    <a href="#toggle">Toggle</a>
    <a href="./knockoutComponents.html#toggle"><svg class="cyclops-icon"><use xlink:href='#icon-api'></svg></a>
  </h4>
  <div class="pl-example" id="formToggle">
    {{> forms/examples/custom-controls-toggle }}
  </div>
  <pre>
    <code class="html">
  &lt;toggle params=&quot;value: value, disabled: disabled, affirmativeText: 'yes', negativeText: 'no'&quot;&gt;&lt;/toggle&gt;
    </code>
  </pre>


  <h4 id="sliders">
    <a href="#sliders">Sliders</a>
    <a href="./knockoutComponents.html#slider"><svg class="cyclops-icon"><use xlink:href='#icon-api'></svg></a>
  </h4>
  <div class="pl-example">
    {{> forms/examples/custom-controls-slider }}
  </div>
  <pre>
    <code class="html">
  &lt;slider params=&quot;value: 6, min: 1, max: 16&quot;&gt;&lt;/slider&gt;    &lt;!-- CPU --&gt;
  &lt;slider params=&quot;value: 4, min: 1, max: 128&quot;&gt;&lt;/slider&gt;   &lt;!-- Memory --&gt;
  &lt;slider params=&quot;value: 50, min: 1, max: 1024&quot;&gt;&lt;/slider&gt; &lt;!-- Disk --&gt;
    </code>
  </pre>



  <h4 id="groupPicker">
    <a href="#groupPicker">Group Picker</a>
    <a href="./knockoutComponents.html#groupPicker"><svg class="cyclops-icon"><use xlink:href='#icon-api'></svg></a>
  </h4>
  <div class="pl-example">
    {{> forms/examples/custom-controls-group-picker }}
  </div>
  <pre>
    <code class="html">
  &lt;group-picker params=&quot;{ selectedGroup: selectedGroup, isLoading: isLoading, groups:groups}&quot;&gt;&lt;/group-picker&gt;

    </code>
  </pre>


  <h4 id="serverPicker">
    <a href="#serverPicker">Server Picker</a>
    <a href="./knockoutComponents.html#serverPicker"><svg class="cyclops-icon"><use xlink:href='#icon-api'></svg></a>
  </h4>
  <div class="pl-example">
    <form id="formServerPicker" class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-3 control-label">server(s)</label>
          <div class="col-sm-9">
            <server-picker params="{ selectedServers: selectedServers, multiSelect: multiSelect, isLoading: isLoading, groups: groups}"></server-picker>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <pre>
    <code class="html">
&lt;server-picker params=&quot;{ selectedServers: selectedServers, multiSelect: multiSelect, isLoading: isLoading, groups: groups }&quot;&gt;&lt;/server-picker&gt;
    </code>
  </pre>

  <h4 id="dateTimePicker">
    <a href="#dateTimePicker">Date Time Picker</a>
    <a href="./knockoutComponents.html#dateTimePicker"><svg class="cyclops-icon"><use xlink:href='#icon-api'></svg></a>
  </h4>
  <div class="pl-example">
    <form id="formDateTimePicker" class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
      <fieldset>
        <div class="form-group">
          <label class="col-sm-3 control-label">server TTL</label>
          <div class="col-sm-9">
            <date-time-picker></date-time-picker>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <pre>
    <code class="html">
&lt;date-time-picker params=&quot;dateTime: myDateTime&quot;&gt;&lt;/date-time-picker&gt;
    </code>
  </pre>
</section>
