<section class="pl-section" id="horizontalForm">
  <h3><a href="#horizontalForm">Horizontal Form</a></h3>
  <p>Horizontal forms rely on the <a href="./grid.html">Grid System</a> to align form labels and inputs horizontally. These forms used throughout the Control Portal to create new entities, such as servers, appfog apps, and policies.</p>
  <p>Add a visual separator to the form submission buttons by adding <code>.form-submit</code> to the <code>.form-group</code> container.</p>
  <div class="pl-example">
    {{> forms/examples/horizontal }}
  </div>
  <pre>
    <code class="html">
&lt;form class=&quot;form-horizontal&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;horizontalFormEmail&quot; class=&quot;col-sm-3 control-label&quot;&gt;Email&lt;/label&gt;
    &lt;div class=&quot;col-sm-9&quot;&gt;
      &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;horizontalFormEmail&quot; placeholder=&quot;Email&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;horizontalFormPassword&quot; class=&quot;col-sm-3 control-label&quot;&gt;Password&lt;/label&gt;
    &lt;div class=&quot;col-sm-9&quot;&gt;
      &lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;horizontalFormPassword&quot; placeholder=&quot;Password&quot;&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;div class=&quot;col-sm-offset-3 col-sm-9&quot;&gt;
      &lt;div class=&quot;checkbox&quot;&gt;
        &lt;label&gt;
          &lt;input type=&quot;checkbox&quot;&gt; Remember me
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group form-submit&quot;&gt;
    &lt;div class=&quot;col-sm-offset-3 col-sm-9&quot;&gt;
      &lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Sign in&lt;/button&gt;
      &lt;button class=&quot;btn btn-link&quot;&gt;cancel&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
    </code>
  </pre>
</section>
