<section class="pl-section" id="inputs">
  <h3 id="inputs"><a href="#inputs">Basic Inputs</a></h3>
  <p>Examples of standard form inputs used throughout the Control Portal. Add the <code>.form-control</code> class to each input type to get proper formatting and alignment.</p>

  <h4>Text</h4>
  <div class="pl-example">
      {{> forms/examples/input-text }}
  </div>
  <pre>
    <code class="html">
&lt;input type=&quot;text&quot; class=&quot;form-control&quot; placeholder=&quot;Text Input&quot;&gt;
    </code>
  </pre>

  <h4>Password</h4>
  <p>Examples of standard form inputs used throughout the Control Portal.</p>
  <div class="pl-example">
      {{> forms/examples/input-password }}
  </div>
  <pre>
    <code class="html">
&lt;input type=&quot;password&quot; class=&quot;form-control&quot; placeholder=&quot;Password&quot;&gt;
    </code>
  </pre>

  <h4>Textarea</h4>
  <div class="pl-example">
      {{> forms/examples/input-textarea }}
  </div>
  <pre>
    <code class="html">
&lt;textarea class=&quot;form-control&quot; rows=&quot;3&quot;&gt;&lt;/textarea&gt;
    </code>
  </pre>

  <h4>Checkbox and Radios</h4>
  <div class="pl-example">
    {{> forms/examples/input-checkbox-radio }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;checkbox&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;checkbox&quot; value=&quot;&quot; /&gt; Option 1&lt;/a&gt;
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;checkbox disabled&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;checkbox&quot; value=&quot;&quot; disabled&gt;
    Option two is disabled
  &lt;/label&gt;
&lt;/div&gt;

&lt;div class=&quot;radio&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;optionsRadios&quot; id=&quot;optionsRadios1&quot; value=&quot;option1&quot; checked&gt;
    Option one is this and that&amp;mdash;be sure to include why it&#39;s great
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;radio&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;optionsRadios&quot; id=&quot;optionsRadios2&quot; value=&quot;option2&quot;&gt;
    Option two can be something else and selecting it will deselect option one
  &lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;radio disabled&quot;&gt;
  &lt;label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;optionsRadios&quot; id=&quot;optionsRadios3&quot; value=&quot;option3&quot; disabled&gt;
    Option three is disabled
  &lt;/label&gt;
&lt;/div&gt;
    </code>
  </pre>

  <h4>Select Dropdowns</h4>
  <ul>
    <li>
      If there is only one item in the select options, than that item should automatically be
      selected for the user.
    </li>
    <li>
      If there are multiple items in the list but there is a context for how the user has
      arrived, select the logical choice. For example, a user selects the create server button
      on the WA1 - US West (Seattle) Data Center Overview page, the logical choice for the Data
      Center dropdown would be WA1 - US West (Seattle).
    </li>
    <li>
      If there is no logical defaults then the user should be presented with a contextual
      message that tells them what to do as the first item in the list (e.g. &lsquo;Select a
      Data Center...&rsquo;)
    </li>
  </ul>
  <div class="pl-example">
    {{> forms/examples/input-select }}
  </div>
  <pre>
    <code class="html">
&lt;select class=&quot;form-control&quot;&gt;
&lt;option&gt;1&lt;/option&gt;
&lt;option&gt;2&lt;/option&gt;
&lt;option&gt;3&lt;/option&gt;
&lt;option&gt;4&lt;/option&gt;
&lt;option&gt;5&lt;/option&gt;
&lt;/select&gt;
    </code>
  </pre>
</section>

<section class="pl-section" id="hierarchyPicker">
  <h3><a href="#hierarchyPicker">Hierarchy Picker</a></h3>
  <p>When it is important to display the hierarchy of a collection (e.g. servers, groups, or organizations/accounts) in the selection process, use a hierarchy picker.</p>

  <h4>Single-Select Picker</h4>
  <p>
    If you want to allow the user to only pick one item use radio buttons.
  </p>
  <div class="pl-example">
    {{> forms/examples/input-picker-single }}
  </div>
  <pre>
    <code class="html">
&lt;div class=&quot;picker&quot;&gt;
  &lt;ol&gt;
    &lt;li&gt;
      &lt;label class=&quot;item-hover&quot;&gt;
        &lt;input type=&quot;radio&quot; name=&quot;group&quot;/&gt;
        &lt;span class=&quot;content&quot;&gt;
          &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-folder'&gt;&lt;/svg&gt; &lt;span&gt;Level 1a&lt;/span&gt;
        &lt;/span&gt;
      &lt;/label&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;label class=&quot;item-hover&quot;&gt;
        &lt;input type=&quot;radio&quot; name=&quot;group&quot;/&gt;
        &lt;span class=&quot;content&quot;&gt;
          &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-folder'&gt;&lt;/svg&gt; &lt;span&gt;Level 1b&lt;/span&gt;
        &lt;/span&gt;
      &lt;/label&gt;
      &lt;ol&gt;
        &lt;li&gt;
          &lt;label class=&quot;item-hover&quot;&gt;
            &lt;input type=&quot;radio&quot; name=&quot;group&quot;/&gt;
            &lt;span class=&quot;content&quot;&gt;
              &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-folder'&gt;&lt;/svg&gt; &lt;span&gt;Level 2a&lt;/span&gt;
            &lt;/span&gt;
          &lt;/label&gt;
        &lt;/li&gt;
      &lt;/ol&gt;
    &lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
    </code>
  </pre>



    <h4>Multi-Select Picker</h4>
    <p>
      If you want to allow the user pick many items use checkboxes.
    </p>
    <div class="pl-example">
      {{> forms/examples/input-picker-multi }}
    </div>
    <pre>
      <code class="html">
&lt;div class=&quot;picker&quot;&gt;
  &lt;ol&gt;
    &lt;li&gt;
      &lt;label class=&quot;item-hover&quot;&gt;
        &lt;span class=&quot;content&quot;&gt;
          &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-folder'&gt;&lt;/svg&gt; &lt;span&gt;Default Group&lt;/span&gt;
        &lt;/span&gt;
      &lt;/label&gt;
      &lt;ol&gt;
        &lt;li&gt;
          &lt;label class=&quot;item-hover&quot;&gt;
            &lt;input type=&quot;checkbox&quot;/&gt;
            &lt;span class=&quot;content&quot;&gt;
              &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-play'&gt;&lt;/svg&gt; &lt;span&gt;QA1DEVTEST01&lt;/span&gt;
            &lt;/span&gt;
          &lt;/label&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;label class=&quot;item-hover&quot;&gt;
            &lt;input type=&quot;checkbox&quot;/&gt;
            &lt;span class=&quot;content&quot;&gt;
              &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-play'&gt;&lt;/svg&gt; &lt;span&gt;QA1DEVTEST02&lt;/span&gt;
            &lt;/span&gt;
          &lt;/label&gt;
        &lt;/li&gt;
      &lt;/ol&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;label class=&quot;item-hover&quot;&gt;
        &lt;span class=&quot;content&quot;&gt;
          &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-folder'&gt;&lt;/svg&gt; &lt;span&gt;Web Servers&lt;/span&gt;
        &lt;/span&gt;
      &lt;/label&gt;
      &lt;ol&gt;
        &lt;li&gt;
          &lt;label class=&quot;item-hover&quot;&gt;
            &lt;input type=&quot;checkbox&quot; disabled/&gt;
            &lt;span class=&quot;content&quot;&gt;
              &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-stop'&gt;&lt;/svg&gt; &lt;span&gt;QA1DEVSRVR01&lt;/span&gt;
            &lt;/span&gt;
          &lt;/label&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;label class=&quot;item-hover&quot;&gt;
            &lt;input type=&quot;checkbox&quot;/&gt;
            &lt;span class=&quot;content&quot;&gt;
              &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-play'&gt;&lt;/svg&gt; &lt;span&gt;QA1DEVSRVR02&lt;/span&gt;
            &lt;/span&gt;
          &lt;/label&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;label class=&quot;item-hover&quot;&gt;
            &lt;input type=&quot;checkbox&quot;/&gt;
            &lt;span class=&quot;content&quot;&gt;
              &lt;svg class=&quot;cyclops-icon&quot;&gt;&lt;use xlink:href='#icon-play'&gt;&lt;/svg&gt; &lt;span&gt;QA1DEVSRVR03&lt;/span&gt;
            &lt;/span&gt;
          &lt;/label&gt;
        &lt;/li&gt;

      &lt;/ol&gt;
    &lt;/li&gt;
  &lt;/ol&gt;
&lt;/div&gt;
      </code>
    </pre>


</section>



<section class="pl-section">
  <h3 id="stackedInputs"><a href="#stackedInputs">One Label with Stacked Inputs</a></h3>
  <p>By default, inputs will automatically stack when placed in a single column.</p>
  <div class="pl-example">
    {{> forms/examples/input-stacked-inputs }}
  </div>
  <pre>
    <code class="html">
&lt;form class=&quot;form-horizontal&quot;&gt;
  &lt;fieldset&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;col-sm-3 control-label&quot;&gt;nodes&lt;/label&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;input type=&quot;text&quot; id=&quot;node1&quot; class=&quot;form-control&quot; placeholder=&quot;ip address&quot;&gt;
        &lt;input type=&quot;text&quot; id=&quot;node2&quot; class=&quot;form-control&quot; placeholder=&quot;ip address&quot;&gt;
        &lt;input type=&quot;text&quot; id=&quot;node3&quot; class=&quot;form-control&quot; placeholder=&quot;ip address&quot;&gt;
        &lt;input type=&quot;text&quot; id=&quot;node4&quot; class=&quot;form-control&quot; placeholder=&quot;ip address&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;
    </code>
  </pre>

  <h3 id="adjacentInputs"><a href="#adjacentInputs">One Label with Adjacent Inputs</a></h3>
  <p>When it is more appropriate to adjacently align inputs within a <code>.col-*</code>, add a <code>.w*</code> to the <code>.form-control</code> set the width based on a percentage of the parent. Widths are avaialbe in increments of 10, starting at 10%.</p>
  <div class="pl-example">
    {{> forms/examples/input-adjacent-inputs }}
  </div>
  <pre>
    <code class="html">
&lt;form class=&quot;form-horizontal&quot;&gt;
  &lt;fieldset&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;col-sm-3 control-label&quot;&gt;nodes&lt;/label&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control w70&quot; placeholder=&quot;ip address&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control w30&quot; placeholder=&quot;port&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;
    </code>
  </pre>
</section>
