<section class="pl-section" id="knockoutComponents">
<h3><a href="#KnockoutComponents">Knockout Components</a></h3>
<p>
  For more complex controls that require more than simple HTML markup we use
  <a href="http://knockoutjs.com/documentation/component-overview.html">Knockout
  Components</a>. This means that in order for these to work the element, or a parent
  element, must have bindings applied. These self contained &quot;controls&quot; makes them
  easy to consume but provides a rich user experience.
</p>
<h4 id="toggle">Toggle</h4>
<div class="pl-example" id="formToggle">
  <toggle></toggle>
</div>
<pre>
  <code class="html">
&lt;toggle params=&quot;value: value, disabled: disabled, affirmativeText: 'yes', negativeText: 'no'&quot;&gt;&lt;/toggle&gt;
  </code>
</pre>
<h4>params</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>value</td>
      <td>Boolean | Observable Boolean</td>
      <td>false</td>
      <td>The value of the control true for affirmative and false for negative</td>
    </tr>
    <tr>
      <td>disabled</td>
      <td>Boolean | Observable Boolean</td>
      <td>false</td>
      <td>Is the control disabled</td>
    </tr>
    <tr>
      <td>affirmativeText</td>
      <td>String | Observable String</td>
      <td>yes</td>
      <td>Text displayed when the value is true</td>
    </tr>
    <tr>
      <td>negativeText</td>
      <td>String | Observable String</td>
      <td>no</td>
      <td>Text displayed when the value is false</td>
    </tr>
  </tbody>
</table>

<h4 id="sliders">Sliders</h4>
<p>
  Some common sizes of slider, basically CPU, Memory, and Disks. Not that the tick marks do not show (even if forced to true) for anything over 128. This was a design choice.
</p>
<p>
  In general it would be best practice to also pass in
  <strong>`maxBound`</strong> and
  <strong>`minBound`</strong> set to the platforms maximum allowable values to void issues whens limits have been set. See the above 'complex example' for more details.
</p>
<div class="pl-example">
  <form id="formSlider" class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
    <fieldset>
      <legend>Advanced Controls</legend>
      <div class="form-group">
        <label class="col-sm-3 control-label">slider</label>
        <div class="col-sm-9">
            <slider params="value: 6, min: 1, max: 16"></slider>
            <slider params="value: 4, min: 1, max: 128"></slider>
            <slider params="value: 50, min: 1, max: 1024"></slider>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<pre>
  <code class="html">
&lt;div class=&quot;form-group&quot;&gt;
&lt;label class=&quot;col-sm-3 control-label&quot;&gt;slider&lt;/label&gt;
&lt;div class=&quot;col-sm-9&quot;&gt;
  &lt;slider params=&quot;value: 6, min: 1, max: 16&quot;&gt;&lt;/slider&gt;    &lt;!-- CPU --&gt;
  &lt;slider params=&quot;value: 4, min: 1, max: 128&quot;&gt;&lt;/slider&gt;   &lt;!-- Memory --&gt;
  &lt;slider params=&quot;value: 50, min: 1, max: 1024&quot;&gt;&lt;/slider&gt; &lt;!-- Disk --&gt;
&lt;/div&gt;
&lt;/div&gt;
  </code>
</pre>

<h4>params</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>value</td>
      <td>number | Observable number</td>
      <td>min value</td>
      <td>value selected</td>
    </tr>
    <tr>
      <td>disabled</td>
      <td>Boolean | Observable Boolean</td>
      <td>false</td>
      <td>Is the control disabled</td>
    </tr>
    <tr>
      <td>min</td>
      <td>number | Observable number</td>
      <td>1</td>
      <td>minimum allowed value</td>
    </tr>
    <tr>
      <td>minBound</td>
      <td>number | Observable number</td>
      <td>min value</td>
      <td>Used when globally allowable values are less then current allowed values.</td>
    </tr>
    <tr>
      <td>max</td>
      <td>number | Observable number</td>
      <td>128</td>
      <td>maximun allowed value</td>
    </tr>
    <tr>
      <td>maxBound</td>
      <td>number | Observable number</td>
      <td>min value</td>
      <td>Used when globally allowable values are more then current allowed values.</td>
    </tr>
    <tr>
      <td>shouldShowTicks</td>
      <td>Boolean | Observable Boolean</td>
      <td>true</td>
      <td>show ticks above the slider, Ignored if there is more than 32 steps</td>
    </tr>
  </tbody>
</table>


<h4 id="groupPicker">Group Picker</h4>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur odio ut erat
  consequat placerat. In dictum tellus arcu, eget sagittis lectus imperdiet eu.
</p>
<div class="pl-example">
  <form id="formGroupPicker" class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-3 control-label">Select a Group</label>
        <div class="col-sm-9">
          <group-picker params="{ selectedGroup: selectedGroup, isLoading: isLoading, groups: groups}"></group-picker>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<pre>
  <code class="html">
&lt;form id=&quot;formGroupPicker&quot; class=&quot;form-horizontal&quot; data-bind=&quot;validationOptions: { insertMessages: false, allowHtmlMessages: true }&quot;&gt;
  &lt;fieldset&gt;
    &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;col-sm-3 control-label&quot;&gt;Select a Group&lt;/label&gt;
      &lt;div class=&quot;col-sm-9&quot;&gt;
        &lt;group-picker params=&quot;{ selectedGroup: selectedGroup, isLoading: isLoading, groups: groups}&quot;&gt;&lt;/group-picker&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/fieldset&gt;
&lt;/form&gt;
  </code>
</pre>
<h4>params</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Groups</td>
      <td>Array | ObservableArray</td>
      <td>empty array</td>
      <td>The list of groups, see bellow to see the require property names</td>
    </tr>
    <tr>
      <td>selectedGroup</td>
      <td>group | Observable group</td>
      <td>undefined</td>
      <td>Will be set to the selected group. You can use this to set the starting selected group as well</td>
    </tr>
    <tr>
      <td>isLoading</td>
      <td>boolean | Observable boolean</td>
      <td>false</td>
      <td>Used to decided if the loading message should be shown</td>
    </tr>
    <tr>
      <td>loadingHtmlMessage</td>
      <td>html | Observable html</td>
      <td>Fetching Groups&amp;hellip;</td>
      <td>Message displayed when isLoading is true</td>
    </tr>
    <tr>
      <td>emptyHtmlMessage</td>
      <td>html | Observable html</td>
      <td>No Groups</td>
      <td>Message displayed when isLoading is false, and groups is empty</td>
    </tr>
    <tr>
      <td>shouldShow</td>
      <td>function </td>
      <td>only display group type default</td>
      <td>the default implementation looks at group type and only displays groups that have type 'default' or not type at all.</td>
    </tr>
  </tbody>
</table>

<h4>Assumed Group Properties</h4>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Required</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>name</td>
      <td>string | Observable string</td>
      <td>yes</td>
      <td>name to be displayed</td>
    </tr>
    <tr>
      <td>description</td>
      <td>string | Observable string</td>
      <td>no</td>
      <td>if present it is used as the title for the row</td>
    </tr>
    <tr>
      <td>type</td>
      <td>string | Observable string</td>
      <td>maybe</td>
      <td>if using the default <code>shouldShow</code> function type is required</td>
    </tr>
    <tr>
      <td>groups</td>
      <td>Array | observableArray</td>
      <td>no</td>
      <td>sub groups if not present it is assumed there are none</td>
    </tr>
  </tbody>
</table>


<h4 id="serverPicker">Server Picker</h4>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consectetur odio ut erat
  consequat placerat. In dictum tellus arcu, eget sagittis lectus imperdiet eu.
</p>
<div class="pl-example">
  <form id="formServerPicker" class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-3 control-label">server(s)</label>
        <div class="col-sm-9">
          <server-picker params="{ selectedServers: selectedServers, multiSelect: multiSelect, isLoading: isLoading, groups: groups}"></group-picker>
        </div>
      </div>
    </fieldset>
  </form>
</div>
