<section class="pl-section" id="staticText">
  <h3><a href="#staticText">Static Text</a></h3>
  <p>When you need to place plain text next to a form label within a <a href="#horizontalForm">horizontal form</a>, use the <code>.form-control-static</code> class on a <code>&lt;p&gt;</code>.</p>

  <div class="pl-example">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
          <p class="form-control-static">email@example.com</p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
    </form>
  </div>
  <pre>
    <code class="html">
&lt;p class=&quot;form-control-static&quot;&gt;email@example.com&lt;/p&gt;
    </code>
  </pre>

</section>
