<section class="pl-section" id="validation">
    <h3><a href="#validation">Validation</a></h3>
    <p>
      We suggest using <a href="https://github.com/Knockout-Contrib/Knockout-Validation">
      knockout-validation</a> and have created several bindings and validators that
      will make creating an awesome user experience simple and painless.
    </p>
    <h4>Getting Started</h4>
    <p>
      Becuase we use <a href="https://github.com/Knockout-Contrib/Knockout-Validation">
      knockout-validation</a> we suggest heading over to there wiki and reading the
      <a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Getting-Started">
      Getting Started Guide</a>. Bellow is the set of options, validators, and custom validators.
    </p>


    <h4 id="simpleValidation"><a href="#simpleValidation">Demo</a></h4>
    <p>
      A demo that includes all the options and configuration needed. See the list of native and
      custom validators for more complex validation needs. As a rule of thumb only optional fields
      are marked.
    </p>
    <p>
      <code>ValidationOptions</code> is used to set some common configuration that is needed to
      adhere to out ux guidelines. This can be set on a global level but is not in control due to
      the need for backwards compatablity with &quot;old ui&quot; pages.
    </p>
    <p>
      <code>validationMsg</code> is a custom binding that we created to show error messages that
      follow our ux guidelines without requiring additional work from the developer. Use this
      binding on a <code>p</code> tag to display error messages
    </p>
    <p>
      <code>ko.validation.group</code> is used to select which properties on your
      model will be validated. In general our models tend to have a lot of properties
      (computeds, etc.) that don't need to be tracked for validation so we use validations groups.
      more information about validation groups can be found on the
      <a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Validating-Only-Specific-Observables">
        knockout-validation page</a>
    </p>
    <p>
      <code>showAllMessages</code> is required when using validation groups to tigger the showing
      of error messages for the tracked properties.
    </p>
    <div class="pl-example" id="simpleValidationExample">
      <form class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="header">Header (optional)</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" id="header" data-bind="value: header" >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="requiredText">Message</label>
          <div class="col-sm-6">
            <input class="form-control" type="text" id="requiredText" data-bind="value: text, validationElement: text" >
            <p data-bind="validationMsg: text"></p>
          </div>
        </div>
        <div class="form-group actions">
          <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary" data-bind="click: submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <pre class="show-type">
      <code class="javascript">
self.header = ko.observable();
self.text = ko.observable().extend({
    required: { params: true, message: &quot;some text is required.&quot; },
});
self.errors = ko.validation.group([self.text])
self.submit = function() {
  if (self.errors().length &lt; 1) {
    alert(&quot;The Form is Valid!&quot;);
  } else {
    self.errors.showAllMessages();
  }
};
      </code>
      <code class="html">
&lt;form class=&quot;form-horizontal&quot; data-bind=&quot;validationOptions: { insertMessages: false, allowHtmlMessages: true }&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;col-sm-3 control-label&quot; for=&quot;header&quot;&gt;Header (optional)&lt;/label&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;header&quot; data-bind=&quot;value: header&quot; &gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;col-sm-3 control-label&quot; for=&quot;requiredText&quot;&gt;Message&lt;/label&gt;
    &lt;div class=&quot;col-sm-6&quot;&gt;
      &lt;input class=&quot;form-control&quot; type=&quot;text&quot; id=&quot;requiredText&quot; data-bind=&quot;value: text, validationElement: text&quot; &gt;
      &lt;p data-bind=&quot;validationMsg: text&quot;&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group actions&quot;&gt;
    &lt;div class=&quot;col-sm-offset-3 col-sm-9&quot;&gt;
      &lt;button class=&quot;btn btn-primary&quot; data-bind=&quot;click: submit&quot;&gt;Submit&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
      </code>
    </pre>

    <h4 id="nativeValidators"><a href="#nativeValidators">Native Validators</a></h4>
    <p>
      A full list of navtive validators and their documentation can be found on the knockout-validation
      <a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">
        wiki page</a>.
    </p>
    <ul>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">required</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">min</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">max</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">minLength</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">maxLength</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">pattern</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">step</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">email</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">equal</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">notEqual</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">date</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">dateISO</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">number</a></li>
      <li><a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Native-Rules">digit</a></li>
    </ul>


  <h4 id="customValidators"><a href="#customValidators">Custom Validators</a></h4>
  <p>
    A full list of custom validators and their documentation can be found on the <a href="#">
    validators page</a>.
  </p>
  <ul>
    <li><a href=./validators.html#checked>checked</a></li>
    <li><a href=./validators.html#ipAddress>ipAddress</a></li>
    <li><a href=./validators.html#ipAddressCidr>ipAddressCidr</a></li>
    <li><a href=./validators.html#notEmpty>notEmpty</a></li>
    <li><a href=./validators.html#passwordStrength>passwordStrength</a></li>
    <li><a href=./validators.html#uri>uri</a></li>
  </ul>

  <h4 id="passwordStrength"><a href="#passwordStrength">Password Strength</a></h4>
  <p>
    In addition to the <code>passwordStrength</code> validator we have created a widget (named
    <code>passwordStrength</code>) that should be used in conjuction with the validator to provide
    the end user with realtime information about the strength of their password. More information
    about the options of this widget can be found on the <a href="#">widgets</a> page.
  </p>
  <div class="pl-example" id="passwordStrengthExample">
    <form class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
      <div class="form-group">
          <label class="col-sm-3 control-label" for="password">password</label>
          <div class="col-sm-6">
              <input class="form-control" type="password" id="password" data-bind="value: password, validationElement: password, widget: 'passwordStrength'" >
              <p data-bind="validationMsg: password"></p>
          </div>
      </div>
      <div class="form-group actions">
          <div class="col-sm-offset-3 col-sm-9">
              <button class="btn btn-primary" data-bind="click: submit">Submit</button>
          </div>
      </div>
    </form>
  </div>
  <pre class="show-type">
    <code class="javascript">
self.password = ko.observable().extend({
    required: { params: true, message: "A password is required." },
    passwordStrength: { requiredStrength: 4, dissallowedCharacters: "[}" }
});
self.errors = ko.validation.group([self.password])
self.submit = function() {
  if (self.errors().length < 1) {
    alert("The Password meets the requires strength!");
  } else {
    self.errors.showAllMessages();
  }
};
          </code>
          <code class="html">
  &lt;form class=&quot;form-horizontal&quot; data-bind=&quot;validationOptions: { insertMessages: false, allowHtmlMessages: true }&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
      &lt;label class=&quot;col-sm-3 control-label&quot; for=&quot;password&quot;&gt;password&lt;/label&gt;
      &lt;div class=&quot;col-sm-6&quot;&gt;
          &lt;input class=&quot;form-control&quot; type=&quot;password&quot; id=&quot;password&quot; data-bind=&quot;value: password, validationElement: password, widget: &#39;passwordStrength&#39;&quot; &gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;form-group actions&quot;&gt;
      &lt;div class=&quot;col-sm-offset-3 col-sm-9&quot;&gt;
          &lt;button class=&quot;btn btn-primary&quot;&gt;Submit&lt;/button&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;/form&gt;
    </code>
  </pre>

  <h4 id="remote"><a href="#remote">Remote / Async</a></h4>
  <p>
    Remote validation is done using
    <a href="https://github.com/Knockout-Contrib/Knockout-Validation/wiki/Async-Rules">
    inline async validators</a>. The bellow code example fakes out an AJAX call using
    setTimeout. <code>asyncMessage</code> is a custom binding that was writen to display
    notification to the end user that validation is occuring. This is to be used in conjuction
    with <code>validationMsg</code>. For More information about either of these bindings please
    consult the <a href="./bindings.html">bindings</a> documentation.
  </p>
  <p>
    Additionally it is of note that your validator may be called again before the AJAX call has
    returned so you will need to properly abort the previous call and issue a new one.
  </p>
  <div class="pl-example" id="remoteExample">
    <form class="form-horizontal" data-bind="validationOptions: { insertMessages: false, allowHtmlMessages: true }">
      <div class="form-group">
          <label class="col-sm-3 control-label" for="remoteText">Remotely Validated</label>
          <div class="col-sm-6">
              <textarea class="form-control" type="text" id="remoteText" data-bind="value: remote, validationElement: remote"></textarea>
              <p data-bind="validationMsg: remote"></p>
              <div data-bind="asyncMessage: remote"></div>
          </div>
      </div>
      <div class="form-group actions">
          <div class="col-sm-offset-3 col-sm-9">
              <button class="btn btn-primary" data-bind="click: submit">Submit</button>
          </div>
      </div>
    </form>
  </div>

  <h4 id="compare"><a href="#compare">Compare (confirm password)</a></h4>
  <p>
    When validating a confirm password field it should only show and error message if there is a
    password typed. So you will want to use the <code>onlyIf</code> parameter.
  </p>
  <pre>
    <code class="javascript">
self.confirmPassword.extend({
  required: { message: &quot;Retype the password to confirm.&quot;, onlyIf: self.password },
  equal: { params: self.password, message: &quot;Passwords do not match.&quot; }
});
    </code>
  </pre>
</section>
