<div class="table-responsive">
  <table class="table">
  	<thead>
  		<tr>
  			<th>First Name</th>
  			<th>Last Name</th>
        <th>Username</th>
        <th>Country</th>
        <th>City</th>
        <th>State</th>
        <th>Company</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td>Alyssa</td>
  			<td>Carizzalas</td>
        <td>alyssa.carizzalas</td>
        <td>United States</td>
        <td>Los Angeles</td>
        <td>California</td>
        <td>CenturyLink</td>
  		</tr>
  		<tr>
  			<td>Matthew</td>
  			<td>Osborn</td>
        <td>mosborn</td>
        <td>United States</td>
        <td>Fargo</td>
        <td>North Dakota</td>
        <td>CenturyLink</td>
  		</tr>
  		<tr>
  			<td>Rathromony</td>
  			<td>Ros-Yan</td>
        <td>rathromony.ros</td>
        <td>United States</td>
        <td>Seattle</td>
        <td>Washington</td>
        <td>CenturyLink</td>
  		</tr>
  		<tr>
  			<td>Nathan</td>
  			<td>Young</td>
        <td>nathanyoung</td>
        <td>United States</td>
        <td>Seattle</td>
        <td>Washington</td>
        <td>CenturyLink</td>
  		</tr>
  	</tbody>
  </table>
</div>
