<div class="new-list-view-header">
		<h3 class="col col-25">Header Column 1</h3>
		<h3 class="col col-25">Header Column 2</h3>
		<h3 class="col col-50">Header Column 3</h3>
</div>
<ul class="new-list-view">
	<li>
			<div class="list-view-item">
					<div class="col col-25">Body Column 1</div>
					<div class="col col-25">Body Column 2</div>
					<div class="col col-50">Body Column 3</div>
			</div>
	</li>
	<li>
			<div class="list-view-item">
					<div class="col col-25">Body Column 1</div>
					<div class="col col-25">Body Column 2</div>
					<div class="col col-50">Body Column 3</div>
			</div>
	</li>
</ul>
