
<!-- header of the list -->
<div class="new-list-view-header">
	<div class="col col-10"></div>
	<h3 class="col col-90">Level</h3>
</div>
<!-- body of the list -->
<ul class="new-list-view">
	<li>
		<div class="list-view-editable-item">
			<div class="col col-10"><input type="checkbox" id="checkbox1a"></div>
			<div class="col col-90"><label for="checkbox1a">Level 1a</label></div>
		</div>
	</li>
	<li>
		<div class="list-view-editable-item">
			<div class="col col-10"><input type="checkbox" id="checkbox1b"></div>
			<div class="col col-90"><label for="checkbox1b">Level 1b</label></div>
		</div>
		<ul class="new-list-view">
			<li>
				<div class="list-view-editable-item">
					<div class="col col-10"><input type="checkbox" id="checkbox2a"></div>
					<div class="col col-90 col-indent"><label for="checkbox2a">Level 2a</label></div>
				</div>
				<ul class="new-list-view">
					<li>
						<div class="list-view-editable-item">
							<div class="col col-10"><input type="checkbox" id="checkbox3a"></div>
							<div class="col col-90 col-indent"><label for="checkbox3a">Level 3</label></div>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<div class="list-view-editable-item">
					<div class="col col-10"><input type="checkbox" id="checkbox2b"></div>
					<div class="col col-90 col-indent"><label for="checkbox2b">Level 2b</label></div>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div class="list-view-editable-item">
			<div class="col col-10"><input type="checkbox" id="checkbox1c"></div>
			<div class="col col-90 col-indent"><label for="checkbox1c">Level 1c</label></div>
		</div>
	</li>
</ul>
