<div class="new-list-view-responsive new-list-view-responsive-md">
	{{> list-view/toolbar-border }}
	<div class="new-list-view-header">
			<h3 class="col col-25">First Name</h3>
			<h3 class="col col-25">Last Name</h3>
			<h3 class="col col-50">Username</h3>
	</div>
	<ul class="new-list-view">
		<li>
				<div class="list-view-item">
						<div class="col col-25"><span class="col-header">Account</span>ACME Inc.</div>
						<div class="col col-25"><span class="col-header">Alias</span>ACME</div>
						<div class="col col-50"><span class="col-header">Location</span>US West</div>
				</div>
				<ul class="new-list-view">
					<li>
						<div class="list-view-item">
								<div class="col col-25 col-indent"><span class="col-header">Account</span>ACME Sub 1 Inc.</div>
								<div class="col col-25"><span class="col-header">Alias</span>ACM1</div>
								<div class="col col-50"><span class="col-header">Location</span>US West</div>
						</div>
						<ul class="new-list-view">
							<li>
								<div class="list-view-item">
										<div class="col col-25 col-indent"><span class="col-header">Account</span>ACME 3 Inc.</div>
										<div class="col col-25"><span class="col-header">Alias</span>ACM3</div>
										<div class="col col-50"><span class="col-header">Location</span>US West</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<div class="list-view-item">
								<div class="col col-25 col-indent"><span class="col-header">Account</span>ACME Sub 2 Inc.</div>
								<div class="col col-25"><span class="col-header">Alias</span>ACM2</div>
								<div class="col col-50"><span class="col-header">Location</span>US West</div>
						</div>
					</li>
				</ul>
		</li>
		<li>
				<div class="list-view-item">
						<div class="col col-25"><span class="col-header">Account</span>Rick James Productions</div>
						<div class="col col-25"><span class="col-header">Alias</span>RJP</div>
						<div class="col col-50"><span class="col-header">Location</span>US East</div>
				</div>
		</li>
	</ul>
</div>
