
<div class="new-list-view-toolbar new-list-view-toolbar--border">
	<button class="btn btn-primary"><svg class="cyclops-icon"><use xlink:href='#icon-plus-circle' /></svg> item</button>
	<span class="p-l-xs">1 - 10 of 23 items</span>
	<div class="new-list-view-toolbar-right">
		<button type="button" class="btn btn-outline">button</button>
		<div class="dropdown">
		 <button type="button" class="btn btn-outline">
			 type
			 <svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-caret-down' /></svg>
		 </button>
		 <ul class="dropdown-menu">
			 <li><a href="#">type 1</a></li>
			 <li><a href="#">type 2</a></li>
			 <li><a href="#">type 3</a></li>
		 </ul>
		</div>
		<label class="sr-only" for="inputListViewToolbarBorderFilter">filter input</label>
		<span class="search-input"><input type="text" id="inputListViewToolbarBorderFilter" placeholder="filter list" /><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-search'></use></svg></span>
	</div>
</div>
