<form>
	<div class="form-group">
		<label for="basicFormEmail">Email address</label>
		<input type="email" class="form-control" id="basicFormEmail" placeholder="Email">
	</div>
	<div class="form-group">
		<label for="basicFormPassword">Password</label>
		<input type="password" class="form-control" id="basicFormPassword" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="basicFormFileInput">File input</label>
		<input type="file" id="basicFormFileInput">
		<p class="help-block">Example block-level help text here.</p>
	</div>
	<div class="checkbox">
		<label>
			<input type="checkbox"> Check me out
		</label>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<button class="btn btn-link">cancel</button>
</form>
