<form class="form-horizontal">
	<div class="form-group">
		<label for="horizontalFormEmail" class="col-sm-3 control-label">Email</label>
		<div class="col-sm-9">
			<input type="email" class="form-control" id="horizontalFormEmail" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<label for="horizontalFormPassword" class="col-sm-3 control-label">Password</label>
		<div class="col-sm-9">
			<input type="password" class="form-control" id="horizontalFormPassword" placeholder="Password">
		</div>
	</div>
	<div class="form-group">
		<label for="horizontalFormToggle" class="col-sm-3 control-label">Toggle</label>
		<div class="col-sm-9">
			<toggle></toggle>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<div class="checkbox">
				<label>
					<input type="checkbox"> Remember me
				</label>
			</div>
		</div>
	</div>
	<div class="form-group form-submit">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-default">sign in</button>
			<button class="btn btn-link">cancel</button>
		</div>
	</div>
</form>
