<div class="picker">
	<ol>
		<li>
			<label class="item-hover">
				<span class="content">
					<svg class="cyclops-icon"><use xlink:href='#icon-folder' /></svg> <span>Default Group</span>
				</span>
			</label>
			<ol>
				<li>
					<label class="item-hover">
						<input type="checkbox"/>
						<span class="content">
							<svg class="cyclops-icon"><use xlink:href='#icon-play' /></svg> <span>QA1DEVTEST01</span>
						</span>
					</label>
				</li>
				<li>
					<label class="item-hover">
						<input type="checkbox"/>
						<span class="content">
							<svg class="cyclops-icon"><use xlink:href='#icon-play' /></svg> <span>QA1DEVTEST02</span>
						</span>
					</label>
				</li>
			</ol>
		</li>
		<li>
			<label class="item-hover">
				<span class="content">
					<svg class="cyclops-icon"><use xlink:href='#icon-folder' /></svg> <span>Web Servers</span>
				</span>
			</label>
			<ol>
				<li>
					<label class="item-hover">
						<input type="checkbox" disabled/>
						<span class="content">
							<svg class="cyclops-icon"><use xlink:href='#icon-stop' /></svg> <span>QA1DEVSRVR01</span>
						</span>
					</label>
				</li>
				<li>
					<label class="item-hover">
						<input type="checkbox"/>
						<span class="content">
							<svg class="cyclops-icon"><use xlink:href='#icon-play' /></svg> <span>QA1DEVSRVR02</span>
						</span>
					</label>
				</li>
				<li>
					<label class="item-hover">
						<input type="checkbox"/>
						<span class="content">
							<svg class="cyclops-icon"><use xlink:href='#icon-play' /></svg> <span>QA1DEVSRVR03</span>
						</span>
					</label>
				</li>
			</ol>
		</li>
	</ol>
</div>
