<div class="picker">
	<ol>
		<li>
			<label class="item-hover">
				<input type="radio" name="group"/>
				<span class="content">
					<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg> <span>Level 1a</span>
				</span>
			</label>
		</li>
		<li>
			<label class="item-hover">
				<input type="radio" name="group"/>
				<span class="content">
					<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg> <span>Level 1b</span>
				</span>
			</label>
			<ol>
				<li>
					<label class="item-hover">
						<input type="radio" name="group"/>
						<span class="content">
							<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg> <span>Level 2a</span>
						</span>
					</label>
				</li>
			</ol>
		</li>
		<li>
			<label class="item-hover">
				<input type="radio" name="group"/>
				<span class="content">
					<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg> <span>Level 1c</span>
				</span>
			</label>
			<ol>
				<li>
					<label class="item-hover">
						<input type="radio" name="group"/>
						<span class="content">
							<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg> <span>Level 2a</span>
						</span>
					</label>
				</li>
				<li>
					<label class="item-hover">
						<input type="radio" name="group"/>
						<span class="content">
							<svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-folder' /></svg> <span>Level 2b</span>
						</span>
					</label>
				</li>
			</ol>
		</li>
	</ol>
</div>
