<form class="form-horizontal">
	<fieldset>
		<div class="form-group">
			<label class="col-sm-3 control-label">nodes</label>
			<div class="col-sm-9">
				<label class="sr-only" for="inputTextAdjacentNode1">node 1</label>
					<div class="w20">
						<toggle></toggle>
					</div>
					<input type="text" id="inputTextAdjacentNode1" class="form-control w20" placeholder="ip address">
					<label class="sr-only" for="inputTextAdjacentPort1">node port 1</label>
					<input type="text" id="inputTextAdjacentPort1" class="form-control w20 m-t-0" placeholder="port">
					<div class="w20">
						<button class="btn btn-default btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg></button>
					</div>
<!--
				<label class="sr-only" for="inputTextAdjacentNode2">node 2</label>
				<div class="w20">
					<toggle></toggle>
				</div>
				<input type="text" id="inputTextAdjacentNode2" class="form-control w40" placeholder="ip address">
				<label class="sr-only" for="inputTextAdjacentPort2">node port 2</label>
				<input type="text" id="inputTextAdjacentPort2" class="form-control w20" placeholder="port">
				<div class="w20">
					<button class="btn btn-default btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg></button>
				</div>

				<label class="sr-only" for="inputTextAdjacentNode3">node 3</label>
				<div class="w20">
					<toggle></toggle>
				</div>
				<input type="text" id="inputTextAdjacentNode3" class="form-control w40" placeholder="ip address">
				<label class="sr-only" for="inputTextAdjacentPort3">node port 3</label>
				<input type="text" id="inputTextAdjacentPort3" class="form-control w20" placeholder="port">
				<div class="w20">
					<button class="btn btn-default btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg></button>
				</div>

				<label class="sr-only" for="inputTextAdjacentNode4">node 4</label>
				<div class="w20">
					<toggle></toggle>
				</div>
				<input type="text" id="inputTextAdjacentNode4" class="form-control w40" placeholder="ip address">
				<label class="sr-only" for="inputTextAdjacentPort4">node port 4</label>
				<input type="text" id="inputTextAdjacentPort4" class="form-control w20" placeholder="port">
				<div class="w20">
					<button class="btn btn-default btn-icon"><svg class="cyclops-icon" aria-hidden="true"><use xlink:href='#icon-times' /></svg></button>
				</div>
				<button class="btn btn-mini btn-default m-t-xs">add node</button> -->
			</div>
		</div>
	</fieldset>
</form>
