<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="activity-history">
				<h5 class="content-header">
					RECENT ACTIVITY
				</h5>
				<section class="day">
					<h5 class="content-header">Tuesday Sep 29</h5>
					<ol>
						<li>
							<div class="timestamp">2:50:05 PM</div>
							<div class="details">
								<div class="subject">Password change for user trent.anderson</div>
								<div class="body">Password change for user trent.anderson by system</div>
								<div class="attribution">
									<span class="createdBy">system</span>
								</div>
							</div>
						</li>
					</ol>
				</section>
				<section class="day">
					<h5 class="content-header">Tuesday Sep 29</h5>
					<ol>
						<li>
							<div class="timestamp">2:50:05 PM</div>
							<div class="details">
								<div class="subject">Password change for user trent.anderson</div>
								<div class="body">Password change for user trent.anderson by system</div>
								<div class="attribution">
									<span class="createdBy">system</span>
								</div>
							</div>
						</li>
					</ol>
				</section>
			</div>
		</div>
	</div>
</div>
