<div class="new-list-view-responsive new-list-view-responsive-sm">
	<div class="new-list-view-toolbar"><a href="#" class="btn btn-default">create new thing</a></div>
	<div class="new-list-view-header">
		<h3 class="col col-25">First Name</h3>
		<h3 class="col col-25">Last Name</h3>
		<h3 class="col col-50">Username</h3>
	</div>
	<ul class="new-list-view">
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Dennis</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Henry</div>
				<div class="col col-50"><span class="col-header">Username</span> dennis.henry</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Brianna</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Johnson</div>
				<div class="col col-50"><span class="col-header">Username</span> brianna.johnson</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Dennis</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Henry</div>
				<div class="col col-50"><span class="col-header">Username</span> dennis.henry</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Beth</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Wilson</div>
				<div class="col col-50"><span class="col-header">Username</span> beth.wilson</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Lewis</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Richardson</div>
				<div class="col col-50"><span class="col-header">Username</span> lewis.richardson</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Juan</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Clark</div>
				<div class="col col-50"><span class="col-header">Username</span> juan.clark</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> vivian</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Hale</div>
				<div class="col col-50"><span class="col-header">Username</span> vivian.hale</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Arianna</div>
				<div class="col col-25"><span class="col-header">Last Name</span> West</div>
				<div class="col col-50"><span class="col-header">Username</span> arianna.west</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Dennis</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Henry</div>
				<div class="col col-50"><span class="col-header">Username</span> dennis.henry</div>
			</div>
		</li>
		<li>
			<div class="list-view-item">
				<div class="col col-25"><span class="col-header">First Name</span> Luke</div>
				<div class="col col-25"><span class="col-header">Last Name</span> Burton</div>
				<div class="col col-50"><span class="col-header">Username</span> luke.burton</div>
			</div>
		</li>
	</ul>
</div>
