<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cyclops Core</title>
    <link href="/css/cyclops.core.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/scripts/cyclops.core.js" ></script>

    {{{block "scripts"}}}
  </body>
</html>
