<!doctype html>
<html class="cyclops">

<head>
  <meta charset="utf-8">
  <title>{{block "title"}} | Cyclops: The Pattern Library</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/tomorrow-night-bright.min.css">
  <link href="./css/cyclops.css" rel="stylesheet" type="text/css" />
  <link href="./css/site.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <main class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        {{> nav }}
      </div>
      <div class="col-md-9">
        {{{ body }}}
      </div>
    </div>
  </main>

  {{> footer }}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="./scripts/cyclops.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script>
    $.holdReady(true);
    $.get("./templates/cyclops.tmpl.html", function(tmpl){
        $("head").append(tmpl);
        $.holdReady(false);
    });
  </script>
  {{{block "scripts"}}}
</body>

</html>
